[2015-08-01 20:03] vkostyukov opened #1 "Rename toJson to asJson"
@travisbrown what do you think about renaming `toJson` to `asJson`? I'm a huge fan of symmetric names for methods that do symmetirc things. Now you can go from `A` to `Json` with `toJson`, but in opposite way (`Json` to `A`) is `as[A]`.

If it sounds good to you I can put together a PR.

[2015-08-01 20:07] vkostyukov opened #2 "What about allocations?"
It would be absolutely terrifc to re-run JMH with `-prof gc` and add one more line for each performnace run: `gc.alloc.norm` (or something like this): bytes per iteration.

[2015-08-01 20:36] travisbrown commented on #2
I've just posted the output [as a gist](https://gist.github.com/travisbrown/fe462ce02dcffb21536e)—let's keep this issue open until we've got those results integrated into the README in a way that isn't too noisy.

[2015-08-02 14:49] travisbrown opened #11 "Change the name?"
jfc was my working title when I started the project a couple of weeks ago. Arguments against it include the following:

1. It's hard to search for.
2. The acronym happens to coincide with a profane bit of Internet slang.
3. Nobody ever, ever wants to be confused with the Java Foundation Classes.

I still like it. I prefer package names to be reverse domain names owned by the project developers (I

[2015-08-02 14:51] non commented on #11
Just to document it here, Circe was a goddess of magic in Greek mythology, and had a role in purifying the Argonauts: https://en.wikipedia.org/wiki/Circe#Later_Greek_literature

[2015-08-02 15:25] tpolecat commented on #11
Love it, specifically because of (2) above. I'm a fan of edgy names :-)

[2015-08-02 15:33] propensive commented on #1
My general rule is that a method called `to` takes a type constructor, whereas a method called `as` takes a proper type.

[2015-08-02 15:44] travisbrown commented on #1
I think that to me `to` means conversion, and specifically conversion that can fail, while `as` is more like safe casting or interpretation—but that's exactly the opposite of my current API, so I'm clearly not thinking too consistently about this stuff.

I say let's go with @propensive's rule and @vkostyukov's suggestion and use `as[A]` and `asJson`.

[2015-08-02 16:30] omidb opened #12 "Adding ScalaJs Compatibility to CIRCE"
Thanks Travis for the library,

Is it compatible with ScalaJS?

[2015-08-02 21:01] tlockney commented on #11
The name is also what you might expect people to post on Twitter when they see that there's yet another Scala JSON library. E.g., "jfc yet another JSON library?!? What the hell is this @travisbrown guy thinking??? https://github.com/travisbrown/jfc" ;~)

[2015-08-02 21:42] vkostyukov commented on #11
+1 for "jfc". It's a great name for this project. Especially when used with project description: " jfc, yet another JSON library" :)

[2015-08-02 23:36] travisbrown commented on #12
No, not currently. Given that Shapeless supports it and it's [coming soon to cats](https://github.com/non/cats/pull/427), it shouldn't be too difficult here. You'd also need a parser (I'm assuming there are probably easier ways than adding Scala.js support to Jawn, since it's JavaScript, after all).

There are a number of things that are higher priorities for me, but I'd be happy to accept a pull

[2015-08-02 23:38] travisbrown commented on #12
@omidb Also, if you'd like to rephrase the issue as a request for Scala.js support, I'd be happy to slap a milestone label on it (probably 0.2, since I'd like to publish an 0.1 sooner rather than later, and I'm not sure what the timing will look like for cats).

[2015-08-03 10:15] InTheNow commented on #11
Jason And the Argonauts -> "Jaguar". They even have a Golden "Fleece"

[2015-08-03 11:45] ceedubs commented on #11
I like circe (though I think there should be a pronunciation helper near the top of the README).

I like "edgy" names to some extent. It makes me very happy that Verizon is using a library called Doobie. However, "jfc" is a term that many would find offensive. Whatever your or my thoughts on religion, it means a great deal to many people, and I think that should be respected.

And on a more practi

[2015-08-03 12:28] InTheNow commented on #11
@travisbrown Just to be clear - I personally don't have an issue with "jfc", I just don't want to see your work go to waste over a name.

I do like "Doobie".... how about "Scoobie"? :wink:

[2015-08-03 13:52] #1 closed

[2015-08-03 14:57] ngbinh commented on #12
:+1: for Scala.js support. Just FYI: here's upickle's parser: https://github.com/lihaoyi/upickle-pprint/blob/master/upickle/js/src/main/scala/upickle/json/package.scala

[2015-08-03 16:13] tpolecat commented on #11
Ok re: fleece + cats the correct name is **fleas**. You're welcome.

[2015-08-03 18:44] travisbrown commented on #11
Thanks for the input, all. I'm thinking we probably should change the name, and sorry, @tpolecat but "circe" is still the current frontrunner. I'm planning an 0.1 for this coming weekend, and any name change will happen before then, but other suggestions are still definitely welcome.

[2015-08-04 07:00] mdedetrich commented on #11
How about "meowson" play on "meow" + "json" (meow coming from cats)

[2015-08-04 11:09] InTheNow commented on #12
Cats support is done, just waiting for a second :+1: from a maintainer :wink:  - https://github.com/non/cats/pull/427

[2015-08-05 17:15] #2 closed

[2015-08-05 17:23] vkostyukov commented on #2
Thanks! Resluts look very prommising! :+1: Nice work!

[2015-08-05 17:24] vkostyukov opened #19 "Add CONTRIBUTING.md"
We can start with adopting Finch's [CONTRIBUTING.md](https://github.com/finagle/finch/blob/master/CONTRIBUTING.md), which looks pretty solid to me. I can put together a PR with initial version.

[2015-08-07 21:35] trane commented on #11
*cough* purrgonaut *cough*

[2015-08-09 22:57] #11 closed

[2015-08-10 02:06] mdedetrich commented on #11
Oh my god, purrgonaut is so good

[2015-08-10 13:29] milessabin commented on #11
Someone _has_ to find a good use for "fleas" ;-)

[2015-08-11 13:38] seanparsons commented on #11
@non "...had a role in purifying the Argonauts..." Indeed.

[2015-08-11 15:01] travisbrown commented on #11
@seanparsons For the record, I like the name "circe" because it's vaguely associated with Jason and the Argonauts, but mostly I just think that a person whose biggest claim to fame is turning people into animals is a good figurehead for a library about turning Scala types into a horrible format like JSON.

I mean [what I say](https://github.com/travisbrown/circe#why) about Argonaut in the README—I

[2015-08-11 16:33] travisbrown opened #26 "Add support for convenient non-generic codec definition"
circe currently doesn't include anything like Argonaut's `jdecodeNL`, `casecodecN`, etc.—you can define instances entirely by hand, semi-automatically with `io.circe.generic.semiauto._`, or fully automatically with `io.circe.generic.auto._`, but that's it.

There's currently no arity-level boilerplate in the `core` project, and I'm not sure how I want to handle this, but I want to provide somethin

[2015-08-11 16:37] travisbrown opened #27 "Document automatic derivation more completely"
circe's automatic derivation module provides some interesting (and I think unusual) functionality that's barely documented right now, including [incomplete case class instances](https://meta.plasm.us/posts/2015/06/21/deriving-incomplete-type-class-instances/) and [patch instances](https://github.com/travisbrown/circe/pull/24).

I want to create a new README under the `generic` directory that descr

[2015-08-11 16:53] vkostyukov commented on #27
:+1: From my understanding, the `generic` pacakge is a killer feature of circe. It somehow defines a new (and awesome) approach of dealing with JSON encoding/decoding. We should spread the world about it!

[2015-08-12 12:54] travisbrown opened #29 "Remove cats from core?"
@alexarchambault has just submitted a pull request (#28) that removes cats from core and adds a new cats module that includes all of the original type class instances and operations that depended on cats.

This isn't terribly disruptive. Not having a right-biased disjunction is kind of annoying, but in my opinion not annoying enough to justify a dependency on its own. The `M` versions of `withFocu

[2015-08-12 13:37] milessabin commented on #29
My main concern is that it's quite likely that further developments _would_ make more use of Cats, which would be forced into the Cats submodule. The net result would be that we would be back to where we are now but with dependencies on two modules rather than one and the additional complexity of attempting to split functionality across an arbitrary boundary.

[2015-08-12 13:47] travisbrown commented on #29
@milessabin Agreed. Here are some of these potential additional uses of cats that I've thought about:

1. Make `Decoder` a value class wrapper for `Kleisli[Xor[DecodingFailure, ?], HCursor, ?]` and get a few of its operations from isometric instances.
2. Monoid up `JsonObject` etc. and get rid of the one-off `:+`, etc.
3. Give `Cursor` and history tracking a more explicit `Free` treatment.
4. If c

[2015-08-12 14:02] travisbrown opened #30 "Use export-hook in core"
I'm creating this issue to follow up on a comment by @dwijnand [on gitter](https://gitter.im/travisbrown/circe?at=55cb4fe20c29567545d9d7c0):

I've played around with [export-hook](https://github.com/milessabin/export-hook) in core, but I really want to push on the experiment of keeping generic derivation modular for as long as possible. I don't love my current approach of getting priorities right

[2015-08-12 14:13] travisbrown commented on #29
For the record there's additional conversation on this issue [in the gitter room](https://gitter.im/travisbrown/circe?at=55cb49fc8f067d6375991088).

[2015-08-12 14:38] travisbrown commented on #30
I'm removing the question tag since @milessabin has just convinced me that export-hook can do what I want. I'll tackle this next week unless someone beats me to it.

[2015-08-13 04:00] ngbinh commented on #29
echo @milessabin concern. I am not sure how useful can circe without cats module be?

[2015-08-13 04:01] ngbinh commented on #12
https://github.com/non/cats/pull/427 has been merged

[2015-08-13 04:12] travisbrown commented on #29
@ngbinh Many (most?) use cases wouldn't require the circe-cats module.

See for example @vkostyukov's new example Finch + circe project [here](https://github.com/vkostyukov/finch-101/blob/master/src/main/scala/i/f/workshop/finch/Todo.scala). It uses circe's Shapeless-powered codec derivation and (indirectly through finch-circe) circe-jawn, but it would look literally exactly the same if #28 gets m

[2015-08-13 04:28] ngbinh commented on #29
@travisbrown I see, thanks!

[2015-08-14 18:56] travisbrown commented on #29
My current thinking on this is that we move forward in this direction (cats in a module) as an experiment, but make it clear in the README that cats _might_ be reintroduced into core at some point before 1.0 (or 0.5 or some other earlier cut-off if we think that would be better).

Any objections?

[2015-08-14 20:55] djx314 opened #34 "Compile error when encode a case class"
I don't find the reason with the bug, just provide all I know.
[code]

It seems that sometimes I have to provide implicit val aabbcc = Encoder[Aaaaa], and it looks like that complete always successfully when I provide the implicit val aabbcc = Encoder[Aaaaa], and sometimes fail when I just type kk.asJson without implicit.
Any fix or suggest?

[2015-08-14 21:11] djx314 commented on #34
Oh, I forgot it, when decode a case class like it provide above, it used to provide some Decoder of the class that defined in properties sometimes.

[2015-08-14 22:50] travisbrown commented on #34
Thanks for the report! I'm at a conference today but I'll take a look this evening.

[2015-08-15 03:56] jilen opened #35 "Useless compile error while lacking encoder/decoder"
If there is no encode for date, then compiler complains
[code]

[code]

[2015-08-15 04:29] travisbrown commented on #35
Yeah, that's a pretty terrible error message—thanks for pointing it out.

The implementation of the generic derivation mechanism will be changing with #30, which I'm hoping to get done tomorrow, so after that dust settles I'll revisit this and #34, since things might be a little different by then. We should be able to use `@implicitNotFound` in a few places to improve these messages a lot (see for

[2015-08-15 05:14] djx314 commented on #35
+1 to use implicitNotFound !
To decode and encode date, juest implicit
[code]
Because of date has many format, I suggest that defined it in the documention and don't add a default format in the jfc.

[2015-08-15 13:13] alexarchambault commented on #34
@travisbrown I tried to port my latest developments from argonaut-shapeless here, see https://github.com/alexarchambault/circe/commits/topic/generic. These seem to fix this issue, but rely on new developments in shapeless (https://github.com/milessabin/shapeless/pull/435), not merged in mainline yet.

I've been trying to fix it without overhauling the generic module, without success (fixing it was

[2015-08-15 16:43] travisbrown opened #36 "Unwanted object encoding instances for tuples, lists, etc."
I've introduced an `ObjectEncoder[A]` type class that extends `Encoder[A]` but additionally guarantees that the generated JSON will be a JSON object. Argonaut doesn't provide this, but it's useful in many situations where you as the developer _know_ that the instance for a type has this property (meaning that `asObject` casts would just be noise and extra code to maintain).

`ObjectEncoder` is a w

[2015-08-15 16:58] travisbrown opened #37 "Add tuple instances to core?"
`circe-core` currently does not provide `Encoder` and `Decoder` instances for tuples, which are instead provided by the `generic` module. The mechanism is a little more complicated than I'd like—we want tuples to be treated differently from all other case classes, so we have to use implicit prioritization tricks to make sure they end up earlier in line.

This could be simplified a little with #30

[2015-08-15 17:03] travisbrown commented on #34
Thanks, @alexarchambault! I'd like to spend a little bit of time understanding what's going on in your `generic` branch, and how it related to export-hook, and since I'm at Scala by the Bay today that probably won't happen until tomorrow.

I've also just created #36 and #37 to highlight some issues related to `ObjectEncoder` and tuple instances, which I think complicates some things and simplifies

[2015-08-15 18:11] travisbrown commented on #29
One other area where cats would be useful in core is for applicative decoding. I really like the support that Play JSON provides for accumulating errors, and it'd be a nice addition here, but it would be a lot more laborious without a `NonEmptyList` and syntax for working with applicatives.

[2015-08-16 03:42] alexarchambault commented on #29
@travisbrown I agree that accumulating errors would nice, and that it would be somehow painful to write without the help of cats.

But what could be even nicer would be to be able to choose whether decoding should stop at first error (as it does currently, within the lines of argonaut) or collect all errors that can be. (This could even be done on a type-by-type basis, some stopping at first error

[2015-08-16 15:09] alexarchambault commented on #29
The changes I talk about in my previous comment are a bit speculative for now. I don't mind putting the possible split of the core module (into core and cats modules) on hold for now, and the one you're talking about (errors accumulation) being given a try.

[2015-08-16 15:57] travisbrown commented on #29
@alexarchambault I could imagine having `apply` on `Decoder` return a `Validated` with accumulated errors, with a new method providing a fast-failing `Xor` result for cases where you've got something like a large `Map[String, Something]` in your target type and don't need all the errors.

My conference marathon ended last night, so I'll put together a pull request this morning and we can see if we

[2015-08-19 21:28] travisbrown opened #38 "Codecs for maps with non-string keys"
@koshelev asked today [on gitter](https://gitter.im/travisbrown/circe?at=55d4d70a11c7afc249785e77) about `Decoder` instances for a `Map` with non-string keys.

It'd be nice to have a clear story for these cases. This new [Argonaut pull request](https://github.com/argonaut-io/argonaut/pull/189/files) by @xuwei-k is one solution: you have to provide a mapping from keys to strings, and then you get t

[2015-08-19 21:44] travisbrown commented on #12
How would people feel about some kind of "best effort" Scala.js support? I'm imagining something like the following:

1. We don't include Scala.js in the Travis CI config (at least for now).
2. Anyone submitting a substantial PR would be expected to run the Scala.js build locally.
3. We make sure Scala.js support is working before releases.

In part because this is such a young project, I don't re

[2015-08-20 04:47] ngbinh commented on #12
I understand the pain. But doing so would make scala.js support 2nd class citizen. Also, does that mean we cannot have *official* scala.js artifacts on Maven?

Can you please point out the pain you experience with supporting scala.js?

[2015-08-20 07:15] koshelev commented on #38
I like the first approach, with mapping keys to string. It could be very handy in case where a key is a scala value class, wrapping strings.

[2015-08-20 08:13] InTheNow commented on #12
@travisbrown All the cats CI issues have been resolved so it would make sense to me to get scalajs support in asap (assuming of course, that's your end goal). Shout if you need any help, btw

[2015-08-20 19:18] adelbertc opened #39 "Monocle lenses for Circe"
Dependent on: https://github.com/julien-truffaut/Monocle/issues/235

[2015-08-21 00:43] alexarchambault commented on #12
@travisbrown A way of achieving that could be to have two branches, differing only by their `.travis.yml`.

`master` would compile for JVM Scala, and a `scalajs` branch would compile for for Scala.js. `master` would be merged in `scalajs` from time to time, and possible Scala.js proper issues fixed then.

[2015-08-21 11:46] #12 closed

[2015-08-23 09:19] mkotsbak opened #41 "Support for MetaRx / Widok"
Would be nice if support for https://github.com/MetaStack-pl/MetaRx was added. As it probably adds a dependency, it should probably be placed in a separate module.

[2015-08-26 14:49] travisbrown commented on #41
@mkotsbak I'm not very familiar with MetaRx—what do you imagine this support looking like?

[2015-08-27 02:44] travisbrown commented on #37
Fixed by #42.

[2015-08-27 02:44] #37 closed

[2015-08-27 02:48] travisbrown commented on #34
The error message situation is a little better after #43, but it doesn't fix this and the message still isn't great:

[code]

[2015-08-27 13:01] travisbrown commented on #30
Fixed by #43.

[2015-08-27 13:01] travisbrown commented on #30
Fixed by #43.

[2015-08-27 13:01] #30 closed

[2015-08-27 13:02] travisbrown commented on #26
This will be easier now that the basic machinery for boilerplate is set up in #42.

[2015-08-27 13:04] travisbrown commented on #35
I'm going to go ahead and close this since the following is a huge improvement:

[code]

I'm not actually sure there's much additional useful information we could add with `@implicitNotFound` in this case, apart from maybe a pointer to the docs.

[2015-08-27 13:04] #35 closed

[2015-08-27 13:15] travisbrown opened #44 "Provide parsing and printing for Scala.js"
We now have Scala.js support, but it's not terribly useful yet, since we don't have parsers or printers that work for Scala.js.

For parsing I'm thinking we'll create a new circe-js module with something like [upickle's parser](https://github.com/lihaoyi/upickle-pprint/blob/master/upickle/js/src/main/scala/upickle/json/package.scala).

For printing the only issue is that I'm using Java's `CopyOnWr

[2015-08-27 13:44] travisbrown opened #45 "Get serializability right"
I hate dealing with `java.lang.Serializable`, but I'd like to support Spark usage and it's not really that much overhead.

I'd guess "getting it right" would mean something like cats's `SerializableLaws`.

[2015-08-27 14:21] dwijnand commented on #30
:+1:

[2015-08-27 15:35] travisbrown commented on #39
I'd love to see this happen and would happily add a circe-lenses module once Monocle's ready.

[2015-08-27 15:41] alexarchambault commented on #44
About the circe-js module, would it be convenient at the end for users to write things targetting both JVM and JS?

By that, I mean that ideally, user code should be the same for both JVM and JS. To achieve that, a parser modules having a common API on both JVM and JS would be needed, backed by jawn on the JVM and native or custom parsing on JS. It could be a circe-parser module, depending on circ

[2015-08-27 15:43] alexarchambault commented on #44
About circe-js, wouldn't it be better to have both native and hand-written parsers?

[2015-08-27 15:53] travisbrown commented on #44
circe-parser sounds reasonable to me.

What do you mean by both native and hand-written?

[2015-08-27 17:17] alexarchambault commented on #44
Oops, I though you initially meant a parser like the one pointed at [here](https://github.com/travisbrown/circe/pull/33#issuecomment-131554727), which was what I mean by hand-written parser.

Native parser would be one backed by `JSON.parse`, which is what you meant it seems. Just a native parser like this is fine, no absolute need for a hand-written one.

[2015-08-30 16:15] #44 closed

[2015-08-30 21:12] #45 closed

[2015-09-02 06:17] tylerprete opened #55 "Odd incorrect encoding of heterogenous map"
With circe 0.1.1, I'm running the following program:

[code]

With the result:
[code]

[2015-09-02 06:30] tylerprete opened #56 "Compilation Failure with heterogenous map"
With an addition to my other issue, I get the following compilation error.

[code]

[code]

[2015-09-02 07:36] alexarchambault commented on #55
Seems related to https://github.com/milessabin/shapeless/issues/453. The second map (`Map("str" -> "b", "map" -> Map("d" -> 1))`) is inferred as `Map[String, Object]`, and `Object` happens to have a (defective) `Generic` because of https://github.com/milessabin/shapeless/issues/453.

[2015-09-02 13:55] travisbrown commented on #56
This is the expected behavior—circe doesn't use runtime reflection, so there's nothing (reasonable) it can do with something that's statically typed as a `Map[String, Map[String, Serializable]]`.

[2015-09-02 13:55] #56 closed

[2015-09-02 14:01] travisbrown opened #57 "Add non-compilation tests"
In #55 @tylerprete points out that `generic.auto` will find an `Encoder` instance for `Map[String, Map[String, Object]]`, which is definitely not a good thing.

We should add tests to confirm that circe won't find encoders or decoders for types like `Object`, `Product`, etc. (we might need to wait for a fix for [this Shapeless bug](https://github.com/milessabin/shapeless/issues/453) before we can

[2015-09-02 14:16] travisbrown commented on #55
Thanks for catching this, @tylerprete! That definitely shouldn't compile, and I've created #57 to track new tests that will verify that.

[2015-09-03 02:21] #34 closed

[2015-09-03 13:55] travisbrown commented on #57
Adding this to the 0.2.0 milestone since we're waiting on Shapeless 2.3.0 anyway.

[2015-09-03 14:28] crakjie opened #59 "Timings comparaison with Play json"
I had made few test to compare performances of play json and circe.
First I was chock by a huge differences between thems 8ms for circe and just 0.1ms for play.
( theses test are made in a scala console. This may have an incidence )

[Here a gist of the test](https://gist.github.com/crakjie/a256baf41d94bfe59d0b).
 you can copy past this in console (with the right dependency ) and run ```Test.run``

[2015-09-03 14:32] ktoso commented on #59
For writing benchmarks please consider using [sbt-jmh](http://github.com/ktoso/sbt-jmh) (it's wrapping [OpenJDK's JMH](http://openjdk.java.net/projects/code-tools/jmh/)) as it will give more accurate results than running something in a loop or a few times in the repl – there's all kinds of warm-up method JIT-ing and other effects in play (no pun intended :wink:) here so it's hard to measure proper

[2015-09-03 14:41] travisbrown commented on #59
Thanks, @ktoso. We're very happily using your sbt-jmh for circe and Finch's benchmarks, and I'll close this issue when I've added Play JSON to the circe benchmarks (which currently only compare against Argonaut).

(And right, with a little warmup [circe looks faster](https://gist.github.com/crakjie/a256baf41d94bfe59d0b#gistcomment-1565965) with @crakjie's code.)

[2015-09-03 14:43] crakjie commented on #59
Why play json don't have this "problem" ?

[2015-09-03 14:45] ktoso commented on #59
Great, thanks @travisbrown :-)

(I've got this knee-jerk reaction when I see hand-rolled benchmarks to recommend proper tools, sorry for the noise :wink:)

[2015-09-03 14:54] travisbrown commented on #59
@crakjie There's so much stuff happening in any JVM implementation that you just can't meaningfully compare the performance of operations like this without warmup, etc.

For example, even just running the Play version first pretty much evens things out:

[code]

But this still doesn't really tell you anything.

[2015-09-06 20:18] #59 closed

[2015-09-17 00:00] trane opened #65 "Support for default parameter values in generic"
This appears to be mostly shapeless related, but @travisbrown asked me to file this for posterity...

[code]

[2015-09-17 00:04] alexarchambault commented on #65
Something like https://github.com/milessabin/shapeless/pull/459 would allow to address that (default field values can easily be pulled like in this [test](https://github.com/alexarchambault/shapeless/blob/8ec877d9a6f06dd07a2548f60410eb485b3f28dd/core/src/test/scala/shapeless/derive.scala#L283)).

[2015-09-18 17:23] travisbrown commented on #65
One general question: should this be the behavior provided by `generic.auto` (if default values are available in the `Default` instance, use them), or should it be an option provided by `semiauto`?—i.e. something like this:

[code]

[2015-09-18 17:27] trane commented on #65
I don't know what the benefit is to having it in `semiauto`. The least surprising option, from my point of view, is to treat `case class X` with/without defaults the same way.

[2015-09-18 17:32] travisbrown commented on #65
@trane It's not necessarily obvious that a derived decoder will use default constructor values (when they're needed), and if that's _not_ the behavior you want, it could be an unpleasant surprise. But I agree—I think it makes sense to use them (with plenty of documentation) in `auto`, and to provide something like `decoderWithoutDefaults` in `semiauto`.

[2015-09-18 17:35] trane commented on #65
@travisbrown don't trust my point of view, I've been coding in Ruby for the past 2 years -- of course I like magic and surprising behavior!

[2015-10-05 09:17] crakjie opened #69 "Derivation of big case class"
Derivation of big case class finish by a `could not find implicit value for parameter e: io.circe.Encoder[A]`and `could not find implicit value for parameter e: io.circe.Decoder[A]`

[Here a gist that show the problem ](https://gist.github.com/crakjie/92138a2c685fb544cc28)

[2015-10-19 16:48] fsvehla opened #70 "Release version that is built against Cats 0.2"
I see it’s already in master, but not released yet.

[2015-10-22 19:35] travisbrown commented on #70
0.2.0 snapshots (which depend on cats 0.2) are available now from Sonatype:

[code]

There are other changes in 0.2.0 that depend on recent work in the upcoming Shapeless 2.3.0, and as soon as that's published I'll release it.

[2015-10-22 19:35] #70 closed

[2015-10-24 23:05] travisbrown opened #73 "Generic derivation chokes on recursive types in certain situations"
The generic derivation mechanism can handle recursive type definitions, but it will choose the wrong codecs when there's an intervening non-derived type. For example (the error messages also need some work, but I'll save that for another issue):

[code]

But this works:

[code]

And similarly:

[code]

This makes it clear that circe is using the derived instance for `Option[A: Decoder]` instead of

[2015-10-26 20:42] ochrons opened #75 "Add an Arbitrary instance for JsonNumber"
For exhaustive testing of JsonNumber codecs.

[2015-11-01 15:20] #73 closed

[2015-11-02 15:58] #75 closed

[2015-11-02 21:56] travisbrown opened #83 "Reconsider integral decoders"
circe currently follows Argonaut in truncating, etc. when decoding integral types:

[code]

I don't really like this, and would prefer both of the above to result in failures. Any objections?

[2015-11-02 23:47] ceedubs commented on #83
@travisbrown I agree. What about `io.circe.parse.decode[Short]("1.0")`?

[2015-11-03 00:44] travisbrown commented on #83
@ceedubs I'd prefer to have it fail, but I think that's a case where we may need to be flexible because of real-world JSON usage. What do you think?

[2015-11-03 08:12] julienrf commented on #83
I agree.

[2015-11-03 12:29] ceedubs commented on #83
@travisbrown I think the "1.0" example should probably be supported. It's one of those things where you don't really care until for some reason you are getting JSON of this form and it's a hassle if your JSON lib chokes on it. So would the rule be that there can be trailing zeros after the decimal place but any other numbers would cause `Short`, `Int`, or `Long` parsing to fail?

BTW I also don't

[2015-11-04 20:32] longcao opened #88 "Stringified object representations don't preserve field order"
Currently, stringified `io.circe.Json` doesn't appear to preserve field order. This doesn't matter for machines but it would greatly help human readability.

[code]

[2015-11-04 21:20] alexarchambault commented on #88
@longcao Order is preserved internally, it's just that the default printers don't preserve it in their output, see https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/Printer.scala#L215.

The following gives back the right order for me:
[code]
giving
[code]

[2015-11-05 03:47] travisbrown commented on #88
Fixed by #89—thanks @longcao, @alexarchambault!

[2015-11-05 03:47] #88 closed

[2015-11-05 04:13] #55 closed

[2015-11-05 18:48] travisbrown commented on #39
Marking this _in progress_ since I've started on it in #78 (which currently requires both cats and Scalaz).

[2015-11-07 15:06] chandu0101 opened #92 "Option to remove quotes for keys in printer"
Currently printer prints keys with string quotes

[code]
Use cases : Some API's(for example GraphQL) doesn't allow keys with quotes

Fix :
Looks like an easy one
https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/Printer.scala#L166

[code]

please review current proposal and let me know the feedback , i can send a PR :)

[2015-11-07 15:23] chandu0101 opened #93 "New module for scala.js specific helpers"
as discussed in gitter

what can be the name for new module ?

my picks  - `sjs` , `sjs-helpers` ( just popping whats on top of my head )

[2015-11-07 16:19] travisbrown commented on #92
Thanks, @chandu0101, but I'm a little hesitant to add this to `core`, for a few reasons:

1. The result isn't valid JSON. In some cases circe can be configured to be more conservative than the JSON spec (e.g. it can maintain insertion order), but not less.
2. If we did decide to support this syntax on the printing side, I'd prefer to support parsing it, and that's likely to be a lot more complicat

[2015-11-07 16:22] travisbrown commented on #93
My vote is for `scalajs`, with `circe-scalajs` for the artifact name. Any chance you want to get started on one? :smile:

[2015-11-07 22:59] chandu0101 commented on #92
first of all thanks for prompt and detailed response

End of the story, i thought its a valid JSON :(

Yeah GraphQL is JSON like query lang but its API'S(js clients) accepts valid js.Object's, looks like i am calling API in wrong way even though it works!. I think i actually need `Json` to scala.js `js.Object/js.Dynamic` which we can cover in #93 !

[2015-11-07 22:59] #92 closed

[2015-11-07 23:00] chandu0101 commented on #93
:+1:

I'll give a shot next week :)

[2015-11-08 00:59] jilen opened #94 "derivation not work againts scala 2.10"
It will complain

Code: https://github.com/jilen/play-circe/blob/master/src/test/scala/play/api/libs/circe/CirceController.scala
Repo:  https://github.com/jilen/play-circe
Build: https://travis-ci.org/jilen/play-circe/builds/89882209

[2015-11-08 12:59] alexarchambault commented on #94
@jilen You should add the macro-paradise plugin to your build in 2.10, like described [here](https://github.com/milessabin/shapeless#shapeless-225).

The circe documentation should mention that, imo.

[2015-11-08 15:52] jilen commented on #94
@alexarchambault  Thanks

[2015-11-08 15:52] #94 closed

[2015-11-11 17:51] alexarchambault opened #100 "Add codecs for singleton types"
It would be nice to have codecs for singleton types (``Witness.`"value".`.T`` and the like), to use e.g. like
[code]
allowing to force some fields to a given value.

I did that in argonaut-shapeless, and it's working nicely.

Just wanted to enquire opinions, before possibly sending a PR. Also the `generic` module seems the more likely for that, as it depends on shapeless, although this is not full

[2015-11-11 17:58] alexarchambault opened #101 "Add refined module"
@fthomas's [refined](https://github.com/fthomas/refined) allows to restrict the values that some fields can take, at the type level, like
[code]
preventing before hand the corresponding fields to have invalid values.

I added a [module](https://github.com/alexarchambault/argonaut-shapeless/tree/master/refined/) with codecs for that in argonaut-shapeless, that works nicely too.

Just wanted to enqu

[2015-11-11 19:13] travisbrown commented on #101
:+1: from me.

[2015-11-11 19:18] travisbrown commented on #100
Are there practical use cases for this? The refined module makes sense to me, but this seems to duplicate the role of other (less clunky) validation mechanisms.

I agree that this doesn't seem to fit nicely in `generic`, and while it'd only take a very simple macro to add it to `core`, I'm not sure we want to give up circe's macro-free status for something without a clear payoff.

[2015-11-11 20:05] alexarchambault commented on #100
I typically use these when the underlying protocol expects a constant value. This allows to put / expect constant values in JSON objects, while still using auto-codecs.

[2015-11-11 20:09] fthomas commented on #100
If you're going to add support for refined, you could accomplish the same with
[code]

[2015-11-11 20:34] alexarchambault commented on #100
@fthomas I agree, it's nice to have the simple ``Witness.`"test"`.T`` too.

I don't see it as a validation mechanism... It's just a way to put constants in the output.

These would just be codecs for singleton types, that are around anyway.

[2015-11-11 23:06] alexarchambault commented on #101
Fixed by https://github.com/travisbrown/circe/pull/103

[2015-11-11 23:06] #101 closed

[2015-11-16 21:31] travisbrown opened #113 "Undo Scala.js workaround when 0.6.6 is available"
#110 includes a workaround for a [Scala.js bug](https://github.com/scala-js/scala-js/issues/2023) that's been fixed but not released. Once 0.6.6 is out we can remove the workaround.

[2015-11-24 21:31] travisbrown opened #124 "Conversion from JsonNumber to BigDecimal can throw exceptions"
JSON allows numbers with exponents larger than `Int.MaxValue`, and `JsonNumber.fromString` will happily accept them:

[code]

Unfortunately the `toBigDecimal` method just crashes on `tooBig` here:

[code]

`toDouble` also crashes, as does `toLong`, etc. (even though `toLong` returns an `Option`). The same thing happens with these methods in Argonaut.

This is bad, and needs to be fixed. Here's my

[2015-11-24 22:57] etaty commented on #124
I think your range is too large

http://rfc7159.net/rfc7159#rfc.section.6

https://en.wikipedia.org/wiki/Double-precision_floating-point_format#Double-precision_examples

[2015-11-24 23:07] travisbrown commented on #124
@etaty Agreed that this isn't 100% necessary in any sense, but we're building a JSON library, not a processor, and it'd be nice to be able to represent losslessly as many valid JSON values as reasonably possible.

[2015-11-25 16:25] ngbinh commented on #38
Yes, 1st approach sounds nice and easy! :)

[2015-11-25 17:14] travisbrown commented on #38
Okay, sounds like people want this, so if someone wants to port the Argonaut implementation (with appropriate attribution), I'd be happy to merge it.

[2015-11-25 19:06] travisbrown commented on #39
#78 is now merged and `circe-optics` is available in the 0.3.0 snapshot.

[2015-11-25 19:06] #39 closed

[2015-11-25 21:49] #57 closed

[2015-11-26 04:13] kevinmeredith opened #130 "Request for Case Class Example for De(serialization)"
In my experience with the Play and spray JSON libraries, there's usually a way to serialize and de-serialize using `case classes`

Example from spray-json:

[code]

A `Formatter` provides de-serialization and serialization:

[code]

Does such capability exist in `circe`? If so, could you please show me an example? And, if there is such a way to do this, perhaps it'd be worthwhile to add to the REA

[2015-11-26 04:25] travisbrown commented on #130
Does the example in the [quick start](https://github.com/travisbrown/circe#quick-start) count? If you import `io.circe.generic.auto` you get fully automatic codec derivation for case classes (assuming there are codecs for all members). There's no need to define instances manually, unless you need more control over _how_ the case classes are represented.

[2015-11-26 04:28] kevinmeredith commented on #130
Ah - I completely missed that example.

Thank you, Travis!

[2015-11-26 04:28] #130 closed

[2015-11-26 04:31] kevinmeredith commented on #130
As a follow-up question, that example decodes JSON to a `Foo`, which is a sealed trait.

`scala> decode[Foo](foo.asJson.spaces4)`

Since `Foo` could be either a `Bar` or a `Qux`, how are you defining that decoder?

*Aside* - my reason for asking - https://www.reddit.com/r/scala/comments/3ual3j/proper_deserialization_of_a_trait/

[2015-11-26 04:37] travisbrown commented on #130
There are a [few possible ways](https://gitter.im/travisbrown/circe?at=5640c1ee2e8c19094ec0f714) to represent sealed trait hierarchies, and the default generic derivation uses a wrapper object with a single field with the constructor name as the key (for reasons discussed [here](https://gitter.im/travisbrown/circe?at=5646324e5b7a2ea84f0817d9)).

So in the quick start you get this:

[code]

The res

[2015-12-01 21:04] travisbrown opened #133 "Add a type class combining encoding and decoding"
Today [on Gitter](https://gitter.im/travisbrown/circe?at=565e013c5993bcb005d2cd9a) @julienrf asked the following question:

And [my response](https://gitter.im/travisbrown/circe?at=565e062122df37d14f936065):

My wishlist for a `Codec` type class in circe would look something like this:
1. A `Codec[A]` should be available (without any imports) for any `A` that has a `Decoder` and `Encoder`—i.e. if

[2015-12-01 23:47] tpolecat commented on #133
FWIW I just went through this with doobie (and had a good discussion with @mpilquist who went through a similar exercise with scodec). My approach is:

1. All code is written in terms of `Decode` and `Encode`; if you need both you ask for both.
2. `Codec` is just a convenience for the common case where you have a symmetric pair and want to define them together (or `xmap` an existing pair). It's no

[2015-12-01 23:51] tpolecat commented on #133
Also if you add `Codec[A]` you might consider whether the more general profunctor `GenCodec[A,B]` (name stolen from scodec) is interesting enough to keep around. It kind of pops out. I have it in doobie for now but I'm kind of on the fence.

[2015-12-06 15:55] ngbinh opened #134 "Use `UserId` explicitly instead of `EmailAddress`"

[2015-12-06 15:56] #134 closed

[2015-12-07 14:39] Taig commented on #69
I am facing the same issue with way smaller case classes that are, however, deeply nested (like 5-6 levels deep). Gradually commenting some of the fields out, then compiling, and finally reenabling commented lines to compile again will eventually lead to a working build, but a clean build always fails with the missing Encoder/Decoder error. This issue keeps me from actually using circe.

[2015-12-07 14:43] alexarchambault commented on #69
FYI, the example in the gist above is fine with [argonaut-shapeless](https://github.com/alexarchambault/argonaut-shapeless). There has to be a way to have this working here...

[2015-12-17 22:02] travisbrown commented on #29
We've finally merged error accumulation, only four months after my last comment promising it immediately. :smile:

Given that this work depends heavily on `cats.data.Validated`, I don't think removing cats from core is really an option any more (and it's also not as easy to motivate now that Argonaut is Scalaz-free).

[2015-12-17 22:02] #29 closed

[2015-12-22 16:19] #19 closed

[2015-12-24 15:08] travisbrown opened #154 "Ugh implicit value classes"
If we've got the following set-up:

[code]

And then we try to use the `Optional`, we'll get this:

[code]

But…

[code]

This made absolutely no sense to me for about ten minutes this morning, until I remembered that the `io.circe.syntax.EncoderOps` class looks like this:

[code]

Which means that anything with an `Encoder` instance gets a `a` method that's just the identity. For some reason I ne

[2015-12-24 15:20] xuwei-k commented on #154
or drop Scala 2.10 support?

- https://github.com/scala/scala/commit/4595ac665674b25af776d499ae1da61bb297d379
- https://github.com/scala/scala/commit/e2a34984527c0437cd42476934d0c22164551eed

[2015-12-24 15:48] travisbrown commented on #154
Thanks, @xuwei-k. There are at least a couple of other places where we have workarounds for 2.10—maybe it's time for version-specific source trees.

[2015-12-24 15:57] fthomas commented on #154
Note that Scala.js currently does not look into `shared/src/main/scala-$VERSION` directories (see https://github.com/scala-js/scala-js/issues/2005) so you would have to duplicate some files across js and jvm directories.

[2015-12-24 16:37] chwthewke commented on #154
Sorry for kind of barging in (saw @travisbrown 's tweet), but wouldn't making the field private (`class FooOps(private val a: A) extends AnyVal` etc.) be a viable fourth solution? It does seem to properly hide the `a` method.

[2015-12-24 16:47] travisbrown commented on #154
@chwthewke That works on 2.11, but not 2.10, unfortunately.

[2015-12-24 17:20] chwthewke commented on #154
@travisbrown Gotcha, thanks for the explanation

[2015-12-24 22:10] propensive commented on #154
I don't think option 2 is a bad choice. It would be consistent with the common approach of giving implicit values long, descriptive names to avoid likely clashes.

[2015-12-25 10:56] InTheNow commented on #154
Or copy https://github.com/InTheNow/sbt-catalysts/blob/master/src/main/scala/sbtcatalysts/CatalystsPlugin.scala#L156-L172

(Or... just use sbt-catalysts)

[2016-01-15 03:44] travisbrown commented on #100
This is resolved by #162, which is now in master.

[2016-01-15 03:44] #100 closed

[2016-01-15 09:36] dwijnand opened #166 "Provide a macro-annotation to reduce defining Encoder/Decoder pairs"
From your blog post https://meta.plasm.us/posts/2016/01/14/configuring-generic-derivation/

I was wondering if perhaps

[code]

could be further boilerplate-reduced to

[code]

I've read your "The public API should not contain unnecessary types" point in [DESIGN.md](https://github.com/travisbrown/circe/blob/94379728f8c4d3c799c076d0257b191ce58195c7/DESIGN.md) and #133, and I think this doesn't go a

[2016-01-15 09:47] dwijnand opened #167 "Privileged configurable generic derivation"
From your post https://meta.plasm.us/posts/2016/01/14/configuring-generic-derivation/

I was wondering if perhaps in a codebase, where there is a set convention (in my case snake_case over camelCase keys), it would be possible to configure that the priviledged `.asJson` to would always mean use SnakeCaseKeys, and do the same also for the decoding API.

[2016-01-15 15:08] travisbrown commented on #167
It's possible to do this now:

    import io.circe._, io.circe.generic.auto._, io.circe.generic.config._

    implicit def snakeCaseDecoder[A](implicit
      decoder: ConfiguredDecoder[SnakeCaseKeys, A]
    ): export.Export0[Decoder[A]] = new export.Export0(decoder)

This exports instances configured to use snake-case at a higher priority that the default for exported instances. These won't take p

[2016-01-15 15:33] dwijnand commented on #167
That's awesome, especially the priority over custom instances part. Thank you.

[2016-01-15 17:10] travisbrown commented on #166
I've been resisting adding macros to circe, but the seal is broken now, so I think we should consider this.

We'd have to change the language in the first item in the design doc a bit. The prohibition against annotations there is primarily intended to target member-level annotations, and I don't think this kind of thing (where the macro annotation is just nice syntax for `semiauto` definitions) is

[2016-01-15 17:14] travisbrown commented on #167
I'm going to reopen this issue because I can imagine providing explicit support for this—e.g. something like:

[code]

I'm not 100% sure I like this, but I think it's worth discussing.

[2016-01-15 22:12] dwijnand commented on #166
I'm not against rolling up my sleeves and contributing, but I've a stack of sbt things I'd like to tend to, so I don't think I'll be able to get to it in a week or so.

[2016-01-16 07:47] ngbinh commented on #166
This is something we love to have also.

[2016-01-22 15:53] travisbrown opened #169 "Add a deep merge operation"
Requested by @mpilquist on Gitter, where there's [some discussion](https://gitter.im/travisbrown/circe?at=56915002ee13050b38a293b3) of the issues involved. For now I think it makes sense to go with something like the simpler version in Argonaut (not the `HCursor => HCursor` idea) but with the argument determining the field order for consistency.

[2016-01-22 15:55] travisbrown opened #170 "Provide instances for OneAnd"
From @mpilquist on [Gitter](https://gitter.im/travisbrown/circe?at=56a24a39dc33b33c754747e2). We currently provide encoders and decoders for `NonEmptyList`, but these instances could be for any `OneAnd` where there's an instance for the collection type.

[2016-01-22 19:27] ArtemPyanykh commented on #170
I wonder what you mean by "_where there's an instance for the collection type_"?

As far as I understand even if we have an `Encoder` for `F[A]` in case of `OneAnd` we need to be able to put an additional value `head: A` inside a context `tail: F[A]` before applying the encoder. If we're speaking only about `NonEmptyList/Vector/Stream` it might be enough to have:
[code]

For decoder this won't wor

[2016-01-22 19:53] travisbrown commented on #170
@ArtemPyanykh You're right that there are a few ways this could be done, and I think it's fine to only target collection-like `OneAnd`s.

One other approach would be to require only instances for both `A` and `F[A]` for the `OneAnd[F, A]` codecs. For the encoder you apply the `F[A]` encoder to the tail and then prepend the encoded head _if_ the `F[A]` encoder returned a `JArray` (and fail otherwis

[2016-01-22 20:49] ArtemPyanykh commented on #170
@travisbrown not sure about this part "prepend the encoded head if the F[A] encoder returned a JArray (and fail otherwise)". The signature of Encoder's apply `def apply(a: A): Json` assumes we should always be able to encode `OneAnd[F, A]`, so I'm not sure at which point we could gracefully fail.

As for the decoder -- I need to think a bit. Basically my concern is `OneAnd[List, Int]` would be enc

[2016-01-22 21:06] travisbrown commented on #170
@ArtemPyanykh Oh, you're right about encoding (sorry—in the middle of something else and not paying enough attention). Then `Foldable[F]` probably makes sense for `Encoder`.

Here's a quick sketch of the idea for decoding:

[code]

It might be possible to improve the implementation but that basic idea should work.

[2016-01-22 21:32] ArtemPyanykh commented on #170
@travisbrown ah, didn't think we could just remove the first element of an array :smile: Cool, let me try that one then.

[2016-01-25 09:53] anakos commented on #169
As per the contributing guide, I am going to begin work on this.

[2016-01-25 23:16] knutwalker opened #173 "Try to convert string value in Double/Float decoders"
From the [Gitter conversation](https://gitter.im/travisbrown/circe?at=56a69f40c54bc2bf180bfcd6).

The Decoders for `Int`, `Long` and other integral types try to convert a string into their number type.

[code]

The decoder for `Double` and `Float` don't try this conversion because of this:

[code]

However, we could use `JsonNumber.fromString` and `_.toDouble` to try to safely convert a String int

[2016-01-26 09:29] MartinSeeler commented on #173
I think this is a good idea!

[2016-01-26 14:48] freddie-freeloader opened #175 "Readme parsing example won't compile"
Thanks a lot for this great library! :smile:

The first example won't compile, because of ambiguous imports for `parse`:

[code]
I think `jawn.parse(json).getOrElse(Json.empty)` on the other hand is doing the job just fine or have I missed anything?

[2016-01-26 15:02] travisbrown commented on #175
Ah, good catch! I'd be more than happy to accept a pull request to change the `io.circe.jawn._` import to `io.circe.parse._` if you want to submit one, or I can take care of it myself later today.

[2016-01-26 15:06] travisbrown commented on #169
Fixed by @anakos in #172.

[2016-01-26 15:06] #169 closed

[2016-01-26 16:30] freddie-freeloader commented on #175
If I import `io.circe.parse._` instead of `io.circe.jawn._` I get:
[code]
:disappointed:

[2016-01-31 14:15] #113 closed

[2016-02-02 16:27] travisbrown commented on #170
Fixed by #178. Thanks again, @ArtemPyanykh.

[2016-02-02 16:27] #170 closed

[2016-02-02 17:44] ArtemPyanykh commented on #170
@travisbrown no problem, looking forward to contribute more. This `beginner-friendly` flag is really helpful :+1:

[2016-02-02 22:57] travisbrown opened #187 "Ugh signed zeros"
Let me start by saying that I spent my entire life up until about an hour ago without realizing what a shitshow signed zeros are, and I wish I could go back to a state of innocence, so you might want to close the tab and move on.

First for the basics:

[code]

Hurray, that makes no sense (but at least you might have seen it before).

Cats and Scalaz also disagree:

[code]

Apparently IEEE 754 say

[2016-02-02 23:08] ceedubs commented on #187
I don't have any helpful input on your suggestion, but I just want to :clap: for an excellent writeup with an introductory paragraph that guaranteed I would read on.

[2016-02-02 23:21] non commented on #187
So, first of all, welcome to the hell that is IEEE-754 on the JVM.

We're talking about floating-point, so obviously things are going to be terrible no matter what we do. I'm going to lay out my own feelings on the "right thing" to do, with the proviso that there are obviously problems.

First of all, I have accepted that type classes parameterized on `Double` or `Float` are usually not law-abidin

[2016-02-02 23:40] travisbrown commented on #187
Thanks for the detailed answer, @non!

I still think I want to go with your second option. If someone said they want to distinguish between `"1000"` and `"1e3"` as JSON values, I'd tell them they're out of luck, but if there's any vaguely reasonable context in which it makes sense to distinguish between different JSON expressions (and the spec doesn't explicitly say they're equivalent), I want to

[2016-02-03 19:38] ArtemPyanykh opened #188 "Pretty-printing of decoding failure history"
Consider the following example:

[code]

This part might be hard to parse for a human eye:
[code]

I guess we could improve the error message by reversing a history, making it a bit more visual, and maybe adding the element we failed to parse. Something along these lines:
[code]

I'm not sure about arrow symbols though (on github they are very tiny), so maybe just printing
[code]

[2016-02-03 19:51] ArtemPyanykh commented on #188
I can take a look into it in a couple weeks after I get back from vacation.

[2016-02-04 03:14] travisbrown commented on #175
This is fixed by #184, which renames the `io.circe.parse` package to `io.circe.parser` and updates the README.

[2016-02-04 03:14] #175 closed

[2016-02-04 03:14] travisbrown commented on #188
:+1:, this sounds great.

[2016-02-13 15:10] #83 closed

[2016-02-13 16:11] travisbrown commented on #124
Fixed in #189.

[2016-02-13 16:11] #124 closed

[2016-02-13 16:11] travisbrown commented on #173
Fixed in #189.

[2016-02-13 16:11] #173 closed

[2016-02-13 16:14] travisbrown commented on #187
This is fixed in #189, which distinguishes positive and negative zero values as JSON numbers.

[2016-02-13 16:14] #187 closed

[2016-02-13 23:23] travisbrown commented on #93
Resolved in #126.

[2016-02-13 23:23] #93 closed

[2016-02-13 23:55] #154 closed

[2016-02-14 13:39] zarthross commented on #41
@mkotsbak this would be the responsibility of MetaRx or a 3rd party library to implement, not Circe.

[2016-02-14 16:21] mkotsbak commented on #41
Yes, it probably should be done inside MetaRx, as done for uPickle: https://github.com/MetaStack-pl/MetaRx/commit/d5beeb614e8df7679312d1a3068a1fefddd4b772

I opened issue https://github.com/MetaStack-pl/MetaRx/issues/58 for this.

[2016-02-14 16:21] #41 closed

[2016-02-17 18:11] maxaf opened #204 "Automatic Decoder derivation hangs when used across files"
Took me an hour to hunt this down in a work project. The gist of it is that I have a case class for which I automatically derive `Decoder` instances using `io.circe.generic.auto`. Within this case class there is a nested field (it's a couple of levels down) that contains a field typed to an option of another case class. This last case class got turned into a sealed trait during a refactoring. At t

[2016-02-23 23:21] dwijnand commented on #166
Initial support for this is now in master (via #203).

Support for a proposed `@ConfiguredJsonCodec[C]` one could say is blocked on still pending #164.

[2016-02-24 05:07] dong77 opened #208 "Circle does not support Scrooge genearted scala classes."
Currently Circe (with the latest shapeless snapshot) doesn't support the sereilization and eserialization of Twitter's scrooge generated scala classes as those classes are not sealed nor case classes.

Take the following thrift code as an example:

[code]

Scroogel will generate these classes:

[code]

[code]

[code]

[code]

[code]

`LabelledGeneric` can be summoned as `LabelledGeneric[Foo.Immuta

[2016-02-24 10:44] Mullefa opened #209 "README typo"
In the first example, should import `io.circe.parse._` (not `io.circe.parser._`).

[2016-02-24 15:03] travisbrown commented on #209
@Mullefa The name of the package was changed in 0.3.0 (see #184). I guess we could note that in the README, but given the fact that the project is so young I'd prefer to encourage people to upgrade as quickly as possible.

[2016-02-24 15:03] #209 closed

[2016-02-24 15:21] Mullefa commented on #209
Ah, I see. Sorry bout that. Will update regularly moving forward.

[2016-02-24 15:53] travisbrown commented on #208
Thanks for this report! There are two issues here. The first is that you've got some maps with non-string keys. JSON doesn't support objects with non-string keys, and there are a number of ways to manage codecs for arbitrary maps—we're working on this in #186, and a solution will be available in 0.4.0, but for now you have to provide instances for `Map[K, V]` manually if `K` isn't `String`. This i

[2016-02-24 23:21] arnihermann commented on #208
Could you expand on that? By boundaries do you mean e.g. after an RPC call to a thrift service it's better to map the data from the scrooge generated class into our own case classes?

[2016-02-24 23:27] travisbrown commented on #208
@arnihermann Right. I know there's some documentation somewhere that talks about best practices in that respect, but it may have been Twitter-internal—if I find it I'll post a link here.

[2016-02-24 23:30] arnihermann commented on #208
Thanks that'd be great, I'd love to know more about those best practices.

[2016-02-25 05:47] dong77 commented on #208
I imported the following packages and used your code , but I still got error.
[code]
[code]

Compiler complains:
[code]

 for

[code]

Am I missing something?

[2016-02-26 00:38] lukewyman commented on #38
@travisbrown, I'd like to take a crack at this.

[2016-02-26 00:50] travisbrown commented on #38
@lukewyman Oh, this is now done—I wrapped up some work that @pjan started today. Thanks, and sorry for the confusion—I should have closed the issue this morning.

[2016-02-26 00:50] #38 closed

[2016-02-26 07:48] dong77 commented on #208
Any update? :+1:

[2016-02-29 01:47] lukewyman commented on #36
@travisbrown I'd like to take this one if it's still available. Might be a bit of a stretch at my current skill level, but I think I understand the problem in a vague/abstract way.

[2016-02-29 02:27] travisbrown commented on #36
@lukewyman The situation is likely to change soon in #164, largely because the new case object encoding style option means that the generically derived encoders no longer always return JSON objects:

[code]

This has been one of the most requested configuration options, and the extra guarantees of the `ObjectEncoder` type class didn't seem useful enough not to provide it.

We'll keep `ObjectEncode

[2016-02-29 14:27] tobias-johansson commented on #188
**WIP**
I've done some work on a `Show[DecodingFailure]` that tries to make simple, compact messages by representing the cursor history as javascript style selection, i.e. `"DecodingFailure at .foo.bar[2].baz: some message"`.
I believe this is a good idea if you want to return error messages to http clients, etc.

WIP can be seen here: https://github.com/travisbrown/circe/compare/master...tobias-j

[2016-03-02 15:22] ChetanBhasin opened #216 "Cannot convert from Map[_, Any]"
While trying out the library, I have realized that there are no implicit conversions for Any or AnyVal.

For example, consider the following code:

[code]

This will not work because there is no implicit mapping for a AnyVal (or for Any, for that matter).

I've been trying to understand how one may write their own implicit conversion guidelines in such cases for converting from objects to JSON and

[2016-03-03 12:19] travisbrown commented on #216
@ChetanBhasin circe is built on the idea of having types drive serialization—you ask for a JSON representation of a value of type `Map[String, User]`, for example, and the appropriate encoders are selected at compile-time—there's no cost or danger of reflection at runtime. The other side of this is that circe is entirely helpless when it comes to `Any` or `AnyVal`, where you can't do anything with

[2016-03-03 13:42] ChetanBhasin commented on #216
@travisbrown Thanks for the reply.

I can totally understand why we might not want to do conversions between Any and JSON value and why custom Encoders are a bad idea.

However, I think, it makes sense to have a data type which deals only with JSON primitives. For example, while the only way to represent a JSON object of key-value pairs in vanilla Scala would be to use a `Map[String, Any]` or `Map

[2016-03-03 15:08] longcao opened #217 "decoding 'null' for a case class with only Option fields does not fail fast as expected"
@ty707 and I found a bug with automatic decoding + derivation in which when decoding a `null` to a case class of only `Option` fields, it doesn't fail fast as expected - it succeeds and returns an instance of the case class where all of its fields are `None`.

Example error was repro'd on master @ dee431a5cf364f4ed4cd113f494bfe84cc826f11.

Pasting my REPL session:

[code]

[2016-03-03 16:11] travisbrown commented on #217
This is absolutely a bug (inherited from Argonaut). I've posted a quick draft of a fix in #218 and will wrap it up and backport it to 0.3 as soon as possible.

Thanks for reporting, @longcao and @ty707—hope it didn't cause too many problems for you.

[2016-03-03 16:19] longcao commented on #217
@travisbrown No problem, this was really an unlucky combination of both user error and `circe` not failing hard enough - in our case we were incorrectly assuming our `data: T` field was to always return data when it reality it should have been correctly modeled as `data: Option[T]`. The expectation would be that `circe` would fall down trying to do this at runtime.

[2016-03-05 13:20] liff opened #220 "Cannot derive Encoder/Decoder for a case class containing members with shapeless-tagged refinements."
Even though this is apparently [a known limitation](https://gitter.im/travisbrown/circe?at=56d8968ab01413547d89f8b3), I'm opening an issue in hopes that it can get fixed in the future, or at least, to document the problem. Like @fthomas pointed out, alexarchambault/argonaut-shapeless#31 is likely an instance of the same issue.

The problem is that while the codecs for the refined types are generic

[2016-03-07 08:07] ArtemPyanykh commented on #188
@tobias-johansson nice! I had similar idea in regard to implementation, but the JS-selection-like output scales better.

[2016-03-07 11:34] ChetanBhasin commented on #216
I'm sorry. I've been fiddling around with the library and understand this better. Will close the issue.

[2016-03-07 11:34] #216 closed

[2016-03-07 14:44] msatala opened #221 "Ability to explicitly declare sealed trait members"
This would be very useful for instances when auto codec derivation fails for sealed traits.

Project [boopickle](https://github.com/ochrons/boopickle) has this feature:

[code]

[2016-03-08 22:51] travisbrown opened #223 "Investigate optics test failure"
A [Travis CI build](https://travis-ci.org/travisbrown/circe/jobs/114599345) just failed on 66f73e94c458e8511ba1a314acc1b2a21745ce6b with this error:

[code]

I don't want to change gears to investigate at the moment, and it's clearly something unusual, so I'm just restarting the build, but we should see why this is happening at some point.

[2016-03-08 23:43] travisbrown commented on #188
Quoting myself from Gitter:

So while #222 is merged, I think we should leave this issue open for the original more visual output proposed by @ArtemPyanykh.

[2016-03-08 23:48] travisbrown opened #224 "Consider providing a history-to-selection-path printing helper"
In #222 @tobias-johansson added a `Show` instance for `DecodingFailure` that provides a handy path representation of the history:

[code]

I was just wondering whether it might make sense to factor out the path-printing part to something like a `def opsToPath(history: List[HistoryOp]): String` method on the `HistoryOp` companion object that would be usable in other contexts. For example, I could i

[2016-03-09 05:52] ArtemPyanykh commented on #188
I see that `CursorOp` already has [`Show` instance](https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/CursorOp.scala) defined, and string representations of operators are already pretty visual there.

@tobias-johansson in his PR:
1. collapsed array traversals which is very reasonable since you hardly ever want to see 27 arrows on the screen `->` instead of `[27]`

[2016-03-09 12:11] tobias-johansson commented on #224
@travisbrown I think breaking this out is a good idea.
Originally I created a `Show[List[HistoryOp]]` in the `HistoryOp` companion object, but it felt a bit weird defining a Show for a specific type parametrization of List, and also potentially confusing having both that and the default `Show[List[A]]` from Cats available.
So a function `def opsToPath(history: List[HistoryOp]): String` sounds good

[2016-03-09 20:31] travisbrown commented on #221
I know I could look it up, but could you describe the intended behavior of the composite codec for the record?

[2016-03-11 16:26] travisbrown opened #226 "Proposed design changes for optional decoders"
This issue is closely related to #217 and #218, but there are a couple of unresolved underlying questions about what the "correct" behavior should be that I think deserve their own discussion.

## Setup

Suppose we have a case class like this:

[code]

And we want to decode a document like this into `Foo(Some(1))`:

[code]

## Chains of operations

We can currently write a decoder like this:

[cod

[2016-03-11 17:17] penland365 commented on #226
This proposal feels :100: to me. Personally, I would rather have these two types of failures and punt #217 to `0.4.0`. Intuitively, a Decoder has two tasks:

1. Decode a Value
2. Move around a JSON object to Decode the next Value

That we should have two distinct Failure types to represent these seems correct to me. I would much prefer this be fleshed out rather than cutting the baby in half to fo

[2016-03-11 17:46] travisbrown opened #228 "Proposed design changes for decoding"
I've discussed the idea outlined below with a few people (in person at the Typelevel summit last week, etc.), but it's somewhat relevant to the plans in #226, so I decided it's time to go ahead open an issue for it.

Paul Chiusano has a [blog post](https://pchiusano.github.io/2014-08-12/zippers-not-useful.html) where he argues that cursors aren't the right abstraction for things like JSON decoding

[2016-03-11 20:40] longcao commented on #228
We spoke about this offline at Typelevel Summit last week and I know I would be interested (hopefully others too) in what kind of optimizations would be possible here! Do I smell a new blog post?

All in all, it seems reasonable for an `0.5` cut. What would you call it if it's not so much a Cursor?

[2016-03-11 20:41] longcao commented on #226
Chiming in here because GitHub reactions have yet to express enough weight for me yet with a :+1:. I think you summarized it well with the dichotomy of failure, which is what I expected as user, where we return `None` for the lack of a presence (undefined, `null`) and hard fail if the types don't line up correctly.

[2016-03-11 20:59] arnihermann commented on #228
Sounds very nice to me. I've only needed fail-fast decoding without history on multiple occasions.

[2016-03-13 11:01] tobias-johansson commented on #228
Both this proposal and #226 sound great

[2016-03-13 22:24] travisbrown commented on #226
Fixed by #231.

[2016-03-13 22:24] #226 closed

[2016-03-13 22:24] travisbrown commented on #217
Fixed in #231.

[2016-03-13 22:48] #217 closed

[2016-03-16 17:33] prettynatty commented on #167
That would be great to be able to make the whole scope to use snake case keys because usually APIs accept keys encoded in exactly one style.

[2016-03-16 17:37] dwijnand commented on #167
Using a package object at the root and declaring the package as such:

[code]

[2016-03-17 07:58] ChetanBhasin opened #235 "Compilation order causing implicit search problem"
While working on a project I have encountered a really strange issue. The compilation order can effect the implicit decoder/encoder search in the program.

If a case class extending a selaed trait is not compiled before the call, scala compiler is not automatically able to find the dependency.
I tried commenting out the code where the call was made, compile using SBT, the uncomment the call and co

[2016-03-18 13:45] travisbrown commented on #26
Added in #237.

[2016-03-18 13:45] #26 closed

[2016-03-18 14:17] cin opened #238 "Compiling large case class randomly fails"
I am having issues compiling a large case class with circe. The case class has 48 parameters and randomly fails to compile with the following error:

could not find implicit value for parameter d: io.circe.Decoder[foo]

Any ideas what may be going on? I actually need to add more elements to the case class but this seems to be the tipping point.

[2016-03-18 14:20] djx314 commented on #238
Have any DateTime, Timestamp, Date fields?

[2016-03-18 14:23] cin commented on #238
No, all base types. I actually got it to compile a few times in a row by explicitly deriving the decoder.

i.e.
private implicit val myDecoder: Decoder[foo] = deriveDecoder[foo]

However, if I add just one more element to the case class it fails to compile with:
could not find implicit value for parameter decode: shapeless.Lazy[io.circe.generic.decoding.DerivedDecoder[foo]]

So strange...

[2016-03-18 14:27] djx314 commented on #238
Will it compile successfully with circe 0.4.0(include shapeless 2.3.0 with the bug fix)?
The best way is provide your case class with all the fields renamed and call travisbrown.

[2016-03-18 15:10] cin commented on #238
I just built from master (0.4.0-SNAPSHOT) and got a similar error:
could not find Lazy implicit value of type io.circe.generic.decoding.DerivedDecoder[foo]

It would then work once I took off a few parameters.

I think I can work around this issue by breaking the case class up (like you'd have to do pre-scala 2.10). It's just a weird problem.

[2016-03-18 22:13] travisbrown commented on #238
There's some discussion of this kind of problem in the [warnings section](https://github.com/travisbrown/circe#warnings-and-known-issues) of the README. You can try `-J-Xss64m`, but it won't always work—the parts of the compiler that Shapeless and circe rely on just aren't up to large-ish case classes.

Manually defined instances (or code-gen-ed ones) may be your best option, unfortunately.

[2016-03-23 02:42] cin commented on #238
@travisbrown that seems to work consistently. Thanks! Sorry, I saw that bullet note the first time through and misinterpreted it. I haven't tried to add any more variables to the case class, but I don't see why that would be an issue in this case (no sealed traits). Thanks to @djx314 for helping out with issue as well! :)

[2016-03-23 02:42] #238 closed

[2016-03-24 19:52] antonkulaga commented on #235
I have the same nightmare =(

[2016-03-24 19:55] travisbrown commented on #235
Does using `semiauto` instead of `auto` help?

[2016-03-26 01:25] travisbrown commented on #204
Hey @maxaf, sorry this issue slipped by me (I was camping when it arrived and somehow never noticed it). Feel free to bother me on Gitter or Twitter or here if I ever just let something sit for weeks.

The good news is that I just confirmed that I can reproduce this issue in 0.3.0 and that it's fixed in 0.4.0 (not head or the snapshot, which aren't updated yet, but I'm hoping to have the release o

[2016-03-26 13:18] maxaf commented on #204
Thanks & no worries! I worked around the (still unknown to me) root cause by rearranging my compilation units. 0.4.0 looks awesome, looking forward to it!

Through a form of differential diagnosis I've pursued this issue and the general slowness of compiling any derived circe instances. The main insight was that compilation performance tanks when `target` directories are located on a slow file sys

[2016-03-28 02:02] #69 closed

[2016-04-01 17:32] antonkulaga commented on #235
semiauto did not change anything for me by that time.

[2016-04-01 17:35] ngbinh commented on #235
same thing happens to me.

[2016-04-03 13:45] travisbrown commented on #235
Does anyone have a minimization of this problem that isn't equivalent to the code in the second point of the list of [warnings](https://github.com/travisbrown/circe#warnings-and-known-issues) in the README? I think it's pretty likely we're stuck with this (thanks, scalac), but I'd like to be sure.

[2016-04-03 14:45] travisbrown opened #251 "JsonCodec for sealed traits requires an explicit object definition"
As [reported](https://gitter.im/travisbrown/circe?at=570125df8d2a72471b7c94af) by @ngbinh, the following does not compile in circe 0.4.0-RC1:

[code]

The expanded version fails as well:

[code]

But can be fixed by moving the `object A` definition after the case class definitions.

Similarly, it's possible to work around the issue with `@JsonCodec` by adding an object definition (potentially empt

[2016-04-03 16:09] ngbinh commented on #251
The work around doesn't seem to work (both expanded or `@JsonCodec` ones.)
everything works fine in 0.3.0 though, so probably something in 0.4.0-RC1 triggers that
The error message is
[code]

and I only see problem with `Encoder`, `Decoder` doesn't seem to have any problem compiling

[2016-04-03 16:12] travisbrown commented on #251
@ngbinh Any chance you could share a reproduction? At least in the simple case above the workaround works just fine.

[2016-04-03 16:15] ngbinh commented on #251
I will work on a reproduction. It could be because my `B` and `C` require other `encoders` as well so the order is still messed up.

[2016-04-03 16:19] ngbinh commented on #251
it's funny though
[code]

gives me
[code]

[2016-04-03 16:27] travisbrown commented on #251
That's extremely weird. I'd love to see a minimization that triggers this—thanks for working on it.

[2016-04-08 11:59] travisbrown opened #256 "Add an equivalent of Play's \\"
See [this Stack Overflow question and answer](http://stackoverflow.com/a/36499027/334519) for some discussion.

[2016-04-09 17:05] travisbrown opened #259 "Modernize Scala.js build"
@ngbinh has done [some work](https://github.com/typelevel/cats/pull/954) on the Scala.js build for Cats that looks like it'd be valuable here as well (maybe we could even have Travis CI running the Scala.js builds!) but I know nothing about Scala.js build config and don't want to just cargo cult it.

If someone who knows / cares about Scala.js wants to help, that'd be awesome.

[2016-04-09 19:20] ngbinh commented on #259
I can give it a shot!

[2016-04-11 01:59] cminekime opened #262 "Issue decoding BigDecimal in Scala.js"
When running the following ScalaTest test in my project:

[code]
It succeeds for standard Scala, but fails with the following output for Scala.js:

[code]
I can provide more info or examples as needed. Thanks!

[2016-04-11 02:29] travisbrown commented on #262
Unfortunately this is a known issue for Scala.js, where we can't do better than the precision of `Double` for numeric types (see [this blog post](https://meta.plasm.us/posts/2016/02/14/json-numbers-in-circe-0.3.0/) for some detail).

These limitations on Scala.js should be documented more thoroughly—I'll take a shot at that now.

[2016-04-11 02:50] travisbrown commented on #262
I've just added some additional documentation in #263—does that look reasonable to you, @cminekime?

[2016-04-11 12:52] travisbrown opened #265 "Fix Arbitrary instances for java.time types"
In the circe-java8 package, the `Arbitrary` instances for types in `java.time` are derived from ScalaCheck's provided instance for `java.util.Date`, which results in nonsensical values like `-26558675-11-05T14:56:40.198Z[GMT0]` that are causing tests to fail occasionally.

I'm not too worried about this since it seems fairly rare and doesn't represent a real problem, but we should have better `jav

[2016-04-11 22:44] cminekime commented on #262
The added documentation does help and thank you for the link to your blog post.  It definitely helps me understand the design decisions you've made.

For what it is worth, I was able to achieve what I needed by providing my own implicit Encoder and Decoder for BigDecimals that treat them like Strings:

[code]
It may not be in the spirit of how to handle JSON numbers, but I'm glad the library was f

[2016-04-11 22:44] #262 closed

[2016-04-14 07:51] dk14 opened #270 "Inconsistent PrettyPrinting"
[code]

res24 is not parsable because of "\\"

[2016-04-14 08:08] djx314 commented on #270
I think it's not a bug. res24 is a simple json string. Not a json object.

[2016-04-14 08:09] knutwalker commented on #270
`rawJson.asJson` does not parse the rawJson string into the AST, it creates a single JsonString value that has `rawJson` as its content, hence the escaping. You have to use `decode` or `parse` to get the Json AST.

[code]

[2016-04-14 08:14] dk14 commented on #270
By res24 isn't parsable I meant this:

[code]

[2016-04-14 08:16] knutwalker commented on #270
This is because `res24` isn't a string that contains json object, it is a string rendering of a json *string*. I don't think `rawJson.asJson` produces what you want.

[2016-04-14 08:24] dk14 commented on #270
So how can I parse rendered json string? Or more precisely, why that rendered string contains `\\` (escaped backslash)?

I disagree about `asJson`. You can clearly see that it returns `io.circe.Json` which is AST

[2016-04-14 08:27] djx314 commented on #270
<https://github.com/travisbrown/circe#transforming-json>

[2016-04-14 08:53] dk14 commented on #270
[code]

And second question is still in place: why nospaces (and other pretty printers) puts "\\" in one case and doesn't do it in the other one. It's the same `nosapces`. I didn't explicitly ask for '\\` - I don't even know why would I need it (as this is not actual escaping - like `\"` - it's `\\"`).

[2016-04-14 09:08] dk14 commented on #270
To be more precise. I can "parse" `res24`, but I still can't decode it to a `case class`.
And I actually can't work with it:

[code]

Compare to `res25`:

[code]

[2016-04-14 09:21] knutwalker commented on #270
There are two ways to get to a Json AST. The first is from a serialized/wire representation, such as a string by means of parsing. The second is from your domain types and entities by means of encoding.
There are also two ways to go from the Json AST, one is to the serialized/wire representation by means of (pretty-)printing, the other is by means of decoding. `asJson` is only for the second way,

[2016-04-14 11:01] dk14 commented on #270
Ok, now I understand, sorry for trying to force it as a bug :).

As I understand, you've meant not getting a Json String back - you mean I'll get a `io.circe.Json.String` back. I just didn't read it careful enough.

It actually a common misunderstanding - I was trying to make this example work, as the author claimed that it doesn't: http://manuel.bernhardt.io/2015/11/06/a-quick-tour-of-json-librar

[2016-04-14 11:01] #270 closed

[2016-04-14 20:48] RomanIakovlev opened #271 "Modify deepMerge behavior on arrays"
At present, when one runs `deepMerge` on 2 arrays, only the argument contents remains in the resulting array, the contents of calling array is lost:
[code]
This behavior is [documented](https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/Json.scala#L132). However, could we consider changing it for arrays, and make it do the simple concatenation, like `[{"id": 1}, {

[2016-04-14 22:34] travisbrown opened #272 "Regression in semi-automatic derivation"
As reported by @veegee on [Gitter](https://gitter.im/travisbrown/circe?at=57100fdf548df1be102d056a), semi-automatic derivation now fails for case classes where the first member is generic:

[code]

This worked in 0.3, and it works here if there are concretely-typed members before the generic member.

[2016-04-15 01:17] #272 closed

[2016-04-15 02:21] travisbrown commented on #271
I'm sympathetic but seem to remember some motivation for the current behavior. Let's wait a bit for some more feedback—

[2016-04-15 04:53] ngbinh commented on #251
So, I try to work on a small reproduce and this is what i found: https://github.com/ngbinh/scala-js-example-app/blob/circe-251/src/main/scala/example/Model.scala

[code]

Without `B("abc").asJson.noSpaces `, it compiles but with that in, I see
[code]

[2016-04-15 04:54] ngbinh commented on #251
And of course if I ask for
[code]

then
[code]

[2016-04-15 05:31] ngbinh commented on #251
and we are on circe `0.4.1`

[2016-04-15 11:39] travisbrown commented on #251
Oh, now I think I see the problem.

When you ask `semiauto` for an instance for the root of a sealed trait hierarchy, it will find _or derive_ its own instances for the case classes in the hierarchy, but if it derives them, it doesn't put them into implicit scope or anything like that. You've asked for a `Decoder[A]` instance, and that's what you get—not one for `B` or `C`. And `Decoder` is invari

[2016-04-15 13:14] ngbinh commented on #251
ok, makes sense now. The trouble now is when constructing a model `M`, we usually ask for `implicit val encoder: Encoder[M]`.

If we add `@JsonCodec` for the children, would a decoder for `B` be able to decode `(B("abc"): A).asJson.noSpaces` or do we have to use the one from `A`?

[2016-04-15 14:20] travisbrown commented on #251
The exact static type always determines which instance will be used, and circe-generic will always give different instances for `A` and `B` here.

If you wanted instances for `A` that didn't use the object wrapper, you could do something this:

[code]
And then:
[code]
This isn't the default because in some cases it can lead to ambiguity in decoding, but if your case class member names don't overla

[2016-04-15 14:32] ngbinh commented on #251
thanks! Got it now.

[2016-04-23 18:44] #265 closed

[2016-04-23 19:34] travisbrown commented on #223
Ugh, another one of these.

[code]

[2016-04-28 14:23] travisbrown opened #280 "Intermittent circe-java8 failure"
Possibly related to #275.

[code]

[2016-04-29 18:11] agourlay opened #281 "Json diff"
It would be really handy for debugging and error reporting to have the possibility to compute the difference between two Json values.

I would love to migrate to Circe but I need this feature, therefore I am still using Json4s which has a diff API returning:
 `Diff(changed: JValue, added: JValue, deleted: JValue)` see implementation [here](https://github.com/json4s/json4s/blob/3.4/ast/src/main/sca

[2016-05-01 19:44] travisbrown commented on #281
I've been meaning to provide something similar to this powered by [delta](https://github.com/stacycurl/delta), which already includes [a module for Argonaut](https://github.com/stacycurl/delta/blob/master/argonaut/src/test/scala/sjc/delta/argonaut/RFC6902JsonSpec.scala) that should be fairly straightforward to adapt for circe.

It doesn't provide exactly the same kind of diff as Json4s, though, bu

[2016-05-03 12:58] travisbrown opened #283 "Update README note about Paradise plugin"
@Mullefa just [pointed out on Gitter](https://gitter.im/travisbrown/circe?at=57289d2f72798bd77be989ba) that the README only mentions that Macro Paradise is necessary for 2.10, but now that we've added `@JsonCodec` it is sometimes necessary for 2.11 as well.

[2016-05-12 14:03] edmondo1984 opened #286 "Semi-auto génération doesn't handle collections"
The following snippet fails to compile with circe 0.4.1

case class SomeClass1(prop1:String, prop2:String)

case class SomeClass2(prop:String)

case class SomeClass2Detail(blah:Int)

case class Aggregate(prop:SomeClass1, stuff:List[SomeClass2], details:Map[SomeClass2,SomeClass2Detail])

[code]

[2016-05-12 14:17] travisbrown commented on #286
Not at a computer at the moment, but take a look at the `KeyDecoder` section in the 0.4.0 release notes—I think that's all you're missing.

[2016-05-15 05:46] Centaur opened #288 "DecodingFailure contains no useful information"
When a `DecodingFailure` happens, I expect it to contain some information helpful for debugging, i.e., which part of the json string cannot be decoded. But its `message` is just some type name such as `String`, `Long`, etc and its `history` is always an empty `List`. Or how can I get more information from a `DecodingFailure` ?

[2016-05-15 12:19] robsonpeixoto commented on #216
@travisbrown I tested `Map[String, Either[Int, String]]` but it created a json with the `Left` and `Right` keys:

[code]

And when I to convert a json without this keys the decode do not work:

[code]

Is that the expected behave?

[2016-05-15 14:49] travisbrown commented on #216
@robsonpeixoto The `Either` constructors are case classes, so `generic` will produce instances for them just like any other case classes (there are no automatically-provided `Either` instances, and it's not special-cased).

If you want an untagged representation, you can do something like this:

[code]

And then:

[code]

Does that work for you?

[2016-05-15 15:13] robsonpeixoto commented on #216
Very well, @travisbrown. Thanks

[2016-05-17 13:28] travisbrown commented on #283
Fixed in #284 by @Mullefa.

[2016-05-17 13:28] #283 closed

[2016-05-18 12:59] liff commented on #280
Looks like `ISO_ZONED_DATE_TIME` cannot always parse its own output :)

[code]

[2016-05-18 13:05] liff commented on #280
JDK bug: [JDK-8138664](JDK-8138664). From what I can tell it'll be fixed in Java 9?

[2016-05-18 14:09] travisbrown commented on #280
Ugh. Thanks for figuring this out, @liff. I guess we should add a filter to the `Arbitrary` instance?

[2016-05-18 20:44] #280 closed

[2016-05-23 17:45] Tvaroh opened #296 "Provide EncoderDecoder class"
Cannot find a trait that is `Encoder` and `Decoder` at the same time. Like:

[code]

Is it by design or I just can't see it?

[2016-05-23 18:05] travisbrown commented on #296
@Tvaroh This question is discussed in #133. I still wouldn't say the idea is entirely off the table, but I'd be inclined to say it's unlikely to happen.

[2016-05-23 18:43] Tvaroh commented on #296
Okay, thanks, so I'll live with my bicycle.

[2016-05-23 18:43] #296 closed

[2016-05-23 19:17] Nr18 opened #297 "Case class with Enumeration is not converted"
I'm trying to convert a case class that has a Enumeration as a argument

[code]

While test2("Mon").asJson works as expected:
[code]

But: test1(WeekDay.Mon).asJson results in:

Is there a way to work around this or is this a bug?

[2016-05-29 17:55] cmiller-wikia opened #298 "Automatic encoders fail when compiling with -Yno-predef"
Decoders, however work fine.

Work-around is importing Predef.ArrowAssoc wherever you need the encoder implicit to be available.

[code]

[2016-05-29 18:12] fthomas commented on #298
I'm guessing this is because `->` in this [quasiquote](https://github.com/travisbrown/circe/blob/f1822b0877b77798fc5edd130bd9b5dd99e9b348/generic/shared/src/main/scala/io/circe/generic/DerivationMacros.scala#L216) is not fully qualified.

[2016-05-29 18:55] travisbrown commented on #298
@cmiller-wikia @fthomas Good catch—will get this fixed asap.

[2016-05-30 22:05] #298 closed

[2016-06-09 18:18] agourlay commented on #281
Just wanted to share for the people interested in this feature that I was able to ```port``` the Json4s implementation to Circe.

It is not super good looking and does a bunch of ugly Option.get but it seems like it gets the job done.

Check this [PR](https://github.com/agourlay/cornichon/pull/76/files#diff-9bb98c6e70d073846c9f3856282b3119R7) for some code.

[2016-06-12 14:16] dhensche commented on #297
I'm not seeing anywhere in the project where basic scala Enumerations have a provided Encoder/Decoder instance. However, following how the [json4s](https://github.com/json4s/json4s) handled this I came up with the following

[code]

[2016-06-12 17:17] travisbrown commented on #297
This isn't exactly a bug, but it is at least arguably a missing feature. There are [lots of reasons](http://underscore.io/blog/posts/2014/09/03/enumerations.html) not to use Scala's `Enumeration`, and circe (and Argonaut before it) has never provided built-in support for them.

If there's demand, though, I definitely think we could consider a PR adding something like the instances in @dhensche's c

[2016-06-13 11:13] tindzk opened #302 "Publish artifacts for Scala 2.12"
I am in the process of cross-compiling some of my libraries for Scala 2.12. Would it be possible to publish Circe's artifacts for 2.12?

[2016-06-13 12:49] travisbrown commented on #302
Unfortunately Cats is not yet published for 2.12 (if I remember correctly this is primarily an issue with test library versions). As soon as that's out I'll publish 2.12 artifacts for circe.

[2016-06-13 12:50] tindzk commented on #302
Great, thanks!

[2016-06-14 04:32] non commented on #251
Is this issue blocking Circe 0.5.0?

[2016-06-15 20:29] jeremyrsmith opened #304 "`PatchWithOptions` can't specify removal of optional fields"
Given a case class with an optional field:

[code]

When deriving a patch for that class:
[code]

The patch behavior is not correct:

[code]

The behavior I described above is necessary in order to ever have the ability to remove fields via patching.

It would probably be as simple as defining an explicit decoder for `Option[Option[T]]` which does what's described above - if the field isn't presen

[2016-06-15 20:53] jeremyrsmith commented on #304
Addendum: importing this gives the behavior described

[code]

[2016-06-19 18:06] travisbrown opened #306 "Clarify the role of DecodingFailure's "message""
circe's `DecodingFailure` is a descendant of Argonaut's `(String, CursorHistory)` in `DecodeResult`, and in Argonaut there's some ambiguity about what the string represents—in some places it's just a string representation of the type, and in other places it's a more detailed message about what went wrong. Since it doesn't have a name in Argonaut (and the corresponding argument to e.g. `DecodeResul

[2016-06-19 23:18] tomjadams commented on #306
Without knowing the particular piece of code overly well, your suggestions seem like a good first approach. Have you tried it and seen how the code pans out?

[2016-06-20 15:04] travisbrown commented on #304
@jeremyrsmith I definitely see this as a bug, and I think we can fix it relatively straightforwardly by having `PatchWithOptions` carry along its own decoder for `O`, but I think we should leave that for 0.6.0 and recommend your workaround in the meantime.

[2016-06-20 15:09] travisbrown commented on #286
@edmondo1984 Did you get this figured out? If you have a `KeyDecoder` instance like this for `SomeClass1` this derivation should "just work":
[code]

[2016-06-20 15:12] edmondo1984 commented on #286
I did thanks so much
On 20 Jun 2016 17:09, "Travis Brown" <notifications@github.com> wrote:

[2016-06-20 15:14] travisbrown commented on #286
Great, thanks!

[2016-06-20 15:14] #286 closed

[2016-06-22 11:35] Tvaroh commented on #304
@travisbrown Circe currently outputs `null`s for `None` values with `import io.circe.generic.auto._`? Does this relate to this report?

[2016-06-27 17:06] travisbrown opened #318 "Consider using Java 8+ classes in core"
Recently there have been a few cases I've heard of of people needing `java.time` instances and not finding the ones in circe-java8. We could address this in documentation, but I'm tempted to bring these instances into circe-core without formally dropping Java <8 support. We'd just provide some very clear warnings indicating that calling the instance methods directly will result in access errors.

[2016-06-27 17:22] vkostyukov commented on #318
I wonder if there is a Java 7 & Java 8 compatible way of encoding/decoding Base 64 strings. Twitter's Util used to depend on Apache Commons version, but SO says there is this weird API that *I think* is supported in both versions (not sure how performant it is though):

[code]

[2016-06-27 17:48] travisbrown commented on #318
`DatatypeConverter` runs us into Scala.js compatibility issues, though, since at least the last time I checked it wasn't supported (or `Base64`, for that matter).

[2016-06-29 14:25] mariussoutier commented on #297
There are certainly reasons, but sometimes you don't have control over these things, so an integrated enumeration encoder would definitely be very useful.

[2016-07-02 18:21] travisbrown opened #320 "Consider going Predef-less"
In the spirit of #315, I know there are other places where we're doing stuff that involves unnecessary wrapping (like `string.size` as opposed to `string.length`), and I'd like to see what it would look like to turn on `-Yno-predef` for everything (excluding tests).

I've pushed [a branch](https://github.com/travisbrown/circe/tree/starter/320) with the configuration that's needed.

[2016-07-02 18:38] travisbrown opened #321 "Speed up sequence and map decoders"
The default sequence and map decoders aren't necessarily very efficient, and the sequence decoder is built on some clunky (and probably otherwise useless) `traverseDecode` methods in `HCursor`.

The new [`optimization/seq-decoders`](https://github.com/travisbrown/circe/tree/optimization/seq-decoder) contains a quick sketch of a more optimized implementation for sequences—it's not currently passing

[2016-07-08 08:28] mariussoutier commented on #297
Where would this have to go in Circe? (I'm pretty new to it.) I could create a PR.

[2016-07-08 13:07] travisbrown commented on #297
Yes, we'd want them to be in the companion objects so that they get made available without additional imports. Thanks, @mariussoutier!

[2016-07-12 18:00] wilkenstein commented on #208
This problem bit me too and confused me even further because _sometimes_ my code would compile. I used the macro from https://github.com/travisbrown/scrooge-circe-demo/blob/master/src/main/scala/demo/package.scala to get rid of the passthrough fields, which cannot be generically derived (Map[Short, TFieldBlob]). Only _after_ I moved the macro into its own compilation path did the code reliably com

[2016-07-12 22:45] ostronom opened #326 "NullPointer exception when using semiauto derived codecs"
This code compiles and runs as expected:
[code]

But if I comment out `io.circe.generic.auto` import and provide
[code]

the code still compiles, but throws NullPointer exception

[code]

[2016-07-13 00:27] knutwalker commented on #326
I suspect you had the O En/Decoders written below the other ones? The implicit `DerivedObjectEncoder` for `genEncoder[A]` will use the definition of `encoderO`, even if it is defined later in the file. However, that also means that during the time of the initialization of `encoderA`, `encoderO` is still null as it itself has not yet been initialized. It's a weird scala thing, where order of initia

[2016-07-13 06:55] ostronom commented on #326
Yes, both three ways solve the problem. Thank you.

[2016-07-13 06:55] #326 closed

[2016-07-21 12:46] Tvaroh commented on #304
@travisbrown be kind to address the question above, please. We would like to track this issue but are not 100% sure it's about `null`s for `None` fields. Thank you!

[2016-07-21 16:03] jeremyrsmith commented on #304
@Tvaroh what you're seeing isn't related to this issue.  The null values in JSON representation arise from a property of the `Printer`, which is configurable.  The default printers have `dropNullKeys` set to `false`, but you can create your own printer with `dropNullKeys` set to `true`, and use that to output the JSON:

[code]

[2016-07-21 16:06] Tvaroh commented on #304
@jeremyrsmith thanks, it's great!

[2016-07-25 10:55] cb372 opened #329 "Feature request: support decoding with a normal cursor, not an HCursor"
I'm doing some memory profiling of a high-traffic API that uses Circe to decode a lot of large JSON objects. I noticed that decoding allocates a large number of `HistoryOp$El` objects, which is causing the GC to really struggle, eventually leading to Full GC pain.

![screen shot 2016-07-25 at 11 28 30](https://cloud.githubusercontent.com/assets/106760/17098672/94873118-525b-11e6-9874-ad98c7ee2113.

[2016-07-25 14:53] travisbrown commented on #329
@cb372 The proposal for 0.6.0 in #228 is a little more radical but should help here. I've done some initial experiments along those lines, and I'm hoping to get it implemented in August. Any feedback on the proposal would be much appreciated!

In the shorter term we could look at replacing that `List` with `Vector`…

[2016-07-25 16:13] cb372 commented on #329
Glad to hear you're already on the case!

Your proposal sounds eminently sensible. I say go for it, and don't worry too much about maintaining backwards compatibility. I'm happy to accept a breaking change here.

[2016-07-26 19:49] #297 closed

[2016-07-30 05:33] gaydenko opened #336 "clarify README/warnings"
Hi!

Please clarify README -> Warnings and known issues -> 2 chapter.

At the moment it starts with "Generic derivation may not work as expected when the type definitions that you're trying to derive instances for are at the same level as the attempted derivation...". It isn't immediately clear what does "level" mean here. Please, elaborate sense here a little. I still can not grok how to avoid "c

[2016-08-05 15:31] shado23 opened #339 "Exponentially increasing compile times when using codec derivation"
Trying to derive a codec on the following case class leads to a compile that I killed after more than 20 minutes without having finished.

Reducing the number of values in the case class to a small number allows it to finish, but there appears to be an exponential increase in compile time when re-adding them one by one.

Auto, semiauto or macro doesn't appear to make a difference and both version

[2016-08-08 11:27] shado23 commented on #339
This appears to be caused by shapeless usage, at least spray-json-shapeless has the same issue and json4s works fine.

[2016-08-08 13:02] travisbrown commented on #339
@shado23 It's not so much Shapeless usage as the difference between compile-time and runtime reflection in Scala. json4s doesn't have the same compile-time cost because what it does is entirely at runtime (which brings its own set of problems).

I'm surprised circe doesn't do better in this case, since so many of the members have the same type. I'll try to look into it asap.

[2016-08-08 13:38] shado23 commented on #339
I see. That makes sense.

Thanks for looking into it.

[2016-08-10 08:03] jilen opened #346 "Cannot decode in method which defined in case class"
Source:

[code]

Compile error
[code]

[2016-08-13 23:04] f-lira commented on #256
+1

[2016-08-14 17:12] msatala commented on #221
Sorry for late response. The intended behavior would be that if I explicitly declare classes that extend the sealed trait, it doesn't have to be done automatically. In some cases auto codec derivation simply fails for whatever reasons. Currently the only option is to declare reader/writer manually which means a lot of unnecessary error-prone boilerplate.

[2016-08-15 08:11] jilen commented on #346
Upgrade to 0.5.0-M2 fix this issue

[2016-08-15 08:11] #346 closed

[2016-08-15 16:26] travisbrown opened #348 "Json number equality for zero"
Thanks to @davegurnell for identifying this issue on Java 7:

[code]

The equality logic in `BiggerDecimal` is correct, but we're running into [this JDK bug](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=6480539), which is fixed in Java 8. The bug affects both Oracle and OpenJDK.

This is bad enough that I think we need to work around the JDK bug for as long as we're supporting Java 7. I'll

[2016-08-15 18:03] davegurnell commented on #348
Nice sleuthing! I had no idea the issue was that specific!
On Mon, 15 Aug 2016 at 17:26, Travis Brown <notifications@github.com> wrote:

[2016-08-16 16:10] plavreshin opened #349 "DecodingFailure(CNil, List()) exception during deserialization of sealed trait"
Hi all,

I have following simple hierarchy of case classes extending sealed trait:

[code]

When I try to serialize and deserialize above mentioned case classes, deserialization fails with an exception `DecodingFailure(CNil, List())` :

[code]

Circe-json version is 0.4.1.

Could you please be so kind as to advice on this issue ?

[2016-08-16 16:18] travisbrown commented on #349
Hi @plavreshin! By default the representation of the leaves of an ADT are different from the representation of the root, so `(in: Client).asJson` will be `{ "Subscribe": { "token": "token" }}`, while `in.asJson` will be just `{ "token": "token" }` (i.e. the JSON depends on the static type of `in`).

This is by design, but it's not always what you want. In your case statically typing `in` as `Clien

[2016-08-16 18:38] plavreshin commented on #349
hi @travisbrown  and thanks a lot for prompt reply and explanation. My use case is that I am trying to use shared domain classes between Scala.js frontend and Play2 backend, using circe-json for serialization/deserialization.

I would prefer to deserialize json to `sealed trait`  for further pattern matching, for instance like this:
[code]

Could you please advice on custom codecs for sealed trait

[2016-08-17 08:25] danielyli opened #350 "How to create encoders and decoders for non-case classes?"
I'm having a bit of trouble writing an encoder/decoder pair for a class that I don't control and that's not a case class.  For the following example, I'll use `java.time.Instant`.

Looking at [Circe's source](https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/Encoder.scala#L204), writing the encoder is straightforward:

    import java.time.Instant
    import io.c

[2016-08-17 08:50] bthuillier commented on #350
with circe you can directly use primitive decoder/encoder
[code]

[2016-08-17 09:13] danielyli commented on #350
Thank you!

This seems like a common use case.  May I suggest it be put in the Readme, under the Usage section?

[2016-08-17 09:16] bthuillier commented on #350
It can be a good idea, any thought @travisbrown ?

[2016-08-18 05:13] #350 closed

[2016-08-19 18:19] #348 closed

[2016-08-31 22:06] travisbrown opened #359 "Update docs for 0.5.0"
0.5.0 is now on Maven Central, but I didn't get a chance to finish the release notes or update the documentation today.

[2016-09-04 01:05] travisbrown commented on #359
Fixed in #360 and [here](https://github.com/travisbrown/circe/releases/tag/v0.5.0).

[2016-09-04 01:05] #359 closed

[2016-09-06 10:26] cb372 opened #363 "Update benchmarks"
Now that 0.5 is out, it would be good to put some up-to-date benchmarks on the site. Maybe even with pretty graphs!

I can run the benchmarks, although my poor old MacBook Air might melt 😄

[2016-09-06 11:58] travisbrown commented on #363
👍 , I've just started them running on my desktop at home.

[2016-09-09 21:13] easel opened #367 "Map monoid appears to be slow."
I’m running into something interesting that seems to have changed unbeknownst to me in a cats upgrade. I have been combining Map[A, Map[B, Double]] with |+|. In the past, I had to provide a Semigroup[Map[B,Double]], which was good, because I implemented a sum of the doubles. However, recently, it appears as if an instance has showed up for Semigroup[Map[B, Double]].

I was able to eliminate the de

[2016-09-09 21:15] easel commented on #367
While interesting, this is not really relevant to circe aside from the fact I may have trouble moving to the latest cats until circe gets there. Sorry =/

[2016-09-09 21:15] #367 closed

[2016-09-12 06:04] travisbrown commented on #321
Done in #353.

[2016-09-12 06:04] #321 closed

[2016-09-13 15:31] amrhassan opened #368 "Encoding/Parsing round trip equality failure for ScalaCheck-generated BigDecimals"
I run into an issue sometimes when I check the equality of a ScalaCheck-generated `BigDecimal` encoded into a `Json` with the `Json` parsed back from the encoded JSON string of the same `BigDecimal`.

[code]

The failure occurs with `BigDecimal` instances that are affected by [this issue](https://github.com/rickynils/scalacheck/issues/124) so I think it might be affecting the conversion to `number

[2016-09-18 20:04] olafurpg opened #374 "Validate invalid fields"
[code]

I'm curious to know, is there's a way for a decoder to validate that there's no invalid key like `typo` in this example? Phrased alternatively, is there a way to know after decoding whether there was an unused key/value in the json?

I'm hoping to use [circe-yaml](https://github.com/jeremyrsmith/circe-yaml) to read configuration for scalafmt. All the fields are optional (`Option[T]`) but I

[2016-09-18 20:12] olafurpg commented on #288
There's a `Show[DecodingFailure]` instance in [Error.scala](https://github.com/travisbrown/circe/blob/7d799b9aee6f96a693dabd17eb514c9a719645c2/core/shared/src/main/scala/io/circe/Error.scala#L92-L99) that shows JS style selections. To use it,

[code]

[2016-09-18 20:42] travisbrown commented on #374
By default decoders don't consume fields as they use them, so this isn't trivial, but you can do something that works with `validate` and some boilerplate:

[code]

And then:

[code]

The error message isn't great, though, and I agree that this is a use case that deserves better support. I'll think about what this should look like this week (and any ideas would be appreciated).

[2016-09-18 21:12] olafurpg commented on #374
I was afraid this wouldn't be so trivial.

The `validate` workaround gets a lot tricker once you have 30 keys of which some are nested, contain arrays and so forth. Also, I think it's quite important that the error message points to the culprit field.

I'm have no idea if this is remotely possible, but one potential solution might be to encode into a `Decoder.Result[(Cursor, A)]` instead of `Decod

[2016-09-18 22:02] olafurpg commented on #374
Here's roughly what I had in mind:

[code]

If it would be possible to automatically derive such a decoder then that would be amazing.

[2016-09-18 23:28] travisbrown commented on #374
@olafurpg You could also do something like this:

[code]

And then:

[code]

We could definitely make this easier with a `Decoder.fromState` and other helper methods, and we should be able to have instances like this derived.

[2016-09-19 01:54] Centaur commented on #288
@olafurpg Thank you very much. That is very helpful.

[2016-09-19 01:54] #288 closed

[2016-09-19 10:39] olafurpg commented on #374
@travisbrown Wow. That looks amazing. Took me a while to wrap my head around how the state monad works in this example.

I'll need to experiment a bit with this approach to see how it works with a large number of optional fields.  I may eventually choose to go with a manual decoder just for sake of flexibility.

I would definitely be interested see how that would look like. Any idea about a timefr

[2016-09-19 10:51] travisbrown commented on #374
@olafurpg If you think about `Decoder` as `HCursor => Xor[DecodingFailure, A]`, then my `StateT` version is almost identical to yours with `(ACursor, Foo)`. :)

For generic derivation, one issue is that it's not immediately clear to me how to implement this approach with the usual inductively-build-up-instances-for-hlists technique. It'd be easy enough to change the current macro implementation, b

[2016-09-19 11:15] olafurpg commented on #374
@travisbrown I think I'll begin with the manual approach and keep my eyes open for parts we could abstract over. Will keep you posted. Thanks a lot for your help!

[2016-09-22 08:12] backuitist opened #378 "Document the misleading compilation errors with generic derivation"
Here is a simple example:

[code]

Will produce `Error: could not find implicit value for parameter encoder: io.circe.Encoder[Person]`
Instead of the expected `could not find [...] io.circe.Encoder[ZonedDateTime]`

IMO the warning section of the documentation should start with this, as it is I guess the most common pitfall of the derivation mechanism.

[2016-09-22 08:28] backuitist opened #379 "Improve documentation for custom Encoder/Decoder"
IMO given the current state of the generic derivation (poor error reporting and lots of pitfalls) a stronger emphasis should be put on the custom/"handwritten" Encoder/Decoder.

I would suggest to first start the documentation with them and later introduce generic derivation with a short preliminary warning about the number of issues described in the warning section at the bottom of the page.

The

[2016-09-22 14:01] olafurpg commented on #374
In the end, I rolled my own inline/meta macro annotation to read a HOCON `Map[String, Any]` ([see discussion](https://github.com/olafurpg/scalafmt/issues/316)). This choice was undeniably biased by my eagerness to explore the new scala.meta based macro system.

It would be interesting to experiment with automatic derivation of circe decoders using scala.meta macros. Although, I understand there is

[2016-09-23 18:40] TimSoethout opened #380 "Auto generated `Decoder` is `null`"
I ran into a situation where my `Decoder` turned out to be `null`. I reproduced it in the REPL with a smaller example:

[code]

It seems to be related to defining the decoder in the Companion object.

[2016-09-23 18:45] travisbrown commented on #380
The issue here is that you're defining an implicit value using `Decoder.apply`, which will go out and look for… an implicit value of the same type. The compiler will assume your definition is recursive, and since this is a `val` that hasn't been initialized yet, you end up with `null`.

The supported way of handling this situation is to use `io.circe.generic.semiauto.deriveDecoder`, but you could

[2016-09-23 18:58] TimSoethout commented on #380
Doh. You're right. It has nothing to do with circe at all:

[code]

Thanks for the clear and quick response!

[2016-09-23 18:58] #380 closed

[2016-09-26 10:29] dzikowski opened #386 "Embedded collection of Enumeration values causes errors in serialization of collection of objects"
I have observed weird behavior of serialization of objects with collection of Enumeration values (for example `case class User(roles: Seq[Roles.Value])`) . Serialization of collection of this objects (for example `Seq[User]`) produces JSON Object with double-colon attribute: `{"::":[obj1, obj2, ...]}`, when correct output should be JSON Array: `[obj1, obj2, ...]`.

This error **does not** occur wh

[2016-09-26 11:20] travisbrown commented on #386
@dzikowski Hmm, that's bad. I'm taking a look now. What version of circe are you using?

[2016-09-26 11:42] dzikowski commented on #386
I have checked `0.4.1`, `0.5.1` and current head of master branch. It seems to apply to all of these versions.

[2016-09-26 11:46] travisbrown commented on #386
@dzikowski Can you tell me more about your build setup? I can't reproduce this exact error (for me no encoder is found, which is also a bug, but not as bad of one).

[2016-09-26 14:04] dzikowski commented on #386
OK. I dug a bit deeper, tried to reproduce it in isolated environment (only Circe dependencies) and... I failed :-) It seems that is error is related also with Akka HTTP and the glue I use to connect Circe with Akka HTTP. Compilation errors (no encoder found) were missing, and - I guess - in runtime some kind of default Encoder/Marshaller was chosen what led to this weird output. If you want, you

[2016-09-26 14:23] chwthewke opened #388 "Is this a bug? deriveDecoder, decodeOption, map and accumulating (!) not playing nice together"
Hello,

With Circe 0.5.2, I'm trying to decode a class with an optional field while wrapping its `Option` value in a data type, such as `WrappedOptionalField` here:

    case class WrappedOptionalField( f : Opt )

    object WrappedOptionalField {
      implicit val decode : Decoder[WrappedOptionalField] = deriveDecoder
    }

    case class Opt( value : String )

    object Opt {
      implicit v

[2016-09-26 14:23] travisbrown commented on #386
@dzikowski I've got an enumeration-less minimization:

[code]

And I've tracked down the problem, although I don't have a solution yet (short of adding a Shapeless dependency to core so we can use `Lazy` in the default `Seq` encoder, which unfortunately isn't really an option).

Thanks for reporting this! It's definitely a big problem, in an area where I thought we'd worked out all the corner case

[2016-09-26 14:42] travisbrown commented on #388
Thanks @chwthewke! Yes, this is a bug, and your diagnosis is exactly right—adding a `tryDecodeAccumulating` definition fixes the issue. I'm taking a look at other places we might need this and will get a fix in today.

[2016-09-26 14:56] chwthewke commented on #388
Awesome :)

[2016-09-26 15:22] travisbrown commented on #388
Okay, I've got a fix in #389. I'll backport to 0.5.x after I figure out what the situation with #386 is.

[2016-09-26 15:43] chwthewke commented on #388
Thank you @travisbrown !

[2016-09-26 15:43] #388 closed

[2016-09-26 16:23] travisbrown opened #390 "Another divergence checking nightmare"
This issue is a minimization of #386—thanks much to @dzikowski for the original report.

The problem shows up in situations like this:

[code]

And then:

[code]

This doesn't happen if `Bars` is defined in the same object as `Bar`, or if `Bar` is moved out of `Foo`, or if `Bars` is defined separately (e.g. two `:paste`s in the REPL). It also doesn't happen if `Bars` is explicitly given a derived

[2016-09-26 17:25] milessabin commented on #390
FYI, you could have a "soft" dependency on `shapeless.Lazy` using the technique employed in [export-hook](https://github.com/milessabin/export-hook/blob/master/core/src/main/scala/export/export.scala#L499-L507).

[2016-09-26 17:59] travisbrown commented on #390
@milessabin But I've held out against macros in circe-core for soooo long. 😦

[2016-09-26 20:17] milessabin commented on #390
Ahh ... sorry, I thought this was an issue relating to the new macros in recent circe releases.

[2016-09-27 19:56] SethTisue commented on #302
ticket on the availability of Cats for 2.12: https://github.com/typelevel/cats/issues/1285

[2016-09-29 12:44] tindzk opened #393 "Long value incorrectly decoded on Scala.js"
The following test case fails on Scala.js:

[code]

[2016-09-29 13:40] travisbrown commented on #393
Thanks @tindzk—I'll take a closer look at this, but at a glance I think [this](https://travisbrown.github.io/circe/api/index.html#io.circe.Decoder$@decodeBigDecimal:io.circe.Decoder[BigDecimal]) is what you're seeing:

Could you try `decode[JsonNumber]` and then `toLong` as a workaround?

[2016-09-30 07:17] tindzk commented on #393
Thanks! I tried the following code:

[code]

Here is the JVM output:
[code]

Unfortunately, it behaves differently on Scala.js:
[code]

[2016-10-06 11:31] sirocchj opened #396 "Decoder[A].validate is subject to infinite recursion"
[code]

Issue is easy-peasy to fix, apply() is recursively calling itself instead of self type'd apply, submitting PR

[2016-10-06 12:32] crakjie commented on #396
Tanks to open a pr 👍

[2016-10-11 05:33] ngbinh opened #401 "circe-generic macros do not work with `"-Ywarn-unused-import"` scalac flag"
For any scala project with `"-Ywarn-unused-import"` turns on, this code will not compile:

[code]

with error `could not find Lazy implicit value of type io.circe.generic.encoding.DerivedObjectEncoder[A]`

[2016-10-11 12:54] travisbrown commented on #401
What versions (Scala, circe) are you on? I just set up a minimal project and I'm not seeing an error.

[2016-10-11 13:00] ngbinh commented on #401
I am on Scala `2.11.8` and latest circe `0.5.3`. Will try to come up with a minimal reproduce

[2016-10-11 21:08] kevinmeredith commented on #256
Given that https://github.com/travisbrown/circe/issues/381 has been merged, can this ticket be closed?

[2016-10-11 21:15] travisbrown commented on #256
Yep, thanks.

[2016-10-11 21:15] #256 closed

[2016-10-17 22:07] travisbrown commented on #396
Resolved in #396.

[2016-10-17 22:07] #396 closed

[2016-10-18 09:27] LATaylor-guardian commented on #65
@travisbrown Was this ever added by any chance? I was playing around this morning and hit this issue so was unsure if I am missing something?

[2016-10-21 08:15] ilya-murzinov commented on #65
@travisbrown I was figuring out how it can be implemented and ended up with the following.
Inside ```DerivationMacros#decodeHList``` and ```DerivationMacros#decodeCoproduct``` we should check whether the class has default values, and if it has, add them to representation.
Am I on the right path?
If so, can you give any tips in how it can be done?

[2016-10-24 13:05] travisbrown commented on #302
@tindzk I've got #417 lined up and ready to go as soon as Cats 0.8.0 is published, and if you really wanted you could build that branch locally now after publishing [this Cats branch](https://github.com/typelevel/cats/pull/1415) (which should get merged today, I hope) locally.

[2016-10-25 08:35] backuitist opened #419 "Generic derivation does not work for sealed hierarchy with members inter-dependencies"
The title isn't great but it's not about recursive ADT. So the following works:

[code]

But this does not work:

[code]

It complains with

[code]

[2016-10-25 13:42] travisbrown commented on #419
@backuitist What version(s)? Looks fine to me with 0.5.4 on 2.11.8:
[code]

[2016-10-25 21:55] tindzk commented on #302
That's great news! Thanks a lot.

[2016-10-27 15:33] SethTisue commented on #302
Cats 0.8.0 is published

[2016-10-27 15:34] travisbrown commented on #302
@SethTisue Yep. I got bogged down with a couple of iteratee.io changes yesterday, but the circe release will be out today.

[2016-11-01 05:04] darienmt opened #425 "LocalTime encoder/decoder missing from io.circe.java8.time"
It is a simple implementation and it could be good to have it there:
[code]

Is this implementation somewhere else?

[2016-11-01 14:22] travisbrown commented on #425
@darienmt No, this isn't currently provided, but I agree that it could / should be. Want to submit a PR?

[2016-11-01 20:08] darienmt commented on #425
Yes, let me add the unit tests as well.

[2016-11-01 22:47] yoppworks-luke opened #426 "Can decode[ClassName](json: String` be used for incomplete json?"
Consider the following code:

[code]

Currently this returns a `Left(Some kind of cursor error)` because "lastName" is missing in the json string. I'm having to use an actual cursor with `getOrElse` and traverse the json and build out the case class. Anyway `decode` can supply default values like empty string, false, etc for that particular field?

[2016-11-02 02:47] darienmt commented on #425
#427

[2016-11-02 03:07] darienmt commented on #426
In some cases could be better to use Option[T] instead of default value:
[code]

[2016-11-02 04:02] #425 closed

[2016-11-03 12:54] backuitist commented on #419
Ok, I tried to reproduce that in a separate project with SBT but couldn't get it to break.
Sorry for that!

[2016-11-03 12:54] #419 closed

[2016-11-03 15:25] travisbrown commented on #426
In addition to @darienmt's answer (which is the simplest and usually best way to handle this kind of situation), circe also provides generic derivation for partial case classes:

[code]
And then:
[code]

This would be substantially cleaner if you had distinct types—the `Witness` and `field` business is only necessary because you have to disambiguate between the two `String` fields.

You could also

[2016-11-03 15:25] #426 closed

[2016-11-03 15:37] backuitist opened #434 "Generic derivation fails for sealed hierarchy living in a file with a lower-case name"
This is happening with circe 0.5.4 and scala 2.11.8.
I've created a simple repo to reproduce this: https://github.com/backuitist/circe-test

[2016-11-03 15:57] travisbrown commented on #434
Okay, that's really weird. Here's a minimization that's not circe-specific:
[code]

This won't compile, but if you rename `foo.scala` to `Foo.scala` and `sbt clean compile` it works just fine.

To make things even more horrifying, you can also leave `foo.scala` as it is and rename `Test.scala` to `test.scala` and it'll work.

Same thing happens on 2.10.6 and 2.11.8.

Unfortunately I don't really k

[2016-11-03 16:11] dwijnand commented on #434
Looks like a bug in the incremental compiler..

[code]

[2016-11-03 16:14] djspiewak commented on #434
Mac or Linux?

[2016-11-03 16:14] travisbrown commented on #434
@djspiewak Not sure about @backuitist, but I'm on a Mac at the moment. Trying on Linux now…

[2016-11-03 16:14] backuitist commented on #434
I'm on a Mac

[2016-11-03 16:16] dwijnand commented on #434
I'm on Mac, with a case-insensitive FS:

[code]

[2016-11-03 16:17] travisbrown commented on #434
Same thing on Linux.

[2016-11-03 16:27] milessabin commented on #434
It's SI-7046. scalac sorts source files by (path) name. So filename can affect type checking order.

[2016-11-03 16:28] backuitist commented on #434
Do you think https://github.com/scala/scala/pull/5284 will fix that?

[2016-11-03 16:30] dwijnand commented on #434
Ah...

[code]

[2016-11-03 16:37] travisbrown commented on #434
@backuitist I just confirmed that this works with TLS, so yes, it should.

[2016-11-04 10:34] backuitist opened #435 "Add a macro to simplify manual definition of codecs for ADT"
There are 2 reasons why I'd like to do that:
- the generic derivation mechanism isn't practical for now
- quite often you want to explicitly describe your mapping

Here is a suggestion:
[code]

[2016-11-04 12:13] martinring commented on #302
Would be great to see 0.6.0-RC1 for 2.12 final!

[2016-11-04 12:50] travisbrown commented on #65
This is now available in circe-extras in [0.6.0-RC1](https://github.com/travisbrown/circe/releases/tag/v0.6.0-RC1).

[2016-11-04 12:50] #65 closed

[2016-11-06 14:42] travisbrown opened #438 "Switch to sbt-microsites"
I think we should use @47deg's [sbt-microsites](https://github.com/47deg/sbt-microsites) to build the project site. The transition is likely to look pretty similar to [the one for Cats](https://github.com/typelevel/cats/pull/1369), since the current circe site is largely based on the previous Cats one.

[2016-11-06 14:44] travisbrown opened #439 "Add coproduct codecs to circe-shapeless"
As requested by @eirirlar [here](https://gitter.im/travisbrown/circe?at=581e596ae097df757575904d). For the sake of consistency we should support both labelled and unlabelled versions, with the unlabelled ones simply using `or`.

[2016-11-07 01:23] darienmt commented on #438
I could help with that. I am not familiar with the plugin, but I am familiar with jekyll.

[2016-11-07 21:45] travisbrown commented on #439
I'm grabbing this since I'd like to get it into 0.6.0.

[2016-11-08 15:48] fernandomora opened #444 "Nested Lists are wrongly derived as Nil, head and tl$1"
This is tested in circe 0.6.0-RC1 with scala 2.11

[code]

But `asJson` should produce:
[code]

And `decode` should be able to read:
[code]

Non-empty lists also are wrongly derived:
[code]

[2016-11-08 17:32] fernandomora commented on #444
As a workaround if If you explicitly declare the codecs using `decodeCanBuildFrom` and it works as expected:
[code]

[2016-11-08 18:32] travisbrown commented on #444
I think this is the same underlying issue as in #390, but in a slightly more minimized form. Thanks for identifying the workaround, @fernandomora.

I don't think it'll be possible to fix this in 0.6.0, but we should try to characterize the cases where it occurs more specifically and write up workarounds.

[2016-11-09 11:38] cb372 opened #445 "Issue with deriveEnumerationDecoder"
I tried to use the new `deriveEnumerationDecoder` on an enum that was auto-generated by ScalaPB from a protobuf schema, but it fails to compile:

[code]

Minimal reproduction here: https://github.com/cb372/circe-scalapb-enum-issue

The generated code looks pretty similar to the example given in the 0.6.0-RC1 release notes, so I'm not sure why this doesn't work. I thought it might be SI-7046 relate

[2016-11-09 13:39] travisbrown commented on #445
The issue here is the `Unrecognized` case class, since this mechanism requires all constructors to be case objects. This restriction is mentioned briefly in the release notes ("If we had any case classes in our `Suit` ADT, the derivation would fail to compile"), but should be documented better.

The restriction isn't set in stone—I just wanted to provide a version of the functionality that didn't

[2016-11-09 15:00] cb372 commented on #445
I see. Sorry, I did read that sentence in the release notes, but totally forgot about it.

For now I'm happy to write my decoders manually, as I only have 3 or 4 enum types. In the long term it might be nice to support case classes as well as case objects, but I understand the desire to avoid overcomplicating things.

[2016-11-10 03:38] guersam commented on #281
There's https://github.com/gnieh/diffson which will [support circe very soon](https://github.com/gnieh/diffson/pull/35).

[2016-11-10 07:30] satabin commented on #281
Support for circe was just merged. Version 2.1.0 with this support will be released next week.

[2016-11-10 07:38] agourlay commented on #281
diffjson looks great, I will definitely try it 👍

[2016-11-14 21:42] SethTisue commented on #302
it appears to me that 0.6.0 was published for 2.12 and this ticket can be closed?

[2016-11-14 21:46] travisbrown commented on #302
@SethTisue Yep, thanks.

[2016-11-14 21:46] #302 closed

[2016-11-15 17:05] jrudnick opened #452 "Build all circe jars as OSGi bundles"
It would be nice to be able to leverage circe jars in the context of OSGi bundles, for use within OSGi-ready applications.

I haven't looked much into this, but perhaps this is of use? https://github.com/sbt/sbt-osgi

[2016-11-15 20:29] sbrunk opened #454 "JSON encoding of case classes with the same name in different packages"
I'm working with a large collection of case classes that extend a sealed trait. In order to avoid naming collisions these case classes are grouped into different objects (they could also be grouped in packages).

For instance I have an object of type Tabs.OnCreated and another of type Windows.OnCreated. The JSON representation only contains the simple class name though, so it's impossible to disti

[2016-11-16 18:36] travisbrown commented on #452
To be honest it's been years since I've personally used OSGi, but I'd be happy to see this get done. The [scodec family of projects](https://github.com/scodec) is probably a good place to look for models.

[2016-11-20 06:58] gaydenko commented on #336
This doc fragment is moved to  https://travisbrown.github.io/circe/tut/codec.html and clarifying is there:

[2016-11-20 06:58] #336 closed

[2016-11-22 08:18] Odomontois opened #468 "specialized Encoder\Decoder macro"
In my project for types in some module I'm implementing only `Encoder`s
There're 20% encoders written manually and other 80%  are via `deriveEncoder`.
For each of those 80% I'm making a small companion object containing a single `implicit ObjectEncoder[...]` definition.
It would be nice if there were specialized `@JsonEncoder` and `@JsonDecoder` macro annotations making such code a little bit more

[2016-11-24 07:05] pjan opened #469 "Generic instances for value classes"
It would be great if these would make it to the library. Happy to open a PR for it, if somebody points me to the right place for these:

[code]

[2016-11-24 16:55] travisbrown opened #470 "truncateToLong should be more exact for large longs"
I don't consider this a catastrophic bug, since `truncateToLong` shouldn't be used in situations where you need an exact response for big values, but it still breaks the contract:

[code]

[2016-11-27 15:23] travisbrown commented on #469
I'd say let's go either with this (or something using Shapeless's `Unwrapped`) in circe-generic-extras for now.

I'd support making it the default there for fully automatic derivation, and if it works well it could graduate to circe-generic in an upcoming version.

[2016-11-27 15:47] travisbrown opened #475 "Reconsider the collection type in the JSON array representation"
Right now circe represents JSON arrays as a case class wrapping a `Seq[Json]`, with `List[Json]` used by default for Jawn-parsed arrays, as well as throughout the API.

`List` fits nicely with the current cursor implementation, where a cursor into a JSON array is represented zipper-style with a list of values to the left (moving away from the cursor) and a list to the right. This representation is

[2016-11-27 19:11] vkostyukov commented on #475
My vote shouldn't probably be counted (as I'm not using Circe at work), but I've done some similar changes in one of the Finagle's internal components in the past (`List` -> `Vector`). Vectors are great for all sort of things: random access, iterating over with `.iterator`. Coupled with `VectorBuilder`s (a mutable builder that can yield a `Vector` in `O(1)`) they promote quite time/space-efficient

[2016-11-28 12:58] travisbrown opened #476 "Reconsider behavior of integral decoders on strings"
Currently the decoders for integral types use Scala's `toLong`, `toInt`, etc., which leads to some slightly inconsistent behavior on non-ASCII characters in the "Number, Decimal Digit" Unicode category:

[code]

The first line is clearly correct—this just isn't a valid JSON number. The second line isn't _incorrect_, since this is about the interpretation during decoding, and not about parsing at a

[2016-11-28 17:18] jonas commented on #438
@travisbrown This can be closed I believe

[2016-11-28 17:21] travisbrown commented on #438
@jonas Yep, thanks. Fixed in #438.

[2016-11-28 17:21] #438 closed

[2016-11-29 15:24] #470 closed

[2016-11-30 05:04] jonas commented on #259
As of Scala.js version 0.6.13 proposed settings are now [the defaults](https://www.scala-js.org/doc/project/js-environments.html) except for the batch mode:

[2016-11-30 15:09] ksilin opened #483 "Compiler fails with `java.util.NoSuchElementException: head of empty list` on optics case class extraction"
Definition of optics `Optional` for extracting a case class seems to trip the compiler. I am not entirely sure how this could be circe's fault, but it is reproducible for me.

In a test I have been comparing generated data with existing JSON using a bunch of extractors:

[code]
`Inf` and `Avp` are simple case classes.
All was working fine until I decided to put the extractors into a separate trait

[2016-11-30 15:38] travisbrown commented on #483
Thanks for the report, @ksilin. Can you give me a little more information so I can reproduce it? (My quick attempt just now failed.) Are you using circe-generic and / or Monocle's macros?

[2016-11-30 15:52] jonas commented on #393
The problem is that circe uses [`JSON.parse`](https://github.com/circe/circe/blob/991aaf596693acd9c35d400a845577232030b797/modules/parser/js/src/main/scala/io/circe/parser/package.scala#L9) parsing and decoding in Scala.js. When circe gets to [convert to its AST](https://github.com/circe/circe/blob/4fe187a123183cac09b0a7edf060c6eda689c979/modules/scalajs/src/main/scala/io/circe/scalajs/package.sca

[2016-11-30 16:01] travisbrown commented on #393
@jonas @tindzk I've just been thinking about this in conjunction with #476.

The idea would be that the fallback string decoder for numeric types would use circe's own number parser. That way Scala.js users would get the default JavaScript JSON parsing for ordinary JSON numbers, but if they wanted more precision they could represent their numbers as strings.

To me this seems less invasive than en

[2016-11-30 16:31] travisbrown opened #484 "Add an fs2 module"
This would probably look similar to circe-streaming but would use [fs2](https://github.com/functional-streams-for-scala/fs2) instead of [iteratee.io](http://iteratee.io).

[2016-11-30 17:24] jonas commented on #393
Yes, that is a good point. So some kind of `Configuration.withStringlyTypedNumerics`?

[2016-11-30 17:26] travisbrown commented on #393
@jonas This would actually be the default, for both the JVM and Scala.js. It fixes the inconsistencies noted in #476, while also allowing Scala.js users to get more precision by representing their numbers as strings.

[2016-11-30 17:32] jonas commented on #393
OK, will there be an option to turn it off when interoperability is needed?

[2016-11-30 17:37] travisbrown commented on #393
@jonas When would that be necessary? Just to clarify, the decoding of `{ "n": 767946224062369796 }` as a `Long` would remain the same (i.e. wrong) on Scala.js—you'd only get the improved behavior with `{ "n": "767946224062369796" }`.

[2016-11-30 18:29] tindzk commented on #393
I'm not sure whether having custom behaviour in the decoding process is a good idea. I am concerned it will impact interoperability with other JSON libraries. Wouldn't it be better not to create invalid JSON in the first place? I suppose the standard imposes restrictions on the precision of numbers. So, `asJson` could fail if a number cannot be possibly represented in JSON.

[2016-11-30 18:43] travisbrown commented on #393
@tindzk The issue is that the JSON standard doesn't put any restrictions on precisions—a JSON number can be as precise as you can fit in a string in memory (or more, I guess). The restrictions come from JavaScript, which in many cases isn't involved as a platform at all when working with JSON.

The behavior proposed in #476 doesn't customize JavaScript's JSON parser on Scala.js—it's entirely about

[2016-11-30 19:07] tindzk commented on #393
I see. Thanks for the clarifications. As @jonas suggests, an option for disabling this behaviour would still be desirable. I imagine the case where a developer wants to parse JavaScript-generated JSON and parse it in Circe. The decoding process should fail if Circe sees a string instead of a number.

[2016-11-30 19:23] travisbrown commented on #393
@tindzk Would you mind opening a separate issue for that? Since the beginning, circe (like Argonaut) has silently fallen back to attempting to parse JSON strings as numbers during decoding for numeric types—#485 just makes this a little more robust (and more consistent on the JVM side).

You could do the extra validation you propose right now with `prepare` on the decoder, but if there's enough de

[2016-11-30 19:28] #476 closed

[2016-11-30 19:37] ksilin commented on #483
Thanks for looking into it, @travisbrown. Have created a minimal reproduction: https://github.com/ksilin/circe483. I am using circe-generic. Does it work for you?

[2016-11-30 19:48] travisbrown commented on #483
@ksilin Thanks! It compiles at least if you add the `io.circe.generic.auto._` import in the file where you call `.as[Inf]`, etc. This makes sense, because `as[A]` needs a `Decoder[A]`. The part I don't understand is the bizarre compiler error. I'll take a closer look asap.

[2016-11-30 20:55] tindzk opened #487 "Compatibility with JSON dialects"
It should be possible to specify a dialect/compatibility level. For example, JVM's Long numbers could be represented as strings to support larger numbers. Conversely, if the developer only uses Circe to process JavaScript-generated JSON, decoding should fail if a long is expected, but string found.

See also #393.

[2016-11-30 20:57] tindzk commented on #393
Thanks for fixing the bug! I created an issue as requested.

[2016-11-30 20:57] #393 closed

[2016-11-30 21:03] travisbrown commented on #487
Thanks, @tindzk. What I'm imagining is something like a `strictNumeric` object (probably inside of `Decoder`) that would contain instances for numeric types that fail on JSON string values (without trying to parse them, which is the default behavior). Does that sound reasonable?

I'm not sure I'll get around to this myself before 0.7, but I'd be happy to review any contributions.

[2016-11-30 21:26] tindzk commented on #487
Sounds good. It would allow adding support for further options, such as encoding objects as lists instead of dictionaries. We may also consider a setting to encode `Option` values as lists (like uPickle) for further space reductions.

[2016-12-01 06:35] ksilin commented on #483
@travisbrown The fix makes perfect sense, thanks. Did not consider it as the error surfaces in a very odd place :)

[2016-12-02 10:59] fsvehla commented on #484
Is there also interest in a version for Monix observables?

[2016-12-12 11:27] mxl opened #503 "Fix or document `sbt test`"
Following the [discussion](https://gitter.im/circe/circe?at=584e6d0ebe9d43bc634cad21) in Gitter.

Currently it fails with:
[code]

[2016-12-12 14:36] tymm opened #505 "JsonCodec with apply() in companion object"
[code]
results in `could not find Lazy implicit value of type io.circe.generic.decoding.DerivedDecoder[Test]`

I'm not sure if this is a bug or intended.
In either case I think it is useful to write about this since I couldn't find anything regarding this behavior.

My current solution for fixing this is to move `apply` to another companion object:
[code]

[2016-12-16 06:41] n4to4 commented on #223
Is this still happening? I'm trying to reproduce this about 500 times now, but no error happened.
Maybe I'm doing something wrong. Or the issue disappeared somehow?

[code]

[2016-12-16 10:10] julien-truffaut opened #512 "Add Iso between JsonObject and Map[String, Json]"

[2016-12-16 15:22] travisbrown opened #514 "Move circe-spray to its own project"
circe-spray is now the only published module that we can't build for 2.12, and since Spray seems to be more or less unmaintained at this point I think it makes sense to split circe-spray into its own project.

The result would look similar to what I've just done for [circe-jackson](https://github.com/circe/circe-jackson). I'd prefer to maintain history, so the first step would be a fresh clone of

[2016-12-16 15:25] travisbrown commented on #223
@n4to4 I'm not aware of any changes that would have affected this specifically, but a lot's happened since April and I also haven't seen this error since then, so it might be resolved.

[2016-12-16 15:27] ktoso commented on #514
Hi there, correct Spray is nearing end of life and we'd only release it for fixing security or similar issues. The "Spray 2.0" as we sometimes call it is Akka HTTP, so one could ask if circe should include akka-http-circe instead.

However it seems that this module was just to integrate with the marshalling infrastructure?
If so, then no additional work from you guys is needed since this is suppor

[2016-12-16 15:43] travisbrown commented on #514
@ktoso Yep, akka-http-circe is great. I've kept circe-spray around because plenty of people are still using Spray (including me, unfortunately), and since it has some features that aren't yet in akka-http-circe (like convenient error accumulation). Moving it to a separate project would be a way to continue supporting it, but without having it complicate the build for circe itself.

[2016-12-16 15:53] ktoso commented on #514
Yup, makes sense :-)

[2016-12-16 16:00] travisbrown commented on #514
@ktoso By the way thanks for the reminder that I've been meaning to open an issue like this: https://github.com/hseeberger/akka-http-json/issues/114 :smile:

[2016-12-16 16:30] travisbrown commented on #512
Hmm, this wouldn't really be an isomorphism, though, since part of the contract of `JsonObject` is that it preserves order.

[2016-12-16 16:47] julien-truffaut commented on #512
ah ok, I didn't know it was preserving order. Maybe we can define a `Iso[JsonObject, ListMap[String, Json]]` ?

[2016-12-17 11:16] n4to4 commented on #514
@travisbrown
I'm not so sure if everything is okay, but here's what I've got.
https://github.com/n4to4/circe-spray

[2016-12-17 17:59] travisbrown commented on #514
@n4to4 Wow, that was fast! Looks good to me—I'll set up circe/circe-spray and make you a co-maintainer.

[2016-12-18 15:05] alainmarcel26 opened #518 "Trouble when decode json with circe 0.6.1 on android"
Hi
I'm working with circe 0.6.1 and scala 2.11.
On platform other than android, it is ok.
On android (marshmallow), encoding is ok but decoding works only in debug mode, if I put a breakpoint on line containing decode method.
I use Android Studio. I do not use Proguard.
Find bellow code with description of error, and traceback.
If you have any idea about issue, I can test any new code on my platfo

[2016-12-18 16:39] travisbrown commented on #514
Done ([here](https://github.com/circe/circe-spray) and [here](https://github.com/circe/circe/pull/519)). Thanks again @n4to4!

[2016-12-18 16:39] #514 closed

[2016-12-19 13:34] jensraaby commented on #503
I've got the same issue at the moment with IntelliJ.

IntelliJ and sbt (only for the benchmark module) appear to be looking for 2.12 artefacts that don't exist.

I actually get different errors to the above:

[code]

[2016-12-19 13:39] jensraaby commented on #503
I've tried swapping some of the libraries in question to 2.12-compatible versions, and hardcoding the picopickle version to 2.11, but that then causes other issues

[code]

[code]

[2016-12-19 14:05] travisbrown commented on #503
@jensraaby Is that on the most recent master? As of yesterday the benchmark project is no longer aggregated.

I'd be fine with removing picopickle from the benchmarks if it's not having a 2.12 build is going to cause problems like this. I'd also happily accept a PR updating the Play JSON and Argonaut versions. :)

[2016-12-19 18:42] jensraaby commented on #503
Yes I was using the latest master, on IntelliJ 2016.3.1. Annoyingly when you import an SBT project it tries to load all the dependencies before it will actually open anything.

I managed to run locally when removing picopickle and updating the versions, but I'm not sure if there would be another way to just mark the benchmarks as only applicable with Scala 2.11/2.10?

[2016-12-19 21:40] calvinbrown085 opened #522 "Fully automatic derivation missing import"
In these examples for fully automatic derivation it looks like there is a missing import for
```import io.circe.syntax._```

[2016-12-20 16:42] travisbrown commented on #522
@calvinbrown085 Which examples?

[2016-12-20 16:47] calvinbrown085 commented on #522
@travisbrown My bad using these fully automatic derivation https://circe.github.io/circe/codec.html here.

[2016-12-20 16:50] travisbrown opened #525 "Move benchmarks against other libraries to a separate project"
See #521 for context:

So the idea is that all benchmarks against other JSON libraries would live in a new circe/circe-benchmarks repository, and only the internal benchmarks would stay in this repo.

[2016-12-20 17:04] jensraaby commented on #525
I don't know how timely I would be, but I'm willing to start working on this.

Initially I suppose there needs to be a new repo, then a lift-and-shift of the original benchmark module and associated SBT & Travis config.

[2016-12-20 17:06] travisbrown commented on #525
@jensraaby Yep, it'd look pretty similar to what @n4to4 did for #514.

[2016-12-21 21:07] jensraaby commented on #525
I've started a new repo with just the benchmark project here: https://github.com/jensraaby/circe-benchmark

It's not ready for prime time yet, as I can't figure out why the benchmarks don't run on "sbt test" on my box. Perhaps it's another Scala version issue.

[2016-12-21 22:02] travisbrown commented on #525
Thanks, @jensraaby, looks great! I'll clone it to the circe org and add you as an owner.

[2016-12-21 22:05] travisbrown commented on #525
Okay, it's up: https://github.com/circe/circe-benchmarks

I've called it circe-benchmarks because that seems better for a stand-alone project (and is probably what I'd call the module in circe if I were naming it today—to be honest I'm not sure I remember why I went with the singular). I'm happy to reconsider this if something thinks it's really bad.

[2016-12-23 19:31] jonas opened #531 "Automatically publish site on each merge"
As discussed a while back on the Gitter channel it would be nice to automatically publish documentation either when PRs are merged or when tags are created. To avoid having the `gh-pages` branch inside circe/circe the site should be hosted in circe/circe.github.io that could eventually be served via circe.io (which BTW still points to travisbrown/jfc ;) ).

The approach I am suggesting for this is

[2016-12-23 20:36] travisbrown commented on #531
Ugh, just lost a several paragraph draft response to a browser crash.

In short for now—I agree that we should start publishing on every PR, now that more work is happening on the site. I'm not entirely convinced that the circe site itself should live directly under https://circe.github.io/, though—I had a conversation with @dwijnand about this a couple of weeks ago at Scala Exchange and he mostly

[2016-12-23 21:09] jonas commented on #531
With a GitHub org site (and custom domain) you can mix and match how org projects host their docs. If circe-yaml has a gh-pages branch it will take effect else HitHub pages will try to resolve the path in the org site. The trick is to make Travis CI do a shallow clone of the org site and then only update files in the org project's subdirectory of the site.

[2016-12-26 21:21] travisbrown commented on #320
Done in #526.

[2016-12-26 21:21] #320 closed

[2016-12-27 01:43] travisbrown commented on #525
Okay, with #528 this is done. Thanks @jensraaby!

[2016-12-27 01:43] #525 closed

[2016-12-27 01:46] travisbrown commented on #503
Okay, `sbt test` and `sbt update` should just work after #521, #528, etc.

[2016-12-27 01:46] #503 closed

[2017-01-07 10:20] ImLiar opened #536 "Byte Array Printer"
There is a discussion in finch https://github.com/finagle/finch/issues/676 about printing JSON straight into byte array, skipping string transformation.
I assume this performance-oriented feature could be useful in many projects besides finch.

Should it be a part of circe ecosystem? Just as another subproject printer.

[2017-01-07 15:03] travisbrown commented on #536
👍, I [definitely think we should add this](https://github.com/finagle/finch/issues/676#issuecomment-271087926). I guess the simplest approach would be to add a method that accepts a `PrintWriter` and then define `pretty` in terms of that. I'll take a look this morning.

[2017-01-08 18:26] kevinmeredith opened #538 "Problem: Passing `null` to `Encoder#encodeObject`'s Input Case Class Throws"
Using:

[code]

I observed the following `MatchError` when passing a `null` to `Encoder#encodeObject`:

[code]

I'm not sure if this behavior is standard or documented, however I recently encountered it when playing with this library.

Perhaps `null` is a more appropriate JSON value?

[2017-01-08 19:53] travisbrown commented on #538
This is the intended behavior for all methods in circe (and matches most standard library methods, etc.). Checking for null everywhere would be noisy and wouldn't encourage good practice, so it's assumed that the user is responsible for not passing it, and if they do the behavior is undefined (but will usually either be this match error or an NPE).

[2017-01-08 19:53] #538 closed

[2017-01-10 09:01] hendisantika opened #541 "could not find Lazy implicit value of type io.circe.generic.decoding.DerivedDecoder[A] implicit val comDecoder: Decoder[SolrDoc] = deriveDecoder"
Here's my case
I have some json from finagle http get client :

[code]
could not find Lazy implicit value of type io.circe.generic.decoding.DerivedDecoder[A] implicit val comDecoder: Decoder[SolrDoc] = deriveDecoder
[code]

[2017-01-10 11:05] hendisantika commented on #541
Is it related to this [disclaimer] (https://github.com/hendisantika/circe/blob/master/DESIGN.md)?

[2017-01-11 09:10] agourlay commented on #281
Coming back to you guys with some update.
I have been using successfully ```diffson``` as alternative and it is working great for me so far.

From my perspective this issue can be closed from the time being.
Thanks @satabin for the sweet lib 👍

[2017-01-11 09:16] satabin commented on #281
Glad it helps. Do not hesitate to report bugs or ask for enhancements if you find anything.

[2017-01-11 23:16] ImLiar commented on #536
Glad to see this as a part of M2! I think it's okay to close this issue now.

[2017-01-11 23:16] #536 closed

[2017-01-12 04:30] vkostyukov opened #542 "Printing int arrays is slower when targeting byte buffers"
While working on https://github.com/finagle/finch/pull/717 I figured that printing int arrays is 25% slower in Circe when targeting byte buffers instead of strings. Intuitively it should be the opposite. Interesting enough, the allocation profile is improving significantly with byte buffers, but it's the throughput that degrades.

[2017-01-14 15:58] jonas commented on #531
Status update: Documentation for sbt-site and publishing with SSH keys has been completed and tested: http://www.scala-sbt.org/sbt-site/publishing.html#publishing-to-github-pages-from-travis-ci

Will start looking into how to publish into a shared org site.

[2017-01-15 21:57] travisbrown opened #547 "Add Printer abstraction"
Right now we provide a `Parser` interface, but `Printer` is a case class. This is because from the beginning parsing was intended to be provided by third-party libraries, while we had our own printer. Now that circe-jackson is being more widely used for printing, it probably makes sense to give `Printer` the same treatment as `Parser`. We'd need to identify what configuration options we should exp

[2017-01-18 00:45] jsancio opened #549 "Regression with circe 0.6.1"
In Circe 0.5.4 the following code doesn't fail:

[code]

While in Circe 0.6.1 the following code fails:

[code]

This is what the circe 0.6.1 code returns:

[code]

[2017-01-18 19:03] travisbrown commented on #549
I'm not sure I want to call this a regression, since the exact contents of the error message aren't documented behavior, but I understand that changes like this can be inconvenient.

The difference was introduced in #442, which provides `decodeList` instances for convenience of explicit use. I'd be happy to review / take into consideration a PR that removes the `withErrorMessage` for those instanc

[2017-01-19 19:04] durban opened #551 "BitVector encoder doesn't preserve length"
The encoder for `scodec.bits.BitVector` doesn't preserve the length of the bit vector (if it isn't a multiple of 8), but right pads it with zero bits (to be a multiple of 8). Thus, encoding and decoding is not (always) an identity.

[code]

[2017-01-19 19:22] jsancio commented on #549
The workaround worked of us. Thanks!

[2017-01-19 19:38] travisbrown commented on #551
Eek! Thanks for catching this. I probably won't get around to fixing it until Sunday, if someone else wants to take a look before then. Once it's done I'll publish an 0.7.1 release.

[2017-01-24 09:56] tomrf1 opened #555 "Support mutable maps"
As discussed [here](https://github.com/guardian/fezziwig/issues/3#issuecomment-274151152), it would be useful to support encoding/decoding of `mutable.Map` as well as `immutable.Map`.

[2017-01-24 09:57] tomrf1 commented on #555
I’ve got something that appears to work in a fork [here](https://github.com/circe/circe/compare/master...tomrf1:tomrf1/support-mutable-map).

However, since `collection.Map` is invariant in its type parameter for the value, I have had to remove the `+` from the instances’ `V` type param. Does anyone know if this will cause any problems, i.e. will we need separate instances instead?

[2017-01-24 16:31] simao opened #556 "sorting keys when encoding json"
I need generate a checksum for my encoded json. To get a stable signature, I need to sort the keys before the checksum, so that other parties can checksum the json and get the same checksum. See http://wiki.laptop.org/go/Canonical_JSON

Is there a way to guarantee keys will be sorted when using circe?

[2017-01-24 16:39] travisbrown commented on #556
The `JsonObject` representation will preserve insertion order, whether you build the object with `empty` and `add` or with `from` or `fromIterable` (note though that `fromMap` doesn't preserve order), and the default printers will respect that order (unless you explicitly set `preserveOrder` to `false`, in which case the serialization order is undefined).

There isn't a direct way to sort the key-

[2017-01-24 16:43] simao commented on #556
This is the object I am trying to serialize:

[code]

I have encoders in scope for all of these types, but how can I gurantee that those `Map` will have the sorted order? I am currently not using `JsonObject` directly. So I should call `asJson` and manipulate that `Json` object?

Thanks

[2017-01-24 17:17] travisbrown commented on #556
The most idiomatic way to handle this would be to use a custom encoder:

[code]

And then:

[code]

You could also define a custom `Map` encoder, or a wrapper case class for the maps with a custom instance that sorts before encoding, and then just use generic derivation for the `RootRole` instances. One of those options might make sense if you have a lot of case classes like this, but in general I

[2017-01-24 17:28] simao commented on #556
Hi Travis,

Ah yeah this looks very good. I do have lots of classes like this, so I will look into defining custom encoders for those. With the code you just wrote I think I'll be able to sort this out.

Thanks a lot!

On January 24, 2017 6:17:09 PM GMT+01:00, Travis Brown <notifications@github.com> wrote:

[2017-01-26 01:48] markschaake commented on #454
I've just been bit by this same issue. In my case I'm getting a runtime exception because my similarly-named case classes have a different field name.

[code]

I took a glance at the generic [Deriver](https://github.com/circe/circe/blob/f04aab29ca1a0af5481de668db7d3067565af1b1/modules/generic/shared/src/main/scala/io/circe/generic/Deriver.scala) and could not grok (sorry). I was thinking a solutio

[2017-01-26 15:00] travisbrown commented on #454
Thanks for the report, @sbrunk and @markschaake, and sorry for letting this sit so long (sometimes notifications slip by me, so feel free to bump). I'll take a look today.

[2017-01-26 21:03] travisbrown commented on #454
I'd be inclined not to provide special support for this case, since Shapeless's generic representation doesn't include the necessary information, and since there are potentially lots of ways the discriminator key could be chosen. Writing explicit instances for the top level isn't too bad:

[code]

What do you think?

[2017-01-26 21:22] markschaake commented on #454
@travisbrown the workaround I ended up using essentially does the same thing. Not a big issue for me since the workaround is pretty straightforward. I'd say don't bother if adding support would take a considerable effort. BTW, thanks for such an awesome library!

[2017-01-26 21:22] sbrunk commented on #454
I went with mangling name of the enclosing object i.e. ```TabsOnCreated```, ```WindowsOnCreated``` etc. which is a bit ugly but allows me to keep using fully automatic derivation. Thanks for looking into it.

[2017-01-28 19:19] calippo opened #559 "decodeBoolean doesn't decode string values"
Unlike numeric decoders, `decodeBoolean` doesn't decode string values.

E.g.

[code]

[code]

(from https://github.com/circe/circe/blob/6101fb6f27ba6b3be57df95584a7beba31c89c41/modules/core/shared/src/main/scala/io/circe/Decoder.scala)

Is there a reason for that? It makes sense to me to attempt conversion also for booleans.

[2017-01-28 20:08] travisbrown commented on #559
The argument is that there's a reasonably common convention among JSON libraries that large numbers may be encoded as strings. I'm not aware of the same thing for booleans, and it seems a little odd to me, since there's not a similar difficulty in representing booleans in a standard type. If you need this behavior it's not too hard to write your own:

[code]

And then:

[code]

Does that seem reas

[2017-01-30 14:49] calippo commented on #559
@travisbrown thanks for your answer, I actually wrote my own decoder as you suggest.

I see your point, it's good to adhere to common conventions. Though, it feels odd to have different behaviors for the very same task - I didn't expect this.

It looks to me that conversion to strings is ad-hoc for numbers and shouldn't be generalized. I guess I can close this issue.

[2017-01-30 14:49] #559 closed

[2017-01-31 19:28] marcoy opened #561 "NPE when encoding and decoding nested case class"
Hi, I have a case class where one of the fields is referencing another object of the same type.
When I try to `decode[NestedClass](str)`, it throws an NPE. Same when I try to encode to `Json`.
I'm using circe version 0.7.0 with scala 2.12.

Here is an simple example:
[code]

Stacktrace when decoding
[code]

Stacktrace when encoding
[code]

[2017-01-31 20:44] travisbrown commented on #561
Hmm, this is unfortunate. I'm afraid for right now the only option is to use the more explicit approach to defining these instances:

[code]

Or you could use generic-extras:

[code]

And then:

[code]

Neither of these approaches requires the same kind of recursive reference to the current encoders or decoders that you see with `forProductN`.

For what it's worth you get the same thing with the e

[2017-01-31 21:18] marcoy commented on #561
No worries, the two alternatives you outlined are not that bad at all, Thanks! In fact, I didn't know about the `.instance(...)` and the configuration for snake case.

I'm closing this. Thank you for the help.

[2017-02-01 14:27] travisbrown commented on #561
Do you mind reopening this, @marcoy? I'd like to have a reminder to take a look at it, and to add some documentation if we decide a fix isn't worth it. I can also open a new issue if you'd prefer.

[2017-02-01 14:34] marcoy commented on #561
Sure thing.

[2017-02-02 02:39] cridmann opened #562 "ParsingFailure on escaped characters"
Hello,

I'm trying to parse a JSON object that contains an HTML node like so:

[code]

And get the following error:

[code]

Seems maybe this is a bug in jawn?

[2017-02-06 23:53] dwijnand commented on #166
I should rivisit the tail part of this given https://github.com/circe/circe/pull/429 is merged.

[2017-02-08 22:04] stephennancekivell opened #563 "Broken link in documentation. GenericCursor"
Hey, on https://circe.github.io/circe/ in the Documentation section the link ["share API documentation."](https://circe.github.io/circe/api/io/circe/GenericCursor.html)

https://circe.github.io/circe/api/io/circe/GenericCursor.html

Im sure what it should be.

[2017-02-11 12:36] #281 closed

[2017-02-13 02:46] gavares opened #569 "could not find Lazy implicit value of type io.circe.generic.extras.encoding.ConfiguredObjectEncoder"
I believe I have a pretty simple and reproducible case that will cause the error above. In `Principal.scala`:
[code]

And in `CirceSerializers.scala`
[code]

Having these definitions yields the error described in the title of the issue.

If I simply move the definition of Principal and its companion object into `CirceSerializers.scala` before the definition of `object CirceSerializers`, the error

[2017-02-14 17:31] gavares commented on #569
FWIW, changing from scala 2.11.8 to 2.12.1 also resolves the issue.

[2017-02-20 23:14] travisbrown opened #572 "Make Codecov less enthusiastic about failing the build"
As discussed in #571, Codecov sometimes fails builds unnecessarily. I think we just need to add a `.codecov.yaml` file to raise the threshold for what counts as a failure. I'd be happy to have this be quite high (like 5%), given that we'll still get the report and major changes can be addressed in code review.

[2017-02-22 08:59] milessabin commented on #572
I think we're experiencing this problem in shapeless too.

[2017-02-22 09:45] n4to4 commented on #572
Let me take a look

[2017-02-22 20:48] #572 closed

[2017-02-23 15:17] worldwar2008 commented on #503
libraryDependencies ++= Seq(
  "io.circe" % "circe-core_2.10" % "0.7.0",
  "io.circe" % "circe-generic_2.10" % "0.7.0",
  "io.circe" % "circe-parser_2.10" % "0.7.0"
)
How to sole this problem?

Error:Error while importing SBT project:
...
	at sbt.Classpaths$$anonfun$60.apply(Defaults.scala:1090)
	at scala.Function1$$anonfun$compose$1.apply(Function1.scala:47)
	at sbt.$tilde$greater$$anonfun$$u2219

[2017-02-23 15:40] travisbrown commented on #503
@worldwar2008 Do you have an explicit dependency on Shapeless (specifically on an earlier version than circe's 2.3.2)?

[2017-02-25 16:28] jonas opened #574 "Auto-derived decoder fails with NoClassDefFoundError"
Not sure if this is a bug in circe or with how circe is used, or a problem related with spark and circe classpaths or something entirely different. Would appreciate any pointers how to debug this.

**build.sbt**
[code]

**Main.scala**
[code]

**data.csv**
[code]

**console**
[code]

[2017-02-28 03:42] kevinmeredith commented on #505
Could you please give the full code, i.e. which `import`'s you're including, @tymm, to reproduce your issue?

[2017-02-28 21:36] valenterry opened #575 "implicit decoder in scope makes Decoder[A] return null using generic.auto._"
Not sure if this is a circe specific issue or a more general one. See fiddle: https://scalafiddle.io/sf/35RxpkJ/0

[code]

Executing this code will result in `Decoder[User]` returning `null` and thus `decoder` will be `null`. However, if we comment out the `implicit val decoderImplicit: Decoder[User] = decoder`, then `Decoder[User]` returns a valid and working `Decoder[User]`.

Lifting the implici

[2017-02-28 22:32] gattaccio8 opened #576 "Add to the organization list"
We are now live with Circe in BBC

[2017-02-28 22:32] #576 closed

[2017-02-28 23:53] knutwalker commented on #575
This is an unfortunate restriction of Scala itself, not limited to circe. `Decoder[User]` is defined as `def apply[A](implicit instance: Decoder[A]): Decoder[A] = instance`, so it's not doing any work, it's just searching for the "nearest" implicit instance of a `Decoder[User]` an returns that.
The `implicit val decoderImplicit: Decoder[User]` is such a valid definition; it is implicit, in the cur

[2017-03-01 13:39] TrustNoOne opened #578 "emap/emapTry/prepare on Decoder[Option[T][ seem to break derived decoders"
Sorry if the title could be misleading.
I basically cannot call emap or emapTry on a `Decoder.decodeOption[T]` without breaking derived decoders.

Let's say I have an `implicit val uselessDec = Decoder.decodeOption(Decoder.decodeString).map(_ => None)`, that is a pretty useless decoder that always decodes to None regardless of the presence/absence of the string itself.
`uselessDec` works properly,

[2017-03-01 22:29] cponomaryov commented on #562
Because of Scala bug [SI-6476](https://issues.scala-lang.org/browse/SI-6476) in fact you have:
`raw = {"source":"<a href="http://twitter.com">Twitter</a>"}`
As a workaround you can remove string interpolation here:
`val raw =
    """
       |{
       |"source": "<a href=\"http://twitter.com\">Twitter</a>"
       |}
   """.stripMargin`

[2017-03-02 09:43] awouda opened #579 "JSON key manipulation"
Hi,

I'm having a hard time to have the keys generated in all lowercase.

I know I can use the forProductN method, but as we have very large case classes ( > 22 properties) , I wonder if there is generic way of setting the casing of generated keys for all fields of all case classes.

tia

Alex

[2017-03-02 10:44] jilen commented on #579
[This](http://stackoverflow.com/questions/37583877/transform-all-keys-from-underscore-to-camel-case-of-json-objects-in-circe/37585818#37585818) may help , Note this is for legacy circe version,

[2017-03-02 21:23] travisbrown commented on #575
Thanks for the excellent explanation, @knutwalker (we really should have a FAQ entry for this). @valenterry, does that cover the issue for you?

[2017-03-02 21:27] valenterry commented on #575
Yes, absolutely, thank you!

[2017-03-02 21:27] #575 closed

[2017-03-02 21:38] travisbrown commented on #579
@awouda If you're on circe 0.6+, the new generic-extras module supports arbitrary transformations for field names in generic derivation—see the [release notes here](https://github.com/circe/circe/releases/tag/v0.6.0-RC1) for some discussion and examples.

[2017-03-02 22:33] cridmann commented on #562
@cponomaryov - ah thanks so much, didn't know about that one!  I'll close this one.

[2017-03-05 14:24] durban opened #581 "Streaming encoding"
Would it make sense, and would there be interest in having streaming JSON _encoding_?

Currently, if we have a `Stream[A]` (and an `Encoder[A]`), it's possible to do streaming encoding, e.g., get a `Stream[String]` (where `Stream` is, e.g., `fs2.Stream[fs2.Task, ?]`). However, if we have, for example, `case class Data(n: Long, s: Stream[X])`, we don't have a way of streaming it. (In this specific

[2017-03-06 09:48] awouda commented on #579
Thanks,

I'm using now
`  val withLowerCaseKeys: String ⇒ String =  _.toLowerCase

  implicit val customConfig: Configuration = Configuration.default.copy(transformKeys = withLowerCaseKeys)`

But the keys are still camelCase. I need all keys (from the root of the doc / case class) to be lowercased, so maybe I need a discriminator, but how to set that on the root level?

[2017-03-07 12:25] s12v opened #583 "Error handling with optics"
When I define a path with optics (i.e. `root._source.as[Document]`), I can call `getOrElse(json)` which gives me a `Document` or `None` in case it was not able to.

My question is how do I get the error? In case of `None` I can understand that something went wrong, but what exactly? Something like `json.hcursor.get[Document]("_source")` - is there similar functionality in optics?

[2017-03-07 13:06] mikaelstaldal opened #584 "Encoder should remove None: Option[T] values"
It would be nice if the Encoder would remove the key/value completely when the type is `Option[T]` and the value is `None`. Currently, it encodes None to JSON null.

(Json4s works this way.)

This code:
[code]
currently prints:
[code]

I would like it to be:
[code]

[2017-03-07 13:08] vpavkin commented on #584
@mikaelstaldal you should just use a custom `Printer` with `dropNullKeys = true`.
By default it's `true`.

[2017-03-07 13:24] mikaelstaldal commented on #584
Ah, that works. But it seems like `dropNullKeys` by default is `false`?

This is also something that is missing from documentation.

[2017-03-07 13:25] vpavkin commented on #584
yes, it's false :) I made a mistake and fixed the comment afterwards

[2017-03-07 16:10] bergmark commented on #304
Thanks @jeremyrsmith, this is useful to me.

But note that using a custom printer makes the assumption that you want to treat all null keys equally. This is something I think should be decided on the instance level instead.

e.g. given `C(a = X(None), b = Y(None))` we by default get`{ "a" : { "x" : null }, "b" : { "y": null } }` it might be necessary to turn this into `{ "a" : {}, "b" : { y : null

[2017-03-10 01:45] darkfrog26 opened #585 "Exclude Options with None"
I'm generating JSON for working with ArangoDB and it distinguishes between `null` and not set.  This creates a problem since the default operation of Circe semi-auto encoding of `Option` set to `None` is `null`.  Is there some way to configure this?  I would also argue that exclusion should be the default operation anyway since it would result in more compact JSON.

[2017-03-10 01:46] darkfrog26 opened #586 "io.circe.generic.auto._ doesn't support Option"
Working with a case class with auto encoder/decoder support typically works fine, but if the case class contains an `Option` the auto generation doesn't work and I end up being forced to use semiauto.

[2017-03-10 02:42] darkfrog26 commented on #586
As discussed on the Gitter.im channel (see history here: https://gitter.im/circe/circe/archives/2017/03/09) this seems to be an issue related to 2.12 perhaps?

For a use-case you can test with https://github.com/outr/arangodb-scala/blob/master/src/test/scala/spec/AQLSpec.scala#L16 commenting out that line of code should auto derive the case class, but it fails to do so.  It has something to do wit

[2017-03-10 11:52] backuitist commented on #435
I'm closing this as the generic derivation got better with scala 2.12.1

[2017-03-10 11:52] #435 closed

[2017-03-14 13:03] backuitist opened #588 "Allow customization of the error message for missing element when decoding"
Currently decoding a JSON that misses an element will result in a `DecodingFailure` with a message saying: `"Attempt to decode value on failed cursor"`.
This error cannot be customized other than by doing string matching on `DecodingFailure.message`.
I would suggest to add a default parameter on `decode` and `decodeAccumulating`:
[code]

An alternative would be to encode that case in the type:
[co

[2017-03-14 13:39] knutwalker commented on #588
Maybe this might help; I did change the message by looking at the cursor history and trying to examine whether the failure was due to a missing field (which could be simplified a bit by using CursorOp.opsToPath):
https://github.com/knutwalker/akka-stream-json/blob/b8bc752ef3ab2f76793c0db40bddc8a2bd5787df/support/stream-circe/src/main/scala/de/knutwalker/akka/stream/support/CirceStreamSupport.scala

[2017-03-14 13:55] backuitist commented on #588
Ok, but it's a bit of a waste to have to go through the JSON cursor again, basically duplicating the logic of the Decoder just to surface that information (the fact that the element was missing). I believe circe should provide that information.
I'll add an alternative to the issue.

[2017-03-14 15:28] knutwalker commented on #588
@backuitist I agree, a first class solution would be better, it was more meant as a in-the-meantime thing different from string matching.

[2017-03-14 15:36] travisbrown commented on #588
Thanks, @backuitist. I agree that we need a better solution here. My inclination would be to have the `DecodingFailure` be aware of whether the last operation in the history (i.e. the head of `history`, which is in reverse chronological order) failed or now, which should give us all the info we need to provide nicer messages. What do you think?

[2017-03-14 15:43] backuitist commented on #588
@travisbrown is it valid to conclude that if the last operation in the history is a failure, we have a missing element? In that case what do you think of the alternative described in the first message (refining the `DecodingFailure` into `MissingElement` or `IncorrectValue`)? That might be a breaking change though.

[2017-03-14 15:52] travisbrown commented on #588
@backuitist Well, specifically a failed `downField` would indicate a missing field.

I'd like the `DecodingFailure` _representation_ to be as interpretation-free as possible—to say "I was doing this thing and then I failed in this way", not "you're missing this field" (although a message like that might be provided as a convenience operation).

Maybe that's not incompatible with your proposal, tho

[2017-03-14 16:00] backuitist commented on #588
@travisbrown completely agree. The Navigation vs invalid value dichotomy sounds good :)
Thanks for thinking about it.

[2017-03-14 17:14] bergmark commented on #379
Have these issues all been resolved in scala 2.12 or is there something remaining?

[2017-03-14 18:07] jonas commented on #585
This looks like a duplicate of #584. Here's an example of how to omit `None` fields:

[code]

[2017-03-17 21:40] tekacs opened #589 "Add implicits to enable a more fluent `Json.obj`"
Under Play Json, it's possible to [construct a JSON object using Json.obj][play] much as though constructing a heterogenous (Any-typed) map:

[code]

This works because `Json.obj` [accepts `(String, JsValueWrapper)*`][play-jsobj], where [JsValueWrapper is convertible from any type with a Json Writes][play-jsvw].

It was proposed on Gitter and somewhat well received that circe could benefit from th

[2017-03-17 21:42] travisbrown commented on #589
Thanks for opening this, @tekacs!

[2017-03-18 07:00] jilen opened #590 "Less import statements"
To use circe I always need to import
[code]
Is there a single `import`  rules them all ?

[2017-03-18 14:49] travisbrown commented on #590
Not currently, but we could consider adding something like a circe-all module that would allow a `circe.all._` import.

[2017-03-22 22:31] carymrobbins opened #594 "Encode[Float] causes floating point errors"
It seems the implementation for `Encode[Float]` uses `.toDouble`. This causes floating point errors when encoding to JSON.

[code]

[2017-03-24 03:52] ckozak commented on #584
What was the reason to make `dropNullKeys = false` by default? It seems that not putting nulls is more common among other libraries.

[2017-03-24 04:22] davidbkemp opened #596 "decodeList discards error messages from list items"
When decoding a list, if any of the items in the list fail to decode, then the failure message from `Decoder. decodeList` is always `"[A]List[A]"` and does not include any of the failure messages from the individual items.  This makes trouble shooting difficult.

The relevant line is:
https://github.com/circe/circe/blob/master/modules/core/shared/src/main/scala/io/circe/Decoder.scala#L664

The sam

[2017-03-24 08:34] cakper commented on #469
👍 for adding it to circe-generic :)

[2017-03-27 05:29] briantopping commented on #583
I'm having a similar issue:
[code]
The first line returns 40 JSON elements, the second line ends up with 23 elements in the sequence.

[2017-03-27 17:07] haggy opened #598 "NPE when serializing case class with fields set to NULL"
Repro:

[code]

The error:
[code]

Now I don't think this needs to be "fixed" in the sense that Circe knows how to gracefully handle it. I just think circe should have better logging of what field (if possible) is null when it shouldn't be and of course avoid NPE's wherever possible.

Apologies if there's already an issue for this. I couldn't find one. Let me know if you need any other info.

[2017-03-27 18:04] knutwalker commented on #598
Using `null` directly is quite unusual for Scala and libraries often treating it like it doesn't exist (or rather, is used). More explanation also in https://github.com/circe/circe/issues/538#issuecomment-271174626.

[2017-03-27 20:33] haggy commented on #598
@knutwalker I agree that you would not want to pass in null explicitly, that was just done for the most simply repro case. My issue was a little different in that we had data coming in via JSON but we have a client that uses a different json lib (`json4s` with jackson backend in this case) which allowed the JSON null to map directly to a `NULL` in the case class for that field. Because of that, a

[2017-03-27 21:20] travisbrown commented on #598
@haggy `n.asJson` "works" because the NPE won't happen until the null string is dereferenced. This matches the behavior of the standard library:

[code]

 In general I'd recommend policing nulls as close to the boundary of your program as possible, which I guess in this case would be at the point you get the data from json4s (or the client using it).

It's just not really feasible to have circe en

[2017-03-28 01:45] rpless commented on #598
@travisbrown I asked @haggy to post a reproducer after we say this behavior. I'm sorry for the noise, I wasn't aware (but should have guessed) that this was a design decision. I am in favor of closing this issue. I am also happy to submit a PR to the docs that shows this exception and the rationale for why it occurs.

@haggy The repro from `T -> Json` makes sense cause its a Scala (Java) null and

[2017-03-28 13:01] haggy commented on #598
Cool thanks all for the quick responses. Moral of the story.. stop using `json4s` ;)

[2017-03-28 13:01] haggy commented on #598
All questions answered so closing this out.

[2017-03-28 13:01] #598 closed

[2017-03-28 13:22] kciesielski commented on #469
@pjan I tried to use this but I'm getting compilation error:
[code]
in the `implicit gen: Lazy[Generic.Aux[T, V :: HNil]],` line. Circe 0.7.0, shapeless 2.3.2, Scala 2.12.1. I'm not very good with Shapeless, can you give me a hint what can I fix to get this thing working? I managed to find a compilable encoder:
[code]
and I need a decoder.

[2017-03-29 14:21] laverboy opened #599 "Configuration documentation"
There doesn't seem to be any documentation around the configuration options.

I was trying to add a type field to my encoded json and had to piece bits together from the release notes, a blog entry and ask a question on gitter.

Are there any plans to add this? Thanks

[2017-03-29 14:59] #594 closed

[2017-03-30 17:17] fommil commented on #484
looks like I may have need of a `Pipe[F, Byte, T]` and (maybe) a `Pipe[F, T, Byte]` which would be constructed if there is an implicit (circe equivalent of) `JsonReader[T]` around. Or would it be better to provide `Pipe[F, Byte, JsonValue]` and then a separate `Pipe[F, JsonValue, T]`?

[2017-03-30 17:19] fommil commented on #484
ah, looks like @fsvehla already did the latter! `Pipe[F, Chunk[Byte], Json]` (although I think fs2 may need to chunk up the bytes in that case)

[2017-04-01 09:20] SamSchlegel opened #600 "Exceptions when parsing invalid BiggerDecimal"
[code]
Noticed this when trying to decode `"123."` into a `Long`, which in my case was invalid user input. Should either instead return `DecodingFailure`, or in the case of the first strip the `.` before parsing, but I'm learning towards the former.

This could be fixed by treating all `AFTER_*`as failure states. Can test this and put up a PR tomorrow

[2017-04-01 12:32] travisbrown commented on #600
Eek, yeah, this is really bad. The correct behavior should be for `parseBiggerDecimal` to return `None` and the unsafe version to return `null`.

Fortunately this doesn't affect the handling of JSON numbers, where the parser will catch the error, but it does affect the case where users try to decode JSON strings as numeric types, which is much less used. Still, we should get this backported to an

[2017-04-01 17:06] travisbrown commented on #600
@SamSchlegel Do you think you'll have time to put together a fix? I'm also happy to take care of it today.

[2017-04-01 17:21] SamSchlegel commented on #600
Yep, working on it right now.

[2017-04-01 18:04] #600 closed

[2017-04-02 16:33] kevinmeredith commented on #596
Could you please provide an example, @davidbkemp? I'm curious of the code demonstrating the issue that you've raised here.

[2017-04-02 16:42] kevinmeredith commented on #596
Actually, Travis helped me [out]().

You're talking about this scenario, @davidbkemp?

[code]

Per this issue, you'd prefer a better `DecodingFailure` "message" (if that's the right word) than `[A]List[A]`?

[2017-04-03 12:51] felher opened #604 "semi-auto can't derive enc/dec for case classes with fields with tagged types"
Hey folks,

I have a weird interaction between shapeless tagged types and semi automatic derivation for case classes. I created a minimal example which can be found here: http://scastie.org/29940

The values e1 to e3 are only there to show that the buildling blocks for the automatic derivation seem to be in place and should not affect the derivation.

Maybe I'm just doing something wrong with tagg

[2017-04-03 14:08] backuitist commented on #588
@travisbrown Any further thoughts?

[2017-04-03 16:16] travisbrown commented on #588
@backuitist Sorry, I've not had a lot of time to work on circe in the past couple of weeks, and what I have had has been spent on some number-related fixes. I'm planning to publish 0.8.0 within a couple of days (after an 0.7.1 today), so I think we'll need to push this to 0.9.

I'd definitely be receptive to a PR, although I'm happy to work on it myself when I get time. Thanks for checking in.

[2017-04-04 03:13] davidbkemp commented on #596
Yes, it would be nice if the "message" included the decoding failure message for attempting to decode the string as an integer. The current message "[A]List[A]" doesn't tell you much, especially if the actual failure occurs deep inside the attempt to decode one of the A's.

[2017-04-05 15:42] backuitist opened #607 "Too few samples in scalacheck tests"
Circe uses scalatest scalacheck integration which default to restricting the samples to only 10. This leads to tests never executed. I saw two examples so far:
 - `DecoderSuite."An optional object field decoder" should "fail appropriately"`
 - `DecoderSuite."An optional array position decoder" should "fail appropriately"`
Their last assertion `result === Right(Some(s3))` expects a `Json` with 2 le

[2017-04-06 12:57] javierarrieta commented on #604
I am also facing the same issue, hitting this only when upgraded to 2.12.1, was working fine for scala 2.11.8

[2017-04-06 13:20] fthomas commented on #604
@felher This looks similar to https://github.com/circe/circe/issues/220

[2017-04-06 13:36] javierarrieta commented on #604
I have the encoders explicitly defined above the semiauto for the case class using the tagged types and it is not working either. Example below:

[code]

Still getting an `Unable to derive io.circe.generic.encoding.DerivedObjectEncoder[de.zalando.warhol.customerdata.api.model.CustomerRegistrationEntity]`

[2017-04-07 15:10] dirceusemighini commented on #251
I get the same error when trying to convert a simple case class to Json
[code]
And if I try to use the annotation the error is:
[code]

[2017-04-07 21:06] felher commented on #604
@fthomas Yeah, it does. The fix for this one might actually fix #220 too, since it seems to be a problem with circe, refined and type tags, and this is a problem with just circe and type tags :)

[2017-04-11 15:42] note commented on #551
Made a simple fix on my branch, still need to do some research as it's not perfect. Will get back to this tomorrow

[2017-04-11 16:30] travisbrown commented on #551
@note Thansk! I guess it's obvious that this totally slipped off my radar in January…

[2017-04-12 07:25] herberteuler commented on #547
I don't know if this is related, but would it be appropriate to provide the ability to write to any `Appendable` for `Printer`? `printJsonAtDepth` is already capable of doing this but it is private. This is useful in some cases, e.g. to print the value of a Json directly into a Netty's `ByteBuf`.

[2017-04-12 15:02] javierarrieta commented on #604
This is stopping me to move to scala 2.12, any ideas for a workaround would be greatly appreciated (manual codec is not a real option for me)

[2017-04-12 15:29] travisbrown commented on #604
@javierarrieta Does explicitly putting instances into scope for the refined types work? It's annoying but it seems to be fine for me on 2.12:

[code]

[2017-04-12 16:27] javierarrieta commented on #604
I have created a reproducible example https://github.com/javierarrieta/circe-refined/blob/master/src/main/scala/javierarrieta/circe/refined.scala

[2017-04-12 19:53] fosskers commented on #251
Needing to care about the order of where the `sealed trait`'s companion object is in the file is still an issue with `0.7.0`.

[2017-04-17 11:59] Tvaroh commented on #304
@jeremyrsmith do you have a workaround for Circe 0.7? Importing this doesn't seem to help:

[code]

[2017-04-18 03:23] nigredo-tori opened #608 "codecAccumulatingConsistency law broken by stacktraces"
`codecAccumulatingConsistency` in `CodecLaws` uses standard `Eq` for `Result`, which compares `DecodingFailure`s by their messages. However if `DecodingFailure` was created via `fromThrowable`, the message includes the full stacktrace. Since failures produced by simple decoder and by its accumulating derivative have different stacktraces, any such failure will break the law.
Here's an example:

[c

[2017-04-21 12:31] radusw commented on #469
@kciesielski try this:

[code]

[2017-04-21 15:41] rkcy opened #610 "auto enc/dec not working for scalajs project, working for non scalajs project."
[clientserver.gz](https://github.com/circe/circe/files/947542/clientserver.gz)
[Circe-Sample.gz](https://github.com/circe/circe/files/947544/Circe-Sample.gz)

Non working scalajs project is clientserver.gz.
Working project is Circe-Sample.gz
Try to compile in sbt console. CirceTest class contains the problematic code.

Github was not allowing me to upload zip file so had to change extension to gz.

[2017-04-22 21:41] mredaelli opened #611 "Generic decoder compilation error should point to the "lowest" missing class"
I was trying to compile (something equivalent to) this:
[code]

which gives this compilation error:
[code]

Which is entirely correct, but I, being silly and not very up-to-date with Scala, lost some time checking compiler plugins and stuff like that.
I didn't know that there is no implicit `Decoder` instance for `Date`. Providing one solves the problem

My point is, the compilation error message

[2017-04-24 08:00] johannegger commented on #469
i'd also really like to see this in circe-generic! is there currently an easy way to have this behaviour AND use fully automatic derivation? (using the anyVal decoder i run into ambiguous implicits)

[2017-04-24 20:08] vkostyukov commented on #542
I think this hurt Finch's results pretty dramatic in pre r14: https://www.techempower.com/benchmarks/previews/round14/r13-vs-r14p3.html

I was trying to look into that and I can certainly confirm that printing to `ByteBuffer`s is always better for more-or-less "big" JSON objects. TechEmpower's `{ "message": "Hello, World!"}` isn't that big.

I'm going to spend some time digging into that but in th

[2017-04-24 20:36] vkostyukov commented on #542
I modified the Printing benchmark to also take this "Hello World" object as an input (to more-or-less simulate what TE does) and the results aren't surprising:

[code]

[2017-04-27 16:31] Tvaroh commented on #604
@travisbrown it works when you have a single type-tagged argument but fails when there are more.

[2017-04-27 16:45] Tvaroh commented on #604
Is there any hope this can be fixed in near future? Or there are some compiler limitations/problems?

[2017-04-27 18:02] travisbrown commented on #604
Okay, I've tracked the difference between 2.11 and 2.12 down to a change in the way the `RefinedType` extractor works. I'll try to get a fix together today.

[2017-04-29 19:14] #542 closed

[2017-04-30 16:16] #604 closed

[2017-04-30 19:38] travisbrown commented on #578
Fixed in #582.

[2017-04-30 19:38] #578 closed

[2017-05-01 00:44] travisbrown opened #625 "Coursier chokes on Scala.js"
When trying to run the tests in `tests` on Scala.js I'm seeing the following errors:

[code]
This is happening for all Scala versions, but not all tests—the `optics` tests run just fine on Scala.js, for example.

Removing Coursier from the build temporarily fixes the issue, and since we generally only run Scala.js tests before releases, I have very little interest in spending time thinking about t

[2017-05-01 01:28] alexarchambault commented on #625
This is addressed in the current master of coursier since [this commit](https://github.com/coursier/coursier/commit/13da5e871f28aaa380d63f0268e9b2585b624ba7), which removes the POMs from the `update` report.

There's still possibly an issue on the scalajs side though IMO (it should filter artifacts - sbt itself filters them with the `classpathTypes` setting for example), but you should be fine fro

[2017-05-01 01:38] travisbrown commented on #625
Great, thanks @alexarchambault!

[2017-05-02 09:17] felher commented on #604
Wow, so cool, thanks a lot!

[2017-05-03 15:20] bergmark commented on #584
I commented on this elsewhere, so a quick repeat:

My take is that the printer should not modify the actual JSON format. This is something each `Encoder` should decide for itself. Inevitably there will be a case where you want to combine the two options for different types, AFAICT that's not possible at the moment.

[2017-05-03 15:38] bergmark opened #626 "Accumulating nested decoding failures"
Here's an example where the obvious way to write a `Decoder` causes
error accumulation to disappear:

[code]

=> `Invalid(NonEmptyList(DecodingFailure(Attempt to decode value on failed cursor, List(DownField(a1)))))`

`Decoder.instance` does not allow you to have several error messages
so only get the first error.

We tried to fix this in our application and AFAICT the only way to do
so is to crea

[2017-05-09 16:02] travisbrown commented on #626
@bergmark I'll take a closer look at this asap, but in the meantime the most straightforward way to maintain accumulation is to compose decoders directly (without dropping down to cursors). Here's a quick example:
[code]
And then:
[code]
I'm not sure off the top of my head whether what you're seeing is the intended behavior but I should have some time this evening.

[2017-05-10 16:47] travisbrown opened #630 "Make Encoder.forProductN methods actually use… ProductN"
Currently all the `Encoder.forProductN` methods take a function from the type that we're defining an `Encoder` for to a tuple with the appropriate arity. I don't see any reason not to allow the more general `Source => ProductN[...]`, which would make definitions simpler for case classes (no more `(User.unapply _).andThen(_.get)` stuff) and would also help with e.g. Scrooge-generated types.

[2017-05-12 09:04] Tvaroh commented on #469
@johannegger [better](https://failex.blogspot.com.by/2017/04/the-high-cost-of-anyval-subclasses.html?view=sidebar) don't use value classes at all.

[2017-05-12 09:16] pjan commented on #469
@Tvaroh not a discussion that we need to have here (I don't want to highjack the conversation), but not everything needs to be heavily speed/memory optimized, and valueclasses can be beneficial as they can eliminate a whole class of developer bugs in environments where these can be particularly costly.

[2017-05-12 09:20] Tvaroh commented on #469
@pjan I see your point, but this not only about the performance, it's also about the ability to work with your types programmatically, without leveraging Shapeless-like hacks for that. It's all in the article that I pointed to.

[2017-05-12 09:33] mariop-da commented on #469
@Tvaroh nothing in this PR forces the developer to use value classes but for people who may want to use them this can be useful. I don't think this is the right place to have a discussion about a feature of the Scala language.

[2017-05-12 09:45] melrief commented on #469
@Tvaroh nothing in this PR forces the developer to use value classes but for people who may want to use them this can be useful. I don't think this is the right place to have a discussion about a feature of the Scala language.

[2017-05-12 19:24] favetelinguis opened #632 "More advanced examples in docs"
How would something like this be done with circle:

[SO issue](http://stackoverflow.com/questions/43923390/custom-spray-json-rootjsonformat-or-jsonformat-depending-on-value-in-json-object/43933641#43933641)

[2017-05-12 19:26] favetelinguis commented on #632
Sorry read the guidelines now

[2017-05-12 19:26] #632 closed

[2017-05-13 00:37] darkfrog26 opened #633 "JsonDiff"
I know this was discussed in #281, but referenced within that ticket was this code: https://github.com/agourlay/cornichon/blob/c2e0974ac2a27dc973e0a3ffdc8520ea55b6effe/src/main/scala/com/github/agourlay/cornichon/json/JsonDiff.scala

I know for more advanced functionality diffson is a very useful tool, but for basic diff'ing it is overkill and adds needless complexity.  As shown in the above code

[2017-05-14 07:40] Tvaroh opened #635 "Generic derivation problem with double-nested Seq of type-tagged types"
I get compilation error when deriving a `Decoder[Seq[NestedSeq]]` where `NestedSeq` is a case class with nested `Seq` of type-tagged values.

Here is the code:

[code]

Scastie link: https://scastie.scala-lang.org/17gHvSOvRxiq0mg0UIXqQQ

Notice that if I change `Seq` to `List` somewhere in the equation, it works.

[2017-05-16 14:17] lvicentesanchez commented on #630
I could help with this one, I would just need a bit more of context.

[2017-05-16 14:19] travisbrown commented on #630
Thanks @lvicentesanchez! Essentially I think (hope?) it'll just be changing tuples to `Product` in the code gen and making sure nothing breaks.

[2017-05-16 14:22] lvicentesanchez commented on #630
@travisbrown that should be easy, I re-read the ticket after my commit and I realise that all the information needed was already in the ticket. I will give it a go when I get home.

[2017-05-17 14:37] lvicentesanchez commented on #630
@travisbrown I tried yesterday and found a problem. If I replace the tuples of `ProductN` of the right arity, examples like the `WrappedStringOptional` don't compile, you need to do something like `Encoder.forProduct1(o => Tuple1(o))`. I can avoid that by doing something like this,

[code]

and the forProductN definition would be rewritten this way:

[code]

So... no `Product1`. That makes possibl

[2017-05-17 14:39] lvicentesanchez commented on #630
And just after sending the message... everything compiles, but it seems that there is a problem with some JS tests.

[2017-05-17 14:56] lvicentesanchez commented on #630
So... SBT bit me, the managed classes were not discarded and that's why everything was still compiling before I removed all target folders:
[code]
So... this actually makes more sense as I failed to see how using `ProductN` would make case classes defintions easier. You would have to replace them by `Option[ProductN[...]]`, but I'm not qualified to make that decision.

[2017-05-17 15:01] travisbrown commented on #630
Yeah, the fact that there's no `Option`-less version of `unapply` for case classes is a perennial pain in the ass, and this change isn't going to help with that, unfortunately.

[2017-05-19 15:32] durban commented on #551
Fixed in 0.8.0.

[2017-05-19 15:32] #551 closed

[2017-05-22 11:13] joan38 opened #639 "knownDirectSubclasses of <class> observed before subclass <class> registered"
In:
https://github.com/joan38/orchestra/tree/6d2c170f37040f2179479c6126292e030808ed08

Just rename:
`orchestra/src/main/scala/com/goyeau/orchestra/ARunStatus.scala`
to:
`orchestra/src/main/scala/com/goyeau/orchestra/RunStatus.scala`

And enjoy:
[code]

Related:
https://github.com/lloydmeta/enumeratum/issues/90
https://issues.scala-lang.org/browse/SI-7046
https://github.com/scala/scala/pull/5284

U

[2017-05-22 14:12] travisbrown commented on #390
This problem seems to have resolved itself in recent circe releases, although I'm not 100% sure why at the moment. We'll need to take some time to confirm that the issue is resolved with new tests, but then I'll close this (and hopefully also #444 and #386).

[2017-05-22 14:13] lloydmeta commented on #639
I've been wondering about this one for a while as well and finally got around to successfully reproducing it. I had a bit of trouble reproducing it because it is highly dependent on the order in which things get compiled.

Here's my attempt at a minimal repro: https://github.com/lloydmeta/circe-auto-derive-repro

[2017-05-22 14:16] ngbinh commented on #639
@lloydmeta @joan38 putting the extending `classes` and `objects` inside the companion object of the `sealed trait` will cause `knownDirectSubclasses` (sometimes can be intermittently due to incremental compiling).

[2017-05-22 14:25] lloydmeta commented on #639
@ngbinh from what I can see, it definitely depends on whether or not that trait/object get compiled before `import io.circe.generic.auto._` gets hit.

I mentioned this in the readme of my repo, but I'll paste it here as well

[2017-05-22 14:28] ngbinh commented on #639
@lloydmeta yeah, you need to at least try to `derive` `Encoder`/`Decoder` for a `sealed trait` to get `knowDirectSubclass`. I believe `knownDirectSubclass` is used by `shapeless` to compute all the subclasses of a sealed trait. This https://github.com/circe/circe-derivation may help once it is released.

I also think this problem only exists in scala 2.12 as we were fine in 2.11.

[2017-05-22 14:30] lloydmeta commented on #639
BTW, this [Scastie snippet](https://scastie.scala-lang.org/lloydmeta/0resq7ZBTkSH3smuWnXVUA/1)  is a decidedly oddly written, but shows that you can reproduce the same error without putting the ADT members inside the companion object.

[2017-05-22 14:34] travisbrown commented on #639
For what it's worth this is probably the same root issue as #434. I don't think there's a lot we can do here, but fortunately things on the `knownDirectSubclasses` front are gradually improving on the compiler side (I'm not sure what's up with @ngbinh's regression, though).

What I'd personally like to see is a detailed section in the docs about the places this will come up, and potential workarou

[2017-05-22 15:05] lloydmeta commented on #639
@travisbrown yea, it definitely seems to be related. As @witi83 noted in the [lloydmeta/enumeratum#90](https://github.com/lloydmeta/enumeratum/issues/90#issuecomment-295875285), this seems to have started with 2.11.8. I've verified this to be the case and added [a note](https://github.com/lloydmeta/circe-auto-derive-repro#how-to-make-it-work) to my repro repo as well..

I'll be glad to help add so

[2017-05-22 15:19] ngbinh commented on #639
right after upgrading to `2.12.0` (which contains this https://github.com/scala/scala/pull/5284 ), we've seen a lot more cases of `knownDirectSubclasses` in incremental compile. Move the direct subclasses outside of the sealed trait companion object definitely help in our case. But #434 looks scary! :(

[2017-05-23 00:14] ssabnis commented on #251
JSonCodec fails when the last case class has nested case classes in it.

[2017-05-23 01:29] tarao opened #641 "Automatic derivation of a configured encoder/decoder fails for a newtype in a case class"
`io.circe.generic.extras.AutoDerivation` fails to find an encoder/decoder for a case class with a field of `shapeless.newtype.Newtype[]`.

It was not failing before v0.8.0.  I confirmed that the following code doesn't compile in Scala 2.12.2/2.11.11 with circe v0.8.0/v0.9.0-SNAPSHOT but does compile in Scala 2.12.2/2.11.11 with circe v0.7.1.

[code]

[code]

I investigated by myself and suspect th

[2017-05-23 17:07] EdgeCaseBerg opened #643 "Error messages lost for recusive decoders"
When using `emap` to create a custom validation for a recusive decoder the error messages are lost for the parts of the object which are decoded recursively:

[code]

When running the last line of code you get
[code]
Which is a valid decoding failure, but the error message of `[A]List[A]` isn't what is expected. I would expect `Bad!` or something similar to  `DecodingFailure at .l[0]: Bad!`

I'm u

[2017-05-25 21:30] castillobgr commented on #541
@hendisantika any news on this? I am getting the same error as well.

[2017-05-25 23:07] hendisantika commented on #541
Hi @castillobgr , I have not the updated news yet.

[2017-05-26 05:07] EdgeCaseBerg commented on #643
I came up with another example, not sure if it will help. But this one doesn't use `emap` and instead tries to be explicit about which decoder to use during the decoding of the children, but it still results in the same issue:

[code]
ends up with
[code]

I did this one using circe 0.8.0 so it looks like it's not something that was specific to 0.7.0

[2017-05-26 05:24] EdgeCaseBerg commented on #643
It looks like that specific error message pops up from [this line of code I think](https://github.com/circe/circe/blob/master/modules/core/shared/src/main/scala/io/circe/Decoder.scala#L694)

[2017-05-29 01:53] EdgeCaseBerg commented on #643
I found a work around based on that line I mentioned above

[code]

[2017-05-29 01:53] EdgeCaseBerg commented on #643
I found a work around based on that line I mentioned above

[code]

[2017-05-29 02:13] EdgeCaseBerg commented on #643
It seems like if you didn't want people to have to use this workaround, that maybe those default error messages should be removed? Why do they exist in the first place?

[2017-05-29 12:40] travisbrown commented on #643
@EdgeCaseBerg The `decodeList` and `decodeVector` instances are there for people who need to construct `List` or `Vector` instances by hand, as a convenience since `decodeCanBuildFrom[Whatever, List]` is kind of inconvenient. I don't remember exactly why they have an overridden error message—I believe it's just to provide more information than the default "Attempt to decode value on failed cursor"

[2017-05-30 15:00] EdgeCaseBerg commented on #643
I can open one of those later today or this week when I'm not at work. I read #306 and will think on it for a bit. Not sure if I have any other thoughts to add to your initial suggestion about `name` and `message` fields. Besides maybe that an easily read `path` field would be useful, but I think we'd get that with the `show` on the failure anyway so maybe it's not needed.