[2019-09-19 16:11] travisbrown commented on #1267
There are a couple of arguments for the current behavior:

- It's just what people tend to expect from a JSON library.
- We want to be able to round-trip floating point values, which means we have to map `NaN` to something (encoding can't fail), and JSON nulls are the most obvious candidate.

It's definitely possible to modify the default floating point type decoders so that they fail on JSON null

[2019-09-19 16:16] oscar-broman commented on #1267
I understand that changing the default representation seems reckless. However, an object under extras that would require import would make it hard to know where in the code the default double decoder is used, and where the more restrictive one is.
Could this perhaps be configurable by a global flag or something similar? In our use case, we want to make sure that no place where circe is used should

[2019-09-19 16:34] oscar-broman commented on #1267
Another way to make floating-point values truly "round-trippable" would be to encode NaN, Infinity and -Infinity as strings. Some libs in C#, for example, do this. Again, not default behavior but some way to toggle this globally would be great.

[2019-09-21 02:13] LeifW opened #1271 "`.handleErrorWith` on `decodeOption` breaks its handling of missing fields"
Normally the decoder for `Option` sets missing fields to `None`.
If I want Optional fields to still succeed if they're mal-formatted, I can write a new `Decoder[Option]` in terms of the existing one by applying `.handleErrorWith` to it and returning `None`. Unfortunately, missing fields will now error instead of being set to `None`.

Circe 2.12.1, Scala 2.12.10.
Example:
[code]
The desired output

[2019-09-21 02:19] LeifW commented on #1271
Same behaviour of `.handleErrorWith` if I use `.or` instead - still fails to parse.

[2019-09-21 08:22] travisbrown commented on #1271
Thanks for the report and example, will take a look this weekend.

[2019-09-22 11:02] #1271 closed

[2019-09-22 11:18] travisbrown commented on #1267
@oscar-broman We don't have any configuration like that, and I think that's a good thing. There's a standard way in Scala to override the behavior of type class instances, and that's by providing local instances (actually I guess there are two ways: local instances or new types, but the new type approach doesn't really fit well here in my view).

[2019-09-24 10:57] LPTK commented on #1097
Perhaps `foldStep`, as it performs one step of a `fold`. Or `peel`/`unwrap` as it detaches the outer layer of the structure. A nice one might be `inspect`, as it's a way to look at ("inspect") the outer structure, but it's less specific (there is more than one way to inspect a structure).

[2019-09-24 10:59] travisbrown commented on #1097
@LPTK Thanks, I like both `foldStep` and `inspect` better than any of my previous current candidates!

[2019-09-24 17:59] gatorcse commented on #1097
`visit`?

[2019-09-24 18:23] travisbrown commented on #1097
@gatorcse But that feels reversed as a method on `Json`, since it's being visited by the argument.

[2019-09-24 21:44] oscar-broman commented on #1267
Ok, got it. Could another way perhaps be to add an annotation?

Providing local instances is a bit bug prone as the code would compile either way.

[code]

[2019-09-28 00:31] gatorcse commented on #1097
Well since it's being visited by a visitor, how about `welcome` or `invite`?

j/k, those are terrible names.

[2019-10-01 06:20] mr-git opened #1281 "recommend increasing stack size for JVM (add `.sbtopts`)"
A year ago I had the issue with circe automatic codec derivation (https://github.com/sbt/sbt/issues/4311) - at some point the stack trace becomes too small to make a compilation. Possibly, it happens due to specific way how Shapeless parses the structure of JSON and/or case classes.

It would be nice to mention in README, near required dependencies, that it is recommended to increase stack size fo

[2019-10-01 18:56] allenjhan opened #1283 "Decoder seems to have trouble dealing with new line"
I am working on a project where I am parsing JSONs that contain string fields that are actually csv formatted strings. This means the string has new line.

I am getting a ParserError when I try to decode the JSON. I have illustrated the problem in a minimally reproducible example below.

[code]

Here is the output I get from the println:
[code]

This is slightly different from the error message I

[2019-10-01 19:20] tkroman commented on #1283
This is not a valid JSON hence a parsing failure. Newlines in json are represented by e.g. `\n` embedded in a string.

[2019-10-01 19:21] plokhotnyuk commented on #1283
@allenjhan Your sample violates the statment from [the Section 7 of the JSON Specification](https://tools.ietf.org/html/rfc8259#section-7):
[code]

[2019-10-01 19:24] travisbrown commented on #1283
@allenjhan You could definitely modify Jawn or another JSON parsing library so that it accepts newlines, and use that with Circe. I think Jackson might even support this as an option, and it might be possible to use it with [circe-jackson](https://github.com/circe/circe-jackson) (if not, you could open an issue there and we could consider it).

As @tkroman and @plokhotnyuk point out, though, the o

[2019-10-01 19:24] #1283 closed

[2019-10-08 16:01] travisbrown commented on #650
Agreed, thanks @pomadchin!

[2019-10-11 15:48] Bunyod opened #1292 "java8 LocalDateTime is dropping 00 seconds value when parsing date string"
Currently, I'm experiencing an issue with LocalDateTime conversion.

I saw the latest changes in circe-0.12.2 here: [Commit](https://github.com/circe/circe/commit/631b299f175edf4aa6fbe4735ab34f588322ddbb
)
This change is leading to break everything related to LocalDateTime now in my company.

I also read a similar problem on Stackoverflow and this is considered as a future. Here: [SO Answer](https

[2019-10-15 16:53] pfcoperez opened #1297 "Default `Decoder[T]` for numeric types coerces strings to numbers and there are no other alternatives"
According to the JSON format grammar published at http://json.org, JSON numbers are not contained in strings:

![image](https://user-images.githubusercontent.com/273379/66852111-85209900-ef7c-11e9-989b-68e9b31331f9.png)

Circe decodes numeric values contained in strings and that's super convenient in most of the cases, however there are some services which need to be non-lenient in this regard.

E

[2019-10-16 15:27] alessandrolumino opened #1300 "Case Class could not find implicit encoder when Scala Collection is turned into Java One"
Hello everyone.

I am trying to parse a Json with a model based on this case class
`case class MyCaseClass(field: String, collection: Vector[String])`

Everything is fine but I'd prefer using this version.
`case class MyCaseClass(field: String, collection: java.util.Collection[String])`

As soon as I turn to this version, I get
[code]

Is it wrong using Java Collections with Circe?

[2019-10-16 15:38] travisbrown commented on #1300
We don’t provide these instances off the shelf, but you can certainly define your own, either directly or via a mapping to and from the Scala equivalents. I guess we could discuss a PR adding them natively, but there hasn’t been much demand.

[2019-10-16 15:40] plokhotnyuk commented on #1300
@alessandrolumino could you please share a use case for direct usage of Java collections (not wrapped by `scala.jdk.CollectionConverters._` wrappers)?

[2019-10-16 15:53] alessandrolumino commented on #1300
@plokhotnyuk Hi.. Let us suppose that you want to parse your Json with Circe and then construct a SpecificRecord in order to serialize it in Avro. If you want to serialize a `Vector[String]` object, Avro libraries will need a Java Collection. In fact, in this specific case, when producing to Kafka in Avro, you will get
[code]

But unfortunately, if you try to cast your Scala collection to a Java o

[2019-10-16 16:09] plokhotnyuk commented on #1300
@alessandrolumino why not just use a Scala library for serialization to Avro?

https://github.com/topics/avro?l=scala

[2019-10-17 07:06] RicoGit commented on #598
Adding `withNull(Json.Null)` before converting `Json -> String` fix NPE. Maybe it'll help somebody.
 `n.asJson.withNull(Json.Null).noSpaces` - works fine

[2019-10-17 07:34] alessandrolumino commented on #1300
@plokhotnyuk Very good point. It works, thanks.

[2019-10-17 09:05] alessandrolumino commented on #1300
By the way, I used avro4s!

[2019-10-17 09:05] #1300 closed

[2019-10-17 20:39] RoniFinTech commented on #955
How do I set circe to ignore keys whose value is null?
I need to eliminate the key all together instead of showing null or None...

[2019-10-21 14:04] #1292 closed

[2019-10-21 14:12] travisbrown commented on #1262
This is a long-standing known issue, unfortunately. We have to use Shapeless's `Lazy` to avoid false positives from the divergence checker pre-2.13, and it's a black box as far as compiler errors are concerned.

There are currently two ways to get better messages:

- Enable the [splain](https://github.com/tek/splain) compiler plugin, which special-cases `Lazy` and gives useful error messages here.

[2019-10-21 14:14] travisbrown commented on #1292
Thanks for the report. I'll publish an 0.12.3 this week (probably tomorrow).

[2019-10-21 14:27] #1262 closed

[2019-10-21 14:31] travisbrown commented on #1281
This is discussed briefly in [the "Warnings and known issues" section](https://circe.github.io/circe/codecs/known-issues.html):

I'd happily review a PR adding more detail to the docs, either here or somewhere else where it would be useful.

[2019-10-21 18:15] mr-git commented on #1281
Thank you! I missed that page somehow...
Maybe with https://github.com/circe/circe/pull/1301 it will be easier to discover.

Please feel free to ignore and close this issue and PR, if they do not make sense.

[2019-10-22 09:05] travisbrown commented on #1297
The primary argument for the current behavior being the default is that JavaScript does terrible things with JSON numbers (`JSON.parse("1e309")` is `Infinity`, `JSON.parse("1.0000000000000001")` is `1`, etc.), so it's pretty common to quote numbers defensively.

Circe's current decoding behavior follows Argonaut, Jackson, etc. (but _not_ Play JSON). Note that unlike Jackson (which has `JsonGenerat

[2019-10-22 10:49] travisbrown opened #1305 "Fix invalid ZoneId test on Scala.js"
This test intermittently fails on Scala.js with [scala-java-time](https://github.com/cquiroz/scala-java-time) (running `sbt validateJS`):

[code]
This is because of [scala-java-time's error messages](https://github.com/cquiroz/scala-java-time/issues/132) for `ZoneId`, which is arguably a bug there. We don't run `validateJS` in CI, so it's not a big deal, but it would be nicer for contributors who

[2019-10-24 13:35] dzikowski commented on #955
You can use `dropNullValues`, e.g. `obj.asJson.dropNullValues.noSpaces`

[2019-10-25 08:17] abdheshkumar opened #1307 "Decoder throw StackoverflowException when you define decoder in the companion object"
[code]

[2019-10-28 14:06] eirirlar commented on #1307
Out of curiosity, what happens if you move case class Changes outside of DecoderTest?

[2019-10-28 16:46] abdheshkumar commented on #1307
Then it worked @eirirlar .

[2019-10-29 11:36] pfcoperez commented on #1297
Thanks for considering and taking a look! :bowing_man:

Agree, I'll change the PR to target `circe-extras` I already contributed with strict config parameter for  `ConfiguredDecoder`.

Do you think it might be interesting to default to the non-coerced decoders for numbers when `Configuration#strictDecoding` is `true`? It kind of makes sense to be but also feels like mixing two kinds of strictness:

[2019-10-30 13:25] travisbrown commented on #1307
@abdheshkumar Can you share more info about your versions or build? I can't reproduce this with 0.12.3 on either 2.12.10 or 2.13.1, either in the console or a file built with sbt.

[2019-10-30 15:15] travisbrown commented on #1307
I have this build.sbt:
[code]
And your file with the comments switched, and `sbt run` works just fine.

[2019-11-04 11:40] abdheshkumar commented on #1307
@travisbrown Sorry, Now I am unable to reproduce this issue in the same codebase it was reproduced. you can close this issue. Thank you.

[2019-11-04 14:21] travisbrown opened #1309 "Derivation crashes compiler on 2.12"
Reported by @contagnas [here](https://gitter.im/circe/circe?at=5dbe8b0be1c5e91508247d9f).
[code]
The error looks like this:

[code]
It compiles fine on 2.13, or if you use semiautomatic derivation for `Wrapper`.

I'm unlikely to have time to look at this, since there are lots of reasonable workarounds and since it's fixed in 2.13, but if someone else wants to that'd be great.

[2019-11-13 03:03] etspaceman commented on #626
@travisbrown couldn't we use `ValidatedNel` for this? Running into this error myself now and it is quite difficult to work around today.

[2019-11-20 22:07] c-dante opened #1319 "Date objects in JSON (java8 time)"
Circe has encoders/decoders for java8's time uses that the ISO standards.

JSON does not have a standard for Date objects -- in some applications, the ISO standard as a string is used, and in others, UTC millis are used.

I understand that it's ergonomic for circe to by default be able to derive those but is it possible to disable that behavior?

If my application uses UTC millis as the date repre

[2019-11-22 00:30] allenjhan commented on #1128
I think the easiest way to get the functionality I am talking about is to use the deepMerge function in sealed abstract class Json.

Here is an example, where I try to add "classType" field too Foo. The idea is to encode the MasterFoo trait and to add the "classType" field to the subtype's JSON.

[code]

[2019-11-26 23:22] tovbinm opened #1322 "Release Circe optics 0.12.3"
It seems that Circe Optics 0.12.(1,2,3) was never released. Please make a release for Circe optics 0.12.3.

Thanks!

[2019-11-27 23:35] #1128 closed

[2019-12-18 04:24] nigredo-tori opened #1342 "Add laws for key codecs, check these for the existing instances"
We can make a `KeyCodecLaws` and `KeyCodecTests` analogous to, respectively, `CodecLaws` and `CodecTests`. There seems to only be one law (round-trip).

[2019-12-19 10:18] oharboe opened #1348 "Problems with "circeGenericInstanceForcache" data not being updated"
I'm struggling with "circeGenericInstanceForcache" data being stale. I need a bit of help to report this.

I added a "DataXXX" field to a case class that is not being save to a .json file.

Upon closer examination, there are .class files that should contain "DataXXX" that are not recompiled. "DataXXX" is defined in the "PeripheralControl" class and is used in the "controlPeripheralAddresses" objec

[2019-12-19 10:34] oharboe commented on #1348
Upgrading to sbt 1.3.5 seems to have fixed the problem.

[2019-12-19 10:34] #1348 closed

[2020-01-01 18:30] ruurtjan commented on #1322
I'm also stuck on Circe 0.12.0 for this reason. A release of circe-optics 0.12.3 would be much appreciated!

[2020-01-02 08:41] travisbrown commented on #1322
All Circe releases within an 0.x series are (backwards) binary compatible with previous releases in that series. This means circe-optics 0.12.0 will work with any circe-core 0.12.x release. We do not keep patch versions in sync across repositories, so there won't be a circe-optics 0.12.1 (or 0.12.2, etc.) release unless there are fixes there that need to be published.

[2020-01-02 08:41] #1322 closed

[2020-01-02 09:07] ruurtjan commented on #1322
Ah, that makes sense :) I assumed they had to be kept in sync because of how the quick start suggests to add dependencies:
https://github.com/circe/circe/blame/master/docs/src/main/tut/quickstart.md#L8
[code]

[2020-01-06 14:41] DmytroMitin opened #1353 "Semiautomatic derivation doesn't work for generic hierarchy"
The following code compiles

[code]

but if I remove type parameter for trait it doesn't compile

[code]

[code]

Scala 2.13.1, Circe 0.12.3.

Similar behavior is for `import io.circe.generic.auto._`

[2020-01-13 11:25] mrt181 commented on #1353
Have the same issue for a different use case. see: https://scastie.scala-lang.org/1bLdCEnPQB2h6tggSBlSww

[2020-01-13 11:51] travisbrown commented on #1353
This is unfortunately out of scope for circe-generic because Shapeless does not provide generic instances for the ADT root if it's not generic but has subtypes that are:

[code]

The restriction also makes sense on its own terms, because e.g. `MyClass[SomethingUnencodable](unencodableThing)` would be a perfectly valid `MyTrait` instance.

The best workaround would be to write the `MyTrait` instanc

[2020-01-13 11:51] #1353 closed

[2020-01-14 09:37] travisbrown opened #1363 "Make decoding fail on large BigDecimal values"
## Background

It's very easy to construct `BigDecimal` values in Java or Scala for which even simple arithmetic operations can take minutes:

[code]

This means that systems that parse arbitrary strings into `BigDecimal` values and then do math with them are vulnerable to denial-of-service attacks, and that anyone working with `BigDecimal` values needs to take care to validate their inputs and op

[2020-01-14 16:46] plokhotnyuk commented on #1363
@travisbrown You are right that changing behavior and defaults is a sensitive topic.

I'm happy that circe users and easily add additional validations and change the default configuration.

IMHO a good solution would be adding a security-related page in docs where users that are going to accept untrusted input can be warned about all vulnerable cases with recommended mitigations for them.

[2020-01-14 16:46] travisbrown commented on #1363
@plokhotnyuk Yes, agreed for sure on the security documentation—will work on this soon.

[2020-01-31 08:54] an-tex opened #1378 "Name clash for derived ADTs?"
Consider the following minimal example:
[code]
This doesn't compile with `could not find Lazy implicit value of type io.circe.generic.codec.DerivedAsObjectCodec[A]`.
I've seen https://github.com/circe/circe/issues/251 , but this seems rather like a name clash on the `object Child`. If you rename one of the Child objects to e.g. `object Child1`, compilation works.

I'm using those objects to struct

[2020-01-31 11:17] travisbrown commented on #1378
This is unfortunate but intentional, given Shapeless's representation for cases like this—see [this thread](https://github.com/circe/circe/issues/855#issuecomment-372502585) and I think also #454 for some discussion and suggestions about workarounds. I wish we could provide a better error message but I also think that's not possible.

A couple of years ago I opened [a Shapeless issue](https://gith

[2020-01-31 11:17] #1378 closed

[2020-01-31 12:53] mikail-khan opened #1379 "Argonaut recommended over Circe"
On your [website](https://circe.github.io/circe/) it states:

Is that still the case?

[2020-01-31 13:21] plokhotnyuk commented on #1379
@mikail-khan I bet that it is not the case for now: [Argonaut has not fixed vulnerability](https://github.com/argonaut-io/argonaut/issues/314) that was reported more than a year ago.

[2020-02-05 07:02] #349 closed

[2020-02-07 17:15] dcastro opened #1388 "JsonCodec, encoder for polymorphic type not found (circe 0.12.3)"
# Demo

[code]

# Expected result
I expected all 3 calls to `Encoder.apply` to find the right implicit encoder and compile.

# Actual result
This code compiled just fine with circe 0.11.1, but it stopped compiling after I upgraded to 0.12.3.

The implicits for `val a` and `val b` are successfully found (by composing the encoder generated by the macro with `Encocer.encodeInt`), but the implicit for

[2020-02-07 18:36] travisbrown commented on #1388
Hmm, this is because `JsonCodec` uses the new `io.circe.Codec` helper that was introduced in 0.12.3, because this can reduce compile times, etc. The problem is that this means that in order to get an `Encoder` for a generic case class, you need both an encoder and a decoder for the element type(s).

There are a several workarounds. One is to add a `Decoder` constraint to `func`. Another would be t

[2020-02-07 18:47] travisbrown commented on #1388
On second thought I'll go ahead and change this back in 0.13.0, assuming it doesn't break bincompat, which it shouldn't (but it won't be backported to 0.12, since I don't want to change the behavior mid-release series).

[2020-02-07 19:18] #1388 closed

[2020-02-11 15:41] dcastro commented on #1388
Thank makes sense, thank you for the explanation :)

[2020-02-14 00:41] LeifW opened #1395 "Support tagless / discriminator-free sum type serialization"
As suggested by this SO post: https://stackoverflow.com/questions/42165460/how-to-decode-an-adt-with-circe-without-disambiguating-objects
Specifically, the  I've also been considering changing withDiscriminator to take an Option[String] instead of a String, with None indicating that we don't want an extra field indicating the constructor." suggestion on that.

An example use-case: I want to transl

[2020-02-16 12:55] ashwinbhaskar opened #1398 "Compare two jsons while ignoring certain keys"
It would be nice to have a method like `equalsIgnoringKeys(other: Json, ignoreKeys: List[List[String]])` on `io.circe.Json`. One common scenario where you would require this

- Response to a POST request is the request itself merged with some unique identifier. In such cases the unique identifier could be generated randomly and so you can't have that in your `expectedResponse`.  Here, it would be

[2020-02-23 19:04] ohze opened #1406 "semiauto.deriveCodec fail on case class with private val"
[code]

[2020-02-23 19:08] ohze commented on #1406
Notes:
+ Also fail on circe 0.12.3
+ If `a` (the `private val`) and `b` (the `public val`) has same type => success

[2020-02-23 20:43] travisbrown commented on #1406
Wow, that's a neat one! Thanks for the report, @ohze—I'll take a closer look tomorrow.

[2020-02-24 07:00] travisbrown commented on #1406
I'm closing this issue since it's a bug in Shapeless—see [this issue](https://github.com/milessabin/shapeless/issues/968) I just opened, and [this older related one](https://github.com/milessabin/shapeless/issues/768)—and if / when it's fixed in Shapeless we won't see the inconsistency in Circe. Thanks again for reporting it, @ohze!

[2020-02-24 07:00] #1406 closed

[2020-02-24 15:03] darkfrog26 opened #1407 "Release for Scala.js 1.0.0"
There is a partial release for Scala.js 1.0.0-RC2, but it doesn't include everything.  Now that 1.0.0 is released, it would be nice to start using it.

[2020-02-24 15:13] travisbrown commented on #1407
Good timing, I just posted [an update](https://contributors.scala-lang.org/t/this-is-not-the-release-announcement-of-scala-js-1-0-0/4021/21?u=travisbrown) about this half an hour ago.

We can use this issue to track the missing dependencies:

- [ ] Shapeless
- [ ] Refined
- [ ] scala-java-time
- [ ] scodec-bits
- [ ] Scoverage

[2020-02-25 19:24] darkfrog26 commented on #1407
Is there an alternative for using `circle-generic-extras` or is it still on its way?

I'm using it for:
[code]

[2020-02-25 19:41] travisbrown commented on #1407
@darkfrog26 It’s waiting on Shapeless so cant really guess.

[2020-02-25 19:55] darkfrog26 commented on #1407
No problem, I just wanted to verify that it wasn't being left behind and there was another path toward supporting default params in case classes.

[2020-03-02 08:15] oleg-py opened #1411 "@JsonCodec produces warnings on generic case class with -Wunused:params"
circe 0.13.0
Annotating a generic case class with `@JsonCodec`:
[code]
Produces warnings:
[code]
Scastie: https://scastie.scala-lang.org/bGI7rDGURBWynQNaajI6vg

[2020-03-02 09:07] travisbrown commented on #1411
This is a bug in the compiler, which you can reproduce without the macro annotation:

[code]
…which gives:
[code]
The `decode0` instance is very much not unused.

If someone knows a workaround here, I'd be happy to hear about it, but I hate these macro annotations and am looking forward to the day they'll be gone, so I'm inclined to close this as out-of-scope for Circe.

Thanks for the report, tho

[2020-03-02 09:48] oleg-py commented on #1411
The common thing to do with unused implicits is just
[code]
thought that won't scale with number of type parameters. You can also have a helper unused function instead:
[code]
That of course has the drawback of polluting the library.

The third way I know of - not sure if it's supported by current Scala macros, but I've used it in better-monadic-for - is to mark methods and/or implicit parameters

[2020-03-02 17:39] neko-kai commented on #1406
@ohze Note, `circe-derivation` does not have this problem

[2020-03-04 20:59] justinp opened #1412 "Report file location info (line/column) with DecodingFailures"
I'm working on some code right now that uses JSON as a human-written input format. When there is a `DecodingFailure`, it would be very convenient for it to include the location in the input file of the `Json` that caused it. I realize that the way circe's AST is currently written, the information is long gone during decoding.

I'd be happy to help with a PR, but first I want to make sure that ther

[2020-03-06 23:29] yurique commented on #1407
@travisbrown
Hi! I believe these libs from the list have releases for scalajs 1.0.0 now:

* shapeless - https://search.maven.org/search?q=a:shapeless_sjs1_2.13
* refined - https://search.maven.org/search?q=a:refined_sjs1_2.13
* scalajs-java-time - https://search.maven.org/search?q=a:scalajs-java-time_sjs1_2.13

[2020-03-07 13:23] travisbrown commented on #1407
Right, we're just waiting on scala-java-time now (I'll try just dropping Scoverage altogether for Scala.js).

[2020-03-10 08:28] travisbrown commented on #1407
Done! https://github.com/circe/circe/releases/tag/v0.13.0

[2020-03-10 08:28] #1407 closed

[2020-03-10 12:02] jjcapper opened #1423 "Codecs cannot be derived for types involving kind projections"
Hi all. Attempting to derive a codec for a type containing a kind projection fails:

[code]
[code]

But works as expected without the kind projector:
[code]

[2020-03-10 12:02] jjcapper commented on #1423
Turns out this is an issue with shapeless. Closing.

[2020-03-10 12:02] #1423 closed

[2020-03-10 18:48] disordered opened #1424 "Add validate support to KeyDecoder"
Would be nice if `KeyDecoder` would accept multiple validators as we can specify for `Decoder`. For example:
[code]

[2020-03-11 03:22] kevinmeredith opened #1425 "Expose Function for Sanitizing JSON?"
At work, I've written a function that sanitizes JSON if a key is not in an approved `Set[String]`.

The function looks like:

[code]

If a JSON key is in the whitelist, then its value will be shown*; otherwise, the key's value will be sanitized, i.e. replaced with $sanitizedValue.

Example:

[code]

`output` would equal `{ "foo" : "bar", "bip" : "XXXX"}` since `bip` is not in the approved list.

P

[2020-03-11 15:43] yurique commented on #1407
Thank you, Travis! You're on top of it as always :)

[2020-03-13 11:17] fedefernandez commented on #1101
Hi @travisbrown!

I'm getting this behaviour with circe 0.13.0

[code]

[code]

[2020-03-13 14:39] kevinmeredith commented on #1425
Could you please let me know your thoughts, @travisbrown? Thanks

[2020-03-13 14:55] travisbrown commented on #1425
Thanks for proposing this. I don't really think it belongs in circe-core, but I've been thinking for a while that we should have a circe-extras module for stuff like this (it would have only a circe-core dependency, and would be for things that didn't quite make the circe-core cut). If someone wants to kick that off it'd definitely move faster than if it's left up to me.

[2020-03-13 15:15] mantovani opened #1426 "Implicit Parameter with Circe"
Hello

When I try to use parameter with Circe, I have the following error:

[code]

My code:

[code]

It perfect works when I do :

[code]

but when I do:

[code]

I have the the error above. How can I use Implicit Parameter with Message[Source] instead of Message[Jdbc] or Message[Hive] ?

[2020-03-13 15:17] mantovani commented on #1426
I know how to get around it using ```match``` to proper convert Message[Source] to Message[Jdbc]/Message[Hive] but if I do that I wouldn't need the Implicit Parameter and also would be ugly.

[2020-03-13 15:30] kevinmeredith commented on #1425
Thanks, Travis! If I propose such a change, I'll do so in `circe-extras`, as you noted.

[2020-03-13 15:30] #1425 closed

[2020-03-13 16:16] travisbrown commented on #1426
I'm sorry, but this doesn't really have anything to do with Circe specifically, and you're likely to get better help with questions like this in the Scala tag on Stack Overflow. At a glance it looks like you need an instance like the following:

[code]
…but this is very much not a standard use of the term _monoid_ and I'd strongly recommend picking a different name.

[2020-03-13 16:16] #1426 closed

[2020-03-13 16:19] travisbrown commented on #1426
Also worth noting that the `Source` type parameter on your `Monoid` shadows the `Source` class name. I've confused myself with this kind of shadowing many times and would recommend picking a different type parameter name.

[2020-03-21 16:03] totallhall64 commented on #1407
L

[2020-03-29 15:21] GMadorell commented on #1113
Thanks for putting this issue out there! For me it was the only way to find it in google 👍 .
Also, personally I would like for being able to automatically use this as the default option (maybe by using a different import?) for automatically derivating the codecs. In the project I'm currently working on 100% of the encoders and decoders are like this.

[2020-04-03 07:26] dcastro commented on #1267
A bit late to the party, but here's an alternative using `refined` & `circe-refined`:

[code]
[code]

[2020-04-17 07:10] ybasket commented on #1398
@ashwinbhaskar I would recommend [diffson](https://github.com/gnieh/diffson) for this kind of more advanced JSON comparison, it has circe support and gives a typed description of the differences which you then can easily filter for the key paths you're (not) interested in.

[2020-04-19 07:29] aukgit opened #1442 "Generic DecoderAndEncorder Example / Issue, Generic[T] Decoder[T], Generic[T] Encoder[T]"
Hello @travisbrown,

How are you? Greetings for the day.

I have things set up correctly. Data comes properly. However, I am having issues with generic types. **As I am completely new to scala, probably I am missing something.**  However, I have read in the StackOverflow articles that circle doesn't support conversion of Any, Object (which makes sense). However, I want to make a generic one where

[2020-04-19 12:58] travisbrown commented on #1442
@aukgit I'm not sure I understand the exact issue, but here are some examples that I hope might help.

First, if you have `CampaignRow` defined as above, you can use generic derivation to define instances like this:

[code]
And then:

[code]

Once you have that, you should never explicitly need to define a `List[CampaignRow]`, since Circe automatically provides e.g. `Encoder[List[SomeType]]` for a

[2020-04-19 14:11] aukgit commented on #1442
Thank you @travisbrown for the quick help.
I will give this `(implicit encodeTRow: Encoder[TRow])` a TRY

For now, I have found a workaround using def, instead of val.

As I mentioned before, these below ones **failed**:

# Failed Example
[code]

# Success Example

[code]

Probably I will use an Encoder encapsulate class to solve this issue.

[code]

[code]

[2020-04-19 17:01] aukgit commented on #1442
Hello @travisbrown ,

I have one more question, probably a silly one, however, I couldn't find a good answer yet.

For generics what is the difference amount these below categories

category1: class Generic[+A] vs class Generic[A]

category2: class Generic[-A] vs class Generic[A])

[2020-04-19 17:12] aukgit commented on #1442
@travisbrown

In the future can we make dynamic decoders and encoders which may fail in runtime if not successful

Proposal,

`implicit val dynamicCodec: DynamicCodeRuntimeCodec[T] = new DynamicCodeRuntimeCodec[T]`

May fail on run time if cannot parse to T

[2020-04-20 09:27] travisbrown commented on #1442
@aukgit There's no reason you couldn't have a decoder that relied on runtime reflection to decode an arbitrary type (although you'd probably need an implicit `ClassTag[T]`). I think I've written an example of this before, although I can't find it at the moment. It's pretty far from the spirit of this kind of type-ful programming, though, and I don't know of anyone who actually does this.

[2020-04-20 10:43] aukgit commented on #1442
Will you please kindly point me to that?

[2020-04-20 11:00] travisbrown commented on #1442
Sorry, as I said I can't find it at the moment. IIRC it was something I posted in a Gist or Stack Overflow or somewhere like that, but searching for variations of "manifest classtag circe scala" doesn't turn it up. There's a similar example in [this old blog post of mine](https://meta.plasm.us/posts/2015/11/08/type-classes-and-generic-derivation/). In any case I definitely don't recommend it, and

[2020-04-20 12:23] nicolaemarasoiu opened #1443 "question: DecodingFailure([A]Option[A], List(DownField(line1)))"
Hello, when running this code:
[code]
I am getting
[code]
So I get that it is about line1, and potentially about it being an Option?
Please advise,
Thanks
Nicu

[2020-04-20 12:37] travisbrown commented on #1443
Can you provide a complete example? I'm also not sure I understand what the question is?

[2020-04-20 13:39] nicolaemarasoiu commented on #1443
Hi yes thanks:
[code]
this is the input String ```(formattedAddress.adress)```

[2020-04-20 13:40] nicolaemarasoiu commented on #1443
the decoding error is at ```k="line1"```

[2020-04-20 13:41] nicolaemarasoiu commented on #1443
From Debugger:
[code]

[2020-04-20 13:41] nicolaemarasoiu commented on #1443
from
[code]

[2020-04-20 13:44] nicolaemarasoiu commented on #1443
[code]
Should it not be an Object with 3 keys, "line1", "town", "postcode"? Thank you

[2020-04-20 13:47] travisbrown commented on #1443
@nicolaemarasoiu `Json.fromString` creates the `Json` representation of a JSON string—it doesn't parse the string. Will look at the rest soon.

[2020-04-20 13:48] travisbrown commented on #1443
Oh, that's the issue—if you want to parse a string you'll need circe-parser and then either `parse` or `decode` from `io.circe.parser`.

[2020-04-20 14:35] nicolaemarasoiu commented on #1443
Thank you very much!

[2020-04-20 14:35] #1443 closed

[2020-04-21 17:41] aukgit commented on #1442
Hi @travisbrown

Thank you for taking your valuable time and replying.

Here is what I tried and having some issues.

[code]

My question of how to create the `List` or `Iterable` type of T for that JsonDecoder class.

Or,

Probably using reflection.??

[2020-04-21 19:29] aukgit commented on #1442
Things gets fixed if I import all these

[code]

Which one to keep as organize import also fails to build again.

[2020-04-21 19:31] aukgit commented on #1442
`import io.circe.generic.auto._` this one fixes it.

[2020-04-21 19:31] #1442 closed

[2020-04-21 20:01] aukgit commented on #1442
For anyone who is going to use the generic version of decoders, codecs for T and List[T]

Example Code : https://bit.ly/2RXr7gT
[code]

[2020-04-21 20:31] wangt328 opened #1446 "java.lang.NoSuchMethodError after upgrading from 0.11 to 0.13"
Hi - Not sure this is the right place to ask question about circe, but decide to try my luck here. After upgrading my circe from version 0.11 to 0.13, I am seeing this error,

[code]

Any hint how this may be resolved? Thank you very much!

[2020-04-23 13:56] #1446 closed

[2020-04-25 13:53] dcastro opened #1449 "Json path formatting of errors produced by non-empty collection deserializers"
When a non-empty deserialiser fails and we try to convert the corresponding `List[CursorOp]` to a json path, we get this:

[code]

This, for example, when returned in an HTTP error message, can be confusing to the client.

I've written a version of `CursorOp.opsToPath` that handles this special case (`DownArray` -> `DeleteGoParent` -> `DownArray`) and outputs `[2]` instead of `[0]{!_/}[1]`. We've

[2020-04-30 01:16] joan38 commented on #288
Why are we not getting any stack trace when this happens? At least to know where in the code this is happening would be great.

[2020-05-04 11:20] benkobalog opened #1453 "Incorrect instance derivation with generic.auto"
I have a very specific case where incorrect decoders and encoders seem to be selected.
This is the minimal example I was able to make. If I change anything it works correctly and I couldn't make it smaller.
File1:
[code]
File2:
[code]
Somehow the encoder for `SomeCompletelyUnrelatedTrait` confuses things and list in `CaseClass1.a` gets encoded as a json object.

Things I tried to change which resu

[2020-05-04 12:14] travisbrown commented on #1453
@benkobalog Thanks much for the minimisation and report! I think this is probably the same underlying issue as #390, which I haven't seen pop up for a while. I'll take a closer look ASAP.

[2020-05-14 10:30] ikempf opened #1461 "deriveConfiguredEncoder unexpected behaviour with value classes"
I have been using `generic.semiauto` and `generic.extras.semiauto` quite a bit but there are cases when I cannot manage to get the desired output.

When using value/wrapper classes inside an adt it seems that `deriveConfiguredEncoder` behaves the same as `deriveEncoder`.

Take the following ADT and encoders:
[code]
Given these encoders, serializing `ValueClass` results in the following json:
[code

[2020-05-14 11:05] travisbrown commented on #1461
The problem here is that `encoderV` isn't guaranteed to encode its inputs as JSON objects, so circe-generic-extras doesn't know that it can use the `"type": "..."` encoding, and has to fall back to the default object wrapper encoding.

Imagine for example that you had the following:
[code]
Now if you call `Encoder[Parent].apply(ValueClass("foo"))`, the JSON encoding of `ValueClass("foo")` would ju

[2020-05-14 11:06] #1461 closed

[2020-05-14 11:10] travisbrown commented on #1461
As a side note, there's an argument that we should have ADT instance derivation fail in cases where you've configured `withDiscriminator` and have an `Encoder` for one of the constructors that isn't an `Encoder.AsObject`, instead of falling back to the default behavior.

I think I personally prefer the current fallback behavior, but don't have a strong opinion either way. If someone wants to propo

[2020-05-14 11:47] ikempf commented on #1461
`Encoder.AsObject`, that makes total sense, solved my issue. Thanks 👍

[2020-05-18 16:03] nornagon opened #1464 "Line number info for decoding errors?"
With a large & complex set of JSON (or YAML), it can be difficult to figure out where a decoding error happens. The YAML parser produces line numbers for parsing errors, but the information is lost by the time a decoding error happens.

Would it be feasible to thread that information through (perhaps optionally, in order to avoid additional overhead where it's not wanted?)

[2020-05-19 14:37] BardurArantsson opened #1465 "Add error information to failed key decoding for maps"
(This following up on the short Gitter conversation starting at https://gitter.im/circe/circe?at=5df10e9dc6ce6027eba29144 , just for reference.)

Use case
========

I'm using circe-yaml to parse a user-supplied config and that config happens to contains maps, but I'd like additional validation on the keys to turn them into a case class, say `case class Foo(s: String)` only if they pass extra valid

[2020-05-19 15:29] BardurArantsson commented on #1465
Ah, your absolutely right about getting info about which keys. I must have misremembered -- hadn't saved any of the error messages, unfortunately. As you say, December was forever ago :).

From a quick skim I think I understand what you were suggesting and it definitely seems like a better option, at the very least wrt. backward compat.

I imagine that just adding a new implicit enhancedMapDecoder

[2020-05-19 16:26] BardurArantsson commented on #1465
OK, so I could have a go at implementing, but perhaps it makes more sense to just wait for circe-extras... I'd basically just be copy/pasting your code anyway :)

It's probably more work to try to add to circe-core (or whatever) and then move it later.

The generic parts of it seem like they definitely would solve my use case.

[2020-05-19 18:09] oscar-broman opened #1466 "Automatic derivation used despite implicit decoder in scope"
[code]

Output:
[code]

[2020-05-19 18:18] oscar-broman commented on #1466
I realize now that removing the `io.circe.Decoder._` import solves the problem.

Why does the priority change from that import?

[2020-05-19 20:54] travisbrown commented on #1466
The issue is that when you import `Decoder._`, you raise this low-priority decoder from implicit scope into actual scope scope:

[code]

The `Exported[Decoder[A]]` is provided by a macro in `generic.auto` in such a way that it won't override user-defined instances. That prioritization depends on `importedDecoder` only being in implicit scope, though. Once you import it, the priorities go out the w

[2020-05-19 20:54] #1466 closed

[2020-05-22 04:41] tmccarthy opened #1468 "Use Show to provide Exception message for DecodingFailure"
## Overview

I'm proposing that [`getMessage`](https://github.com/circe/circe/blob/5555aa73b4c537e518ee1423203df2377727073f/modules/core/shared/src/main/scala/io/circe/Error.scala#L49) in `DecodingFailure` be changed to use the [`showDecodingFailure`](https://github.com/circe/circe/blob/5555aa73b4c537e518ee1423203df2377727073f/modules/core/shared/src/main/scala/io/circe/Error.scala#L95) implementa

[2020-05-24 01:04] tmccarthy commented on #1468
Oh it looks like there's already a PR for this #1316.

[2020-05-25 01:33] tmccarthy commented on #1305
This issue has been fixed by the upgrade of `scala-java-time` to 2.0.0 in #1448. The corresponding `scala-java-time` PR is https://github.com/cquiroz/scala-java-time/pull/133.

[2020-05-25 15:13] psttf commented on #288
@joan38 Circe seems to suppress exception stack traces for performance reasons. See #233. Looks like one has to wrap Circe exception to get more info for tracing it.

[2020-05-25 16:05] travisbrown commented on #288
@psttf It's true that part of the reason that Circe suppresses stack traces is performance, but that's largely incidental. The primary reason is that Circe never throws exceptions, and idiomatic Circe usage relies on ordinary return values to represent decoding failures. (Note that it's of course possible to end up with e.g. stack overflows or initialization order null-pointer exceptions in code t

[2020-05-26 01:42] DmytroMitin commented on #1353
@travisbrown Actually in Shapeless 2.4.0-M1
[code]
started to compile
https://scastie.scala-lang.org/R8AYd1atQxORSvH1MI7zVg

[2020-05-26 07:54] psttf commented on #288
@travisbrown Thank you for the explanation! It turns out that I was confused by the fact that `DecodingFailure` extends `Exception`. This makes it possible to apply `IO.fromEither` and the like to it, but it results in having untraceable errors without stack traces in error logs. Maybe it is better to not extend `Exception` at all? Then it will always be necessary to wrap `DecodingFailure` in an `

[2020-05-26 08:24] travisbrown commented on #288
@psttf This is something we've thought a lot about, and while I definitely agree that the current approach isn't perfect, the trade-offs are something we've considered. Not saying it could never change, but I think it's unlikely.

In general my recommendation would be to try to use alternative approaches to error handling that don't require you to deal with undifferentiated exceptions in `IO` at s

[2020-05-28 10:03] duxet opened #1474 "Add @UnwrappedJsonCodec annotation"
It would be awesome to have `@UnwrappedJsonCodec` annotation for value classes.

I wanted to implement it using existing `JsonCodecMacros` abstract class, but it works only for Object codecs/encoders:

[code]

[2020-06-10 12:04] GuillaumeSaintRaymondSonos opened #1484 "Using @JsonCodec + Scala 2.13.2 + sbt-tpolecat doesn't report unused imports"
Here is a sample project reproducing the problem: https://github.com/GuillaumeSaintRaymondSonos/sbt-tpolecat-circe/ where I left an unused import in `Hello.scala`. The compiler doesn't report anything.
By downgrading to Scala 2.13.1, the compiler reports correctly the unused import.

I opened the issue first on the [sbt-tpolecat repository](https://github.com/DavidGregory084/sbt-tpolecat/issues/22

[2020-06-10 18:35] tg44 opened #1485 "Parsing "javascript" to json (tailing commas)"
I think it is not possible now to parse valid javascript objects if they are containing tailing commas.
Is that right?
`[1,2,3,]` and `{"key":"value",}` sometimes "came out" from not very polished systems...

[2020-06-11 20:11] SethTisue commented on #1484
note that https://github.com/scala/scala/pull/8799 may be relevant

[2020-06-20 16:33] tg44 commented on #1485
Thx the response (and sorry that I forgot to react when I first read this)! I saw that there are some "global" params in the json parser, and I didn't found at first that the parsers are not implemented here.

For future readers:
 - I fixed my problem using a small nodejs script... (so no code for reproduce)
 - jackson sure has this feature: https://github.com/FasterXML/jackson-core/issues/118
 -

[2020-06-20 16:33] #1485 closed

[2020-06-25 07:59] nartamonov commented on #877
It also helps in cases when we are decoding some domain object with the help of a smart constructor with validation logic inside, where validation is represented by `cats.data.Validated` effect or `ZIO` or something else, for example:

[code]

I have a similar problem in my current project and don't know how to solve it.

[2020-06-29 08:57] GuillaumeSaintRaymondSonos commented on #1484
Tried today with Scala 2.13.3, unused import is reported !

[2020-06-29 08:57] #1484 closed

[2020-07-17 15:44] LukaJCB opened #1505 "codec"

[2020-07-17 15:44] #1505 closed

[2020-07-17 15:45] LukaJCB commented on #1505
sorry, this was supposed to be a search, not a new issue 😄

[2020-08-02 21:27] totallhall64 commented on #1407
Lying bitch i new u were part of grubhub

[2020-08-05 07:18] ryanb93 opened #1513 "Add support for Java Locale"
It's not uncommon to pass Java Locale's between clients and web services, we usually end up writing our own encoders per project but this would be nice to have in the core circe `Encoder` and `Decoder` that are provided by default.

Jackson uses the `.toString` method to serialise and then three different constructors for deserialisation. In Scala this would look something like:

[code]

This roun

[2020-08-17 07:54] Iltotore opened #1518 "Problems creating a new Decoder semi-automatically"
Hello,
I'm trying to use the circe semi-auto feature to create a decoder for one of my models: https://hasteb.in/axonivit.scala (I also tried to unnest the case class)

But while compiling, I get this error: `could not find Lazy implicit value of type io.circe.generic.decoding.DerivedDecoder[io.github.iltotore.fxcm.model.Offer.Data]`

I searched answers about this error and all my attempts didn't

[2020-08-17 08:12] travisbrown commented on #1518
I can't answer in detail at the moment, but there was some recent discussion on Gitter that might be relevant: https://gitter.im/circe/circe?at=5f362090aecae32e8ec0c7d6

[2020-08-17 09:48] Iltotore commented on #1518
Infortunately, this does not seems to work in this situation. I still have the error without more information.

[2020-08-18 08:29] Iltotore commented on #1518
Hello,
I just want to precise i'm using the latest M version with scala 2.13. Idk if this can cause this bug.

[2020-08-19 16:02] LukaJCB opened #1519 "Add Encoder/Decoder for `Nothing`"
Ran into a problem with an ADT with multiple type parameters that was due to there being no `Nothing` codec in circe.  This may be controversial, but here's a motivating example:

[code]

Now if I create a `Bar`, I don't get to have a codec for it. I know I could introduce a second type parameter for `Bar` to mitigate this, but assume it comes from a third party library.

[2020-08-23 16:57] evbo commented on #1464
@nornagon there is a hacky way to do this, but it's not much code:

When you handle your `DecodingFailure` exceptions, reverse the `history`, which is a sequence of json nodes that brought you to the problem, and then write a recursive function that iteratively replays each item in the sequence.

So, if you failed at `Top` > `SubField1` > `SubField2`
[code]

You could then re-load you json file, p

[2020-08-23 16:58] evbo commented on #1464
@nornagon there is a hacky way to do this, but it's not much code:

When you handle your `DecodingFailure` exceptions, reverse the `history`, which is a sequence of json nodes that brought you to the problem, and then write a recursive function that iteratively replays each item in the sequence.

So, if you failed at `Top` > `SubField1` > `SubField2`
[code]

You could then re-load you json file, p

[2020-08-23 17:01] evbo commented on #1464
@nornagon there is a hacky way to do this, but it's not much code:

When you handle your `DecodingFailure` exceptions, reverse the `history`, which is a sequence of json nodes that brought you to the problem, and then write a recursive function that iteratively replays each item in the sequence.

So, if you failed at `Top` > `SubField1` > `SubField2`
[code]

You could then re-load you json file, p

[2020-08-27 04:36] abhijitSingh86 commented on #626
+1

[2020-09-08 09:34] Iltotore opened #1530 "Auto/Semi auto should support unapply method"
Hello,
I think circe generic support for `unapply` method and not only for sealed trait and case classes should be really helpful.

I'm not familiar with Scala macros but I suppose it's possible.

Have a nice day.

[2020-09-15 15:20] Lasering opened #1536 "Encoder.at"
Similarly to [Decoder.at](https://circe.github.io/circe/api/io/circe/Decoder.html#at(field:String):io.circe.Decoder[A]) there should also exist a method `at` in `Encoder`

[code]

[2020-09-15 17:56] travisbrown commented on #1536
This sounds reasonable to me!

[2020-09-16 17:45] eggsby commented on #1267
As a user of this library I disagree that 'this is what the users expect'.
This was very unexpected behavior.

The json does not round trip:

Given:
[code]

If I decode the json string:
`{"x": null}` as Foo, the resulting encoding of is `{}`.
Now this string fails to decode and I lose my round-trip.

null should not be conflated with NaN or undefined.

As far as scala semantics go, if a user wante

[2020-09-16 20:50] okouyad commented on #877
What is the status of this ?

[2020-09-16 21:28] benhutchison commented on #877
AFAICT, it requires a ground-up rewrite of Circe to fix.

By coupling to a concrete effect type `Either` throughout the Circe API, rather than an abstract interface (like `ApplicativeError`/`MonadError`), there's no space for other effects in the decode operation.

[2020-09-21 14:33] neko-kai opened #1540 "Encoding/decoding `Option[Option[A]]` loses data (is not injective)"
Example (https://scastie.scala-lang.org/jpXxtlT1Rk6SERNsMqz3IQ):

[code]

Decoding `Odd(Some(None)).asJson` results in `Odd(None)`.

[2020-09-29 17:10] Lasering opened #1542 "Make Codec more of a first class citizen"
Compared to defining custom encoders/decoders defining Codecs is way more clunky. These are some of the reasons I can find:

1. The apply method in `Codec` (the summoner) could be overloaded to receive a  `Decoder[A]` and an `Encoder[A]`, similar to the from method. I would even argue an equivalent but implicit method should exist, aka, a `Codec[A]` should be automatically "derived" if a `Decoder[

[2020-09-30 13:53] an-tex opened #1544 "dropNullValues=true in combination with Map[_,Option[_]]"
I like to use `dropNullValues` in general but there's an issue when using Maps with optional values. Consider this example of serializing and deserializing a Map[String,Option[Int]]:

[code]

All of a sudden the Map is missing an element. It's kinda expected considering how Maps are serialized and `dropNullValues` work, still surprising that dropNullValues can cause such effects.

I'm not sure if

[2020-10-14 14:05] x3ro opened #1549 "Add the `hacktoberfest` topic?"
Hey folks,

I'm a (relatively new) user of Circe and would like to give something back (documentation, potentially a slight expansion of how `.withDiscriminator` affects the output of YAML in `circe-yaml` as a proposal). In order for my contributions to count towards my Hacktoberfest goal it'd be nice if you could add the `hacktoberfest` topic to this repository and to `circe-yaml` ([more info her

[2020-10-14 14:37] travisbrown commented on #1549
Good idea, done!

[2020-10-14 14:37] #1549 closed

[2020-10-20 15:23] feoktant commented on #726
@fr3akX , @scalway could you show right imports? I faced with the same issue, but link doesn't work

[2020-10-27 17:17] Iltotore opened #1559 "NoSuchMethodError while deserializing YAML"
Hello,
I'm trying to deserialize my YAML file into case class using automatic derivation but I receive a [NoSuchMethodError](https://hasteb.in/kofuyase) during initialization.

Code called:
[code]

Decoders:
[code]
Each type used in these case classes has an implicit Decoder.
**Note: I'm raising this issue here because it's about different circe libs (generics, yaml etc...)**

Edit: here is the YA

[2020-10-27 19:03] Iltotore commented on #1559
Here are my dependencies:
[code]
`scalaDependency` is just a method to add the `_<scalaMajorVersion>` to the artifact id (here 2.13)

[2020-10-27 23:43] x3ro opened #1561 "Improvement suggestions / discussion regarding the documentation"
Hey there,

I've already taken the liberty to submit some PRs that touch the docs, but I felt like the following ideas may need some discussion and/or it'd be rude to just submit a PR changing larger chunks :)

* It'd be nice if the README.md contained code examples. At least I personally am often confused when README's don't :D As a result I'd suggest doing something similar to what's already bei

[2020-10-28 13:27] fr3akX commented on #726
@feoktant
`import io.circe.generic.extras._`

[2020-10-28 17:11] tg44 commented on #1540
What would be the expected behaviour here? Missing param makes the outer option None, null makes the inner? As I understand the json generator can be configured to miss out the Nones keys or make the properties null, so the serialization part and the serialize and deserialize will probably still lose data.

[2020-10-28 19:04] neko-kai commented on #1540
This strategy will fail as you nest more options: `Option[Option[Option[Option[Option[....`

Falling back to explicit `{ "Some": {...} }` & `{ "None": {} }` ADT encoding whenever there are nested options is the only thing that can reasonably work, I think, but I'm not sure how reasonable that is.

The problem is only that `Codec` is no longer injective in the presence of nested Options (`decode(en

[2020-10-29 21:05] Iltotore commented on #1559
Update: https://hasteb.in/runeleli.rb
(the old link has expired)

[2020-10-30 10:28] Iltotore commented on #1559
Finally, the problem was a relocation bug of shadowjar in `scala.runtime.SymbolLiterral`. Just rewrote the class in a separated module:
[code]

[2020-10-30 10:28] #1559 closed

[2020-11-11 18:44] LukaJCB opened #1572 "Build and publish for recent dotty milestones"
cats-core and scalacheck have been published for the latest 3.0.0-M1 release. It'd be great if we could get a circe release targeting the same version too.

[2020-11-12 09:08] travisbrown commented on #1572
I think this is still blocked on at least discipline-scalatest (I wish Circe were already migrated over to MUnit but I don't know when that will happen). I don't have much time for these projects these days but am happy to take a closer look once all dependencies are ready.

[2020-11-12 17:29] larsrh commented on #1572
I just released 2.1.0 for Dotty 3.0.0-M1.

[2020-11-22 17:59] travisbrown opened #1582 "Migrate tests to MUnit"
I've been using [MUnit](https://github.com/scalameta/munit) in all of my new Scala projects and have been slowly migrating others from ScalaTest. Getting away from ScalaTest is something I've wanted to do for a long time, and [Cats](https://github.com/typelevel/cats/pull/3538) for example has also chosen MUnit as a replacement.

One of the primary motivations for MUnit is that it tracks Dotty / Sc

[2020-11-22 18:05] travisbrown opened #1583 "Migrate build to GitHub Actions"
Travis CI is apparently dropping travis-ci.org, and we've seen delays in the free builds for open source projects. We should probably follow [Cats](https://github.com/typelevel/cats/pull/3570) and other Typelevel projects and just move to [GitHub Actions](https://github.com/features/actions).

[2020-11-24 18:02] kamilkloch opened #1585 "Broken `Decoder` on Scala.js 1.3.1"
The following code works on JVM:
[code]

The same code works with Scala.js 1.1.1 but fails on Scala.js 1.3.1:
[code]

[2020-11-24 18:32] nafg commented on #1585
What is `as` in each case?

[2020-11-24 18:50] kamilkloch commented on #1585
@nafg Here error distilled down to `hcursor.downField`:
[code]

[2020-11-24 21:14] nafg commented on #1585
Don't do console.log, do println. I don't care about the obfuscated scala.js encoding

[2020-11-24 22:34] kamilkloch commented on #1585
@nafg My bad, I did not expect `println`to work...
[code]

[2020-11-25 02:50] nafg commented on #1585
What does this give?

`println(json.hcursor.downField("name"))`

[2020-11-25 02:50] nafg commented on #1585
Can you confirm the issue happens even if you do a clean build?

[2020-11-25 08:50] kamilkloch commented on #1585
Yes, clean build.

[code]

[2020-11-25 14:30] erwan commented on #1583
hi 👋

I can take care of it if you want!

[2020-11-25 19:21] nafg commented on #1585
I don't know what's going on but I doubt it's something in circe's end,
since the source code probably didn't change for newer scala.js. So it's
probably a scala.js issue. FWIW circe works for me on 1.3.1. I would
suggest to first pinpoint exactly which scala.js version is the first that
has the issue, then reach out on scala.js gitter or issue tracker.

That said, there are some more things you c

[2020-11-27 22:25] kamilkloch commented on #1585
Indeed, looks like a Scala.js error: https://github.com/scala-js/scala-js/issues/4305
Thanks.

[2020-11-27 22:25] #1585 closed

[2020-11-28 13:38] travisbrown commented on #1572
I've tagged this as LSUG for the hackathon today, and I'll probably work on this repo in the absence of other things to do, but we also need to add Dotty / Scala 3 to the builds for the [other repos in the Circe org](https://github.com/circe) (most of which shouldn't be blocked by Circe itself, because they don't depend on e.g. circe-generic), if anyone is looking for more intermediate-to-advanced

[2020-11-28 14:45] erwan commented on #1583
For circe-generic-extras: https://github.com/circe/circe-generic-extras/pull/110

[2020-11-28 15:00] hardmettle commented on #1519
@travisbrown picking this up as part of LSUG meetup.

[2020-11-28 15:04] erwan commented on #1583
circe-derivation: https://github.com/circe/circe-derivation/pull/269

[2020-11-28 15:08] jatcwang commented on #1583
I'll do https://github.com/circe/circe-optics

[2020-11-28 15:21] travisbrown commented on #1583
One thing to note: we might as well go ahead and remove the `addSbtPlugin("com.dwijnand" % "sbt-travisci" % "1.2.0")` lines from `project/plugins.sbt` while removing the Travis CI config.

[2020-11-28 15:36] jatcwang commented on #1583
I'm using https://github.com/djspiewak/sbt-github-actions which helps to keep Scala version in github actions consistent with the build (among other things like setting up the correct cache directories for Scala)

[2020-11-28 15:37] travisbrown commented on #1583
@jatcwang Sounds good—I'm interested to see what it looks like.

[2020-11-28 16:06] travisbrown commented on #1583
@erwan, since you've done a few of these (and anyone else who's interested): do you have thoughts on the sbt-github-actions plugin-based approach @jatcwang is using here? https://github.com/circe/circe-optics/pull/147

I don't have a strong opinion either way, but using the plugin seems reasonable to me.

[2020-11-28 18:18] erwan commented on #1583
@travisbrown yes, it's nice not to have to repeat the Scala version.

just 2 comments:

- I'm not sure why the `clean.yml` file is generated, it doesn't seem to be necessary in our case
- It would be nice to have an action (maybe in a separate workflow) that makes sure that the generated files are in sync with the build - typically having an action that generates the files, and fail if the output

[2020-11-28 20:09] jatcwang commented on #1583
Basic checklist for each project:

- Add sbt-github-actions
- Add settings to build.sbt for `sbt-github-actions`, ensure that all existing TravisCI steps are ported over.
  - For steps like codecov coverage upload you can use the available github actions
- Remove .travis.yaml
- Remove sbt-travisci from plugins.sbt
- Update badge URL in readme.md

[2020-11-28 20:47] jatcwang commented on #1583
@erwan

* Artifacts are used to pass transient states between jobs. So if we want to cache compile output between jobs then it the cleanup will become relevant
* sbt-github-actions by default already generates a step to check the config is up to date

[2020-12-20 12:18] erikvanoosten commented on #1540
Expected behavior: _does not compile_.

With Circe's interpretation of Option, no type `Option[Option[A]]` can be be expressed in JSON. Therefore it should not be supported and therefore it should not even compile.

This could be achieved by adding a second implicit that only matches on `Option[Option[A]]` with the appropriate annotation to document that this type is not supported.

[2020-12-20 12:40] travisbrown commented on #1540
Circe doesn't make any guarantee that every codec will round-trip all values through the JSON representation, even for codecs provided in implicit scope (although the only other examples I can think of off the top of my head that don't round-trip are `Double.PositiveInfinity` and friends).

In this case we probably could provide ambiguous implicits for `Option[Option[A]]`, so that anyone explicitl

[2020-12-21 03:34] sloshy opened #1620 "Failure to decode on ScalaJS 1.3.1"
Hello, I recently ran into an issue where ScalaJS 1.3.1 breaks Circe decoders for my project, and I'm not entirely sure why. I've copied over some code from a personal project and finagled with it a bit to get a minimal example going.

Repository reproducing the issue: https://github.com/sloshy/circe-bug-1620

To reproduce the issue:

1. Run `sbt test` to see the circe golden test for the codec su

[2020-12-21 04:18] sjrd commented on #1620
See https://github.com/scala-js/scala-js/issues/4305.

tl:dr Apparently a bug in Webpack, surfaced by a change in encoding in Scala.js 1.3.1. The ticket contains a workaround.

[2020-12-21 13:06] sloshy commented on #1620
Thanks, I somehow missed that when looking for this. I'll close this issue as I think it's a duplicate of that.

[2020-12-21 13:06] #1620 closed

[2020-12-21 19:12] SarpongAbasimi opened #1621 "Is it possible to have an Encoder with the shape Encoder[Seq[Something]]?"
Please how can I go from `Encoder[Seq[Something]]` to `json`

[code]

The only thing that comes to mind to go from `Seq[Something]` to `Something` is `fold` and `reduce` but that is not what I want. If you could help, I will be very grateful thank you

[2020-12-22 08:43] travisbrown commented on #1621
Circe automatically provides `Encoder` and `Decoder` instances for many types in the standard library, including `Seq`. For generic types like `Seq`, these are _derived_ instances, where for example if you have an encoder for a type `Foo`, Circe automatically provides an encoder for `Seq[Foo]`.

For example, suppose you have this code:

[code]

Then you automatically get an implicit `Encoder[Seq[M

[2020-12-22 08:43] #1621 closed

[2020-12-22 19:40] SarpongAbasimi commented on #1621
@travisbrown thank you very much. The issue have been resolved now.
Please may I ask if you could explain what `contramap` does and where this can be used.

[2020-12-23 07:42] travisbrown commented on #1621
You can think of `contramap` as attaching a transformation before another transformation in a pipeline. An `Encoder[B]` is essentially a `B => Json`, and if you have `encodeB: Encoder[B]` and a function `a2b: A => B`, you can use contramap to chain the `A => B` and `B => Json` to get an `Encoder[A]` with `encodeB.contramap(a2b)`.

[2020-12-25 14:01] Saheb opened #1626 "could not find Lazy implicit value of type io.circe.generic.encoding.DerivedAsObjectEncoder (Map custom key)"
[code]

The above snippet gives the following error:

[code]

scala 2.13.4, circe 0.13.0, [scastie link](https://scastie.scala-lang.org/Saheb/HKDlhVo6RVW0PKPAPmDwTA/51)

Changing `type` of field `friends` in `Person` from `Map[UserId, String]` to `List[UserId]` works, not sure why it doesn't work as seamlessly for `Map` with custom `type` for its key.

[2020-12-29 10:12] Saheb commented on #1626
Well, adding a specific [KeyEncoder](https://circe.github.io/circe/api/io/circe/KeyEncoder.html) solved it

[code]

[scastie link](https://scastie.scala-lang.org/Saheb/HKDlhVo6RVW0PKPAPmDwTA/54)

[2020-12-30 20:18] Daenyth opened #1631 "Circe fails to decode string-wrapped numbers to BigDecimal if they start with ".""
Desired behavior:
Json of `".9"` should decode into `BigDecimal(".9")`

Current behavior:
That json fails to parse

Example: https://scalafiddle.io/sf/V4EaG0O/2

[2020-12-30 21:01] travisbrown commented on #1631
The [JSON spec](https://www.json.org/json-en.html) doesn't support numbers that start with a decimal point, so I'd consider this out of scope, but you could always hack together a version of Jawn and circe-jawn that would support it.

[2020-12-30 21:05] Daenyth commented on #1631
It's not a json number though, it's a json string. If I did `Decoder[String].map(BigDecimal(_))` it would work.

More concretely, we're migrating a codebase from spray to circe and this was a regression for us

[2020-12-30 22:15] travisbrown commented on #1631
The fact that the number decoders accept JSON strings is mostly a convenience for Scala.js users who don't have support for proper non-double JSON numbers, and these decoders treat numbers in JSON strings exactly the same way as the equivalent JSON numbers. I'm very reluctant to have each of these decoders match the string constructors of their target type, which would mean `decode[Double](""""NaN

[2020-12-31 15:10] Daenyth commented on #1631
Hmm, that's a good point.

[2020-12-31 21:28] samthebest opened #1632 "method pretty in class Printer is deprecated (since 0.12.0): Use print"
I've turned on

[code]

which makes the following code break:

[code]

With error:

[code]

But if we step into `pretty` it has no such deprecation above it:

[code]

Is this a compiler bug? Or a Circe bug?

Note I'm avoiding calling `Json.noSpaces` because there is no way to make it `dropNullValues`.

[2020-12-31 21:40] #1632 closed

[2020-12-31 21:40] samthebest commented on #1632
Intellij had wrong code, needed a refresh.

[2021-01-06 08:29] travisbrown opened #1635 "Investigate flaky JavaTimeCodecSuite test"
From [this build](https://github.com/circe/circe/pull/1634/checks?check_run_id=1654132929):

[code]

[2021-01-08 07:41] KingHO2359 opened #1636 "[Want help] Customize Configuration encode class"
Hi everyone.
I am using Scala with Circe.
I have some class:
`case class A (paramsA1: Int, paramsA2: String)`
`case class B (paramsB1: Int, paramsB2: String)`
`case class C (paramsC1: A, paramsC2: B)`
Somewhere, I want encode class C all Original like that:
[code]
But somewhere, I want encode class C with params C Original, params A and B Cap like that
[code]
And somewhere, I want encode class C w

[2021-01-11 14:12] fanf opened #1637 "Missing documentation about Printer in main documentation"
As a new user of circe, I was a bit lost about how to actually get a JSON string (or other char sequences) once you have some `Json` instance.
It seems even more important to have an entry in main doc for that since it's the printer that manages the presence of null/empty fields in the final representation - while without prior knowledge I was searching to do that in the encoders.

The doc can be

[2021-02-10 18:46] cartazio commented on #251
question: for the sealed trait A
and the case class B , case class C,
would putting the implicits in object B and object C respectively also work?

[2021-02-15 18:12] matthughes opened #1657 "Add equalsIgnoreOrder or change equals to ignore order"
By specification, the order of JSON keys should not matter semantically.  I understand `JSONObject` preserves order, so changing behavior of `equals` is probably out of the question here, but is there opposition to adding a `equalsIgnoresOrder` method to `Json` that would do a deep compare of two `Json` types ignoring the order on the objects?  Order on arrays should still be enforced per spec.

[2021-02-18 13:46] gokyo opened #1666 "decoding a Json with duplicate fields"
Steps to reproduce the issue are below.
Are we allowed to build (and decode) a JSON with duplicate fields? (for example: `{"a":1,"a":2}`)
I would expect an error.

[code]

[2021-02-27 12:45] travisbrown commented on #1666
It's currently possible to configure a parser with Jawn that will fail on duplicate keys:

[code]
It's unlikely that Circe will ever support duplicate keys at the `Json` representation level, although I once wrote some code to transform them during parsing (IIRC moving duplicate-keyed values into a JSON array), and something like that could potentially be supported. It sounds like you're just look

[2021-02-27 12:49] travisbrown commented on #1572
Closing this since most Circe modules are now published for 3.0.0-RC1 (3.0.0-M3 support was introduced in December): https://github.com/circe/circe/releases/tag/v0.14.0-M4

[2021-02-27 12:49] #1572 closed

[2021-02-27 13:06] travisbrown opened #1677 "Port circe-literal macros to Scala 3"
The circe-literal module provides compile-time JSON parsing with interpolation via a fairly complex Scala 2 macro (where part of the complexity is due to the approach we've taken to not imposing a runtime Jawn dependency on circe-literal users).

At some point we'll need to port this functionality to Scala 3 macros. I'm not very familiar with macro-based string interpolation in Dotty / Scala 3, bu

[2021-02-27 13:12] travisbrown opened #1678 "Enable tests on Scala 3 (both ScalaTest and MUnit)"
We're currently publishing artifacts for Scala 3 for most Circe modules, but we're simply flagging these as experiment and not testing on Scala 3 in CI.

During the last LSUG open source day, we started porting Circe's tests from ScalaTest to MUnit, in part because ScalaTest's support for Dotty / Scala 3 was often delayed or lacking.

That migration effort is still in progress (see #1582), but my

[2021-02-27 13:21] travisbrown opened #1679 "Fix warnings on sbt launch"
For a while the build has given a screenful of errors when you start an sbt console:
[code]
I haven't investigated these and barely even notice them now, but we should try to get rid of them. My guess is searching for the warning messages should lead to a fix, I just haven't got around to doing this.

[2021-02-27 13:28] travisbrown opened #1680 "Clean up build warnings"
There are currently a lot of build warnings, which fall into at least four categories:

* Stuff we should just fix right now, like unused imports and "Auto-application to `()`".
* Stuff that needs further investigation (like a new-in-2.13.5 inexhaustive match warning in Error.scala).
* Our own deprecations; 0.14.0 is not far off so we could go ahead and clean these up.
* Standard library deprecati

[2021-02-27 13:31] travisbrown opened #1681 "Investigate failed Scala Steward PRs"
Scala Steward is really fantastic, but I've been doing a terrible job of keeping up with Scala Steward PRs, and there are a lot of failed ones sitting around in Circe projects (#1675 is one example here).

It's not glamorous work, but it would be really helpful for people to go through [repos in the Circe org](https://github.com/circe), look for failed Scala Steward PR, and try to figure out why t

[2021-02-27 13:47] travisbrown opened #1682 "Follow up on flatjson experiment"
Over the holiday break a couple of months ago I took a stab at writing a Circe parser implementation inspired by the [flatjson](https://github.com/zalando-incubator/flatjson) project from Zalando.

The result seemed promising. In some simple benchmarks I tried I was seeing much lower allocation rates than circe-jawn, although throughput tended to be slightly lower.

The code is a mess, since this

[2021-02-27 15:15] travisbrown commented on #1681
I'm starting with [circe-optics](https://github.com/circe/circe-optics).

[2021-02-28 08:09] travisbrown commented on #1680
Done in #1683 and #1685.

[2021-02-28 08:09] #1680 closed

[2021-03-02 02:09] nafg commented on #1411
I only started getting this now on scala 2.13.5. Did something change?

[2021-03-02 05:28] oleg-py commented on #1411
2.13.5 has added linting for unused context bounds ([this pull](https://github.com/scala/scala/pull/9346)).

[2021-03-03 17:48] aumann commented on #1679
I'll take a look.

[2021-03-03 21:32] aumann opened #1689 "JavaCurrencySuite fails validateJS"
I have just noticed this while playing around with the build

I'm too inexperienced with Scala.js to really do more than ask some questions here:

- is this expected, simply because Scala.js does not provide java.util.Currency?
  - if yes, how would one fix this?
- is there a possibility to let CI validate the Scala.js part?
- is there a way to help with any of this?

tl;dr

My main motivation bei

[2021-03-04 17:14] GlassAndOneHalf commented on #1411
The same seems to happen with `deriveEncoder` & `deriveDecoder` from the semiauto package. For now I have suppressed the warnings using `@nowarn`.

[2021-03-05 23:30] joroKr21 commented on #1077
They do!

[2021-03-10 16:50] aesteve opened #1694 "Snake Case (or any Configuration-related problem) with Scala 3"
Hello, and thank you for all the effort you're putting in Circe, and Scala 3 migration.

I tried to measure the amount of effort needed to migrate one of my projects to Scala3.

I'm struggling a bit with JSON serialization since it involves snake_case transformations on case class attributes.
I used to use circe-generic-extras with ConfiguredJsonObject but I saw it will probably not be updated to

[2021-03-14 13:39] heksesang commented on #1694
You could use `mapJson` on a derived `Encoder` and run a snake_case transformation on each key in that `Json` object.

[2021-03-14 13:58] heksesang opened #1695 "Error message when deriving for List[A] in Scala 3 needs improvement"
Currently, when you try to either derive `Encoder[List[A]]` directly (by `deriveEncoder[List[A]]`) or indirectly (by deriving for a type that contains a `List[A]`) with semiauto and there doesn't exist an `Encoder[A]`, you get an error message that really isn't all that helpful:
[code]

The problem here is that the Scala 3 derivation code tries to auto-derive `Encoder[List[A]]` (which is insane) w

[2021-03-14 20:46] travisbrown commented on #1694
Right, I think unfortunately right now your best bet on Scala 3 is something like this (tested on Scala 3):

[code]

[2021-03-17 09:19] aesteve commented on #1694
Awesome detailed help.
Thank you!

[2021-03-17 09:19] #1694 closed

[2021-03-17 12:16] aesteve commented on #1694
I'm sorry I only exposed the Serialization issue although I obviously have deserialization ones.

Is there a way to "unsakify" with a derivedDecoder?

[2021-03-24 16:28] SethTisue commented on #1677
https://github.com/typelevel/literally ? (relaying a suggestion from Twitter)

[2021-03-25 21:57] cjaber opened #1697 "val in case class body not encoded"
Hello
When using generic or semi automatic derivation to encode a case class with a val in the body like in the following example:
[code]
I expect to have a json object with a bar field but this is not the case.
Maybe this is related to the https://github.com/circe/circe/issues/1406

[2021-03-26 09:22] travisbrown commented on #1697
This is out of scope for circe-generic, since it follows the generic encoding used by Shapeless, which does not include `val`s in case classes:

[code]

In general circe-generic follows Shapeless, which in this case means that it compiles even if the case class has `val`, but silently ignores them.

This functionality wouldn't necessarily be out of place in circe-generic-extras or circe-derivation

[2021-03-26 09:22] #1697 closed

[2021-04-06 09:00] aeons opened #1712 "Publish for 3.0.0-RC2"
Are there any dependencies blocking a publish of 0.14.0-M4 for 3.0.0-RC2?

[2021-04-06 09:39] travisbrown commented on #1712
I don't think so. I can plan to publish a release for 3.0.0-RC2 this evening (although it'll need to be M5, since there are some necessary patch version bumps since M4, and I want to avoid differing dependency versions across Scala version artifacts).

[2021-04-06 10:32] aeons commented on #1712
Sounds good to me.

[2021-04-06 20:52] #1679 closed

[2021-04-07 06:48] b0l0k opened #1714 "Add BigInt support"
Hi,

After some research, it seems that the current implementation of BigInt encoding/decoding doesn't support the (future) BigInt JS type: https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/BigInt

Could you confirm that my understanding is correct? Is there a development planned on that?

[2021-04-07 08:00] travisbrown commented on #1714
I don't see that as in scope for Circe, which aims to provide identical behavior across platforms (in most cases) with as little platform-specific code as possible. I don't know whether it would be in scope for Scala.js (in general I don't know anything about Scala.js), but if Scala.js used this `BigInt` in its implementation of `scala.BigInt`, Circe would benefit from that.

If Scala.js doesn't p

[2021-04-07 11:29] vbouzon commented on #1714
@travisbrown I'm not sure to follow your answer, I think I was not clear. My question was more about the encoding of `scala.Bigint` and its representation in Json.

For now, a BigInt with Circe is encoded as simple number:
`case class MyClass(value: BigInt)`
will give
`{ value: 10000000000000000 }`
but with this new type, that should be:
`{ value: 10000000000000000n }``

[2021-04-07 12:36] travisbrown commented on #1714
Oh, sorry, I misunderstood, I thought you meant working with this `BigInt` type via Scala.js.

We don't currently have any support for non-JSON JavaScript syntax or any other non-JSON encodings, except via integration modules like circe-bson. It shouldn't be _too_ hard to implement a printer on the model of projects like circe-bson that would output almost-JSON but with this syntax, but it doesn't

[2021-04-07 18:24] SethTisue commented on #1712
https://twitter.com/travisbrown/status/1379493859785388033

[2021-04-07 18:27] aeons commented on #1712
Yep, thanks!

[2021-04-07 18:27] #1712 closed

[2021-04-08 13:40] andimiller opened #1717 "Allow alternate implementation of `derives` syntax on scala 3"
Currently in the scala 3 builds, there is a `Decoder.derived[A]` on the companion object in core, while there aren't equivalents on `Encoder` or `Codec`.

Since people tend to have different opinions about how derivation should be configured, it would be good if `Decoder.derived[A]` were moved to allow different derivation frameworks to extend that method onto the companion object themselves.

I'v

[2021-04-17 09:58] dmitriibundin opened #1718 "Type inference problem with asJson syntax and wildcard type"
Here is an example:

[code]
This seems to be due to type-inference problem.  I could imagine a solution with `Scala 2` macro since we have `WeakTypeTag` available at compile-time.

Could we consider to adapt `asJson` syntax for wildcard types?

[2021-04-17 23:06] nightscape commented on #1712
@travisbrown it seems that `circe-generic` was cross-published to Scala 3.0.0-M3 for ScalaJS at version 0.14.0-M3, but it doesn't seem to be for 3.0.0-RC2 at version 0.14.0-M5.
https://search.maven.org/search?q=g:io.circe%20AND%20a:circe-generic_sjs1_*
Is this an oversight, or did something break in between that needs fixing before it can be published?
I'm asking because I'm trying to make `sttp-c

[2021-04-18 06:41] travisbrown commented on #1718
In my experience existential types like this are almost always a mistake, and to be honest thinking about the semantics of stuff like `Encoder[Info[_ <: SealedTrait]]` makes my head hurt—I know there's a `forSome` under the sugar somewhere but I don't remember the rules about how it's scoped. In particular something like this seems basically equivalent but less painful to think about, and the synt

[2021-04-18 06:51] travisbrown commented on #1717
You've confirmed that `derived` as an imported extension method supports the `derives` syntax in ADT definitions? If so I don't necessarily see a problem with requiring an import for `derives`.

(It's probably a bug that there aren't `derived` methods on `Encoder` or `Codec`, though. Maybe it's because they're on `Encoder.AsObject`, etc.? I haven't looked at this stuff in ages and don't remember.)

[2021-04-18 06:55] travisbrown commented on #1712
@nightscape This wasn't an oversight, there were just failures building or publishing several of the Scala.js modules for Scala 3, and I hadn't had time to investigate them. It looks like the circe-generic issue was fairly simple and should be resolved by #1720.

[2021-04-18 07:23] nightscape commented on #1712
@travisbrown ah, great! Then I'll wait for `0.14.0-M6` and continue my `sttp-circe` efforts then 👍

[2021-04-18 07:27] travisbrown commented on #1712
@nightscape I could publish an 0.14.0-M5 circe-generic_sjs specifically today. I wouldn't publish omitted modules separately like that for a proper release, but for a milestone I don't see a problem with it, since the change was only for a test dependency.

[2021-04-18 07:31] nightscape commented on #1712
That would be perfect! Thanks a lot!

[2021-04-18 10:05] travisbrown commented on #1712
@nightscape Okay, it's on its way to Maven Central. We exclude test dependencies from the POMs, so there shouldn't be any discrepancies from the JVM circe-generic 0.14.0-M5 even in the metadata.

[2021-04-20 07:37] nigredo-tori opened #1725 "None.type decoder is inconsistent with the Option decoder"
[With Circe 0.14.0-M5](https://scastie.scala-lang.org/WPVpHLc1Tpy3woTM5ZsG9Q):

[code]
`Decoder[Option[Int]]` overrides `tryDecode` and `tryDecodeAccumulating` to handle `FailedCursor`, but `Decoder[None.type]` does not.

[2021-04-20 07:43] travisbrown commented on #1725
Interesting, good catch. In general there's no guarantee that a decoder for a subtype has the same behavior as a supertype decoder for a value of the subtype (e.g. the default handling of sealed trait hierarchies in circe-generic), but in this case I don't think the difference is intended. I'd be happy to review a fix.

[2021-04-20 13:36] #1725 closed

[2021-04-21 07:39] heksesang commented on #1717
I have confirmed that extension methods can be used to enable the `derives` syntax (it's actually really useful for enabling `derives` syntax in cross-compiled projects).

This way we could avoid `given`-based configuration of the derivation – instead of looking for some `given`, circe should provide a method that allows you to create a configured method for derivation and then you can extend `Dec

[2021-05-10 17:50] SarpongAbasimi opened #1741 "Question - Encoder when fields types are Value classes."
Hello 😊 ,

I am a bit curious about this.
If I have

[code]

how do I manually create an Encoder for SampleTweet.( I know I can use `import io.circe.generic.auto._`)

I just want to know how this can be done manually.
[code]

thank you.

[2021-05-11 07:27] SarpongAbasimi commented on #1741
Thank you very much @gbogard 😊

[2021-05-11 07:28] #1741 closed

[2021-05-11 18:05] soujiro32167 opened #1743 "Runtime error when using Shapeless > 2.3.3"
I am getting a strange error at runtime, which I could not reproduce:

[code]

Here is the line:

[code]

This only happens when I upgraded a dependency that used shapeless 2.3.5 (2.3.4 gives the same results).

Scala version: 2.13.5
Circe version: 0.13.0

Please help

[2021-05-11 18:39] travisbrown commented on #1743
Have you tried Shapeless 2.3.6? It's possible that you're seeing [this issue](https://github.com/milessabin/shapeless/pull/1153). You might also try cleaning and rebuilding the module that contains these definitions after the upgrade.

[2021-05-12 06:17] travisbrown commented on #1743
If you can post a complete working example showing the issue, I can take a look, but I wasn't able to reproduce it given the code above.

[2021-05-13 17:08] SarpongAbasimi opened #1747 "422 (Unprocessable Entity)"
Hey 👋, I am having a little problem parsing this.

I have this json that I am getting from a server.
 Link `https://jsonplaceholder.typicode.com/users/1`

[code]

I have declared these types

[code]

When I make a request to the `jsonPlaceholderServer` I get this response

<img width="583" alt="Screenshot 2021-05-13 at 17 54 58" src="https://user-images.githubusercontent.com/37377831/118159859-78d

[2021-05-14 17:36] taig commented on #1747
The auto derived codecs for AnyVals don't behave the way you are expecting: https://scalafiddle.io/sf/AEERnbM/0

[2021-05-15 05:36] LBsh commented on #374
Hi,

recently while using the `withStrictDecoding` option I ran into a very interesting bug:

[code]

As one can see it doesn't seem to work well with defaults, as "b2" should be flagged as a wrong field here, but instead it reads "b2" as an instance of Foo with an empty list of int.

[2021-05-15 05:48] travisbrown commented on #374
@LBsh That does look like a bug, but I think the underlying issue is a problem in `withDefaults`, not `withStrictDecoding` (e.g. you can drop the `.withStrictDecoding` and try `decode[Foo]("1")`).

Would you mind opening an issue in the [circe-generic-extras](https://github.com/circe/circe-generic-extras) repo, which is maintained and versioned separately now?

[2021-05-15 19:21] armanbilge opened #1750 "Compile-time error when using Shapeless > 2.3.4"
[code]

See also #1743. Is there a reason that circe depends on an shapeless 2.3.3? 2.3.6 is binary compatible.

[2021-05-15 19:24] armanbilge commented on #1743
It looks like this issue may relate to macro derivation, which shapeless only just began guaranteeing binary compatibility for as of 2.3.6.

[2021-05-17 05:05] armanbilge commented on #1750
Fixed by shapeless 2.3.7 in https://github.com/milessabin/shapeless/pull/1162.

[2021-05-17 05:05] #1750 closed

[2021-05-17 05:12] armanbilge commented on #1743
Now that my project compiles on shapeless 2.3.7, I am getting a similar exception.

[code]

I'll try and put together a working example.

[2021-05-17 08:18] SarpongAbasimi commented on #1747
Thank you @taig .

[2021-05-17 08:18] #1747 closed

[2021-05-17 13:58] travisbrown opened #1754 "Planning for upcoming releases"
It's been 15 months since the [last (non-milestone) breaking Circe release](https://github.com/circe/circe/releases/tag/v0.13.0), and now that Scala 3 is out it seems like it's probably time to break stuff again.

My current plan is for 0.14.0 to be published soon (probably this week). It will be almost entirely binary-compatible with 0.13.x, with the main exception being some deprecated methods t

[2021-05-18 14:45] soujiro32167 commented on #1743
tried with 2.3.7, still same result; and, sadly, I cannot reproduce on Scastie...
N00b question: Is `sbt clean test` enough to do a clean rebuild?

[2021-05-19 08:33] adpi2 commented on #1754
Thanks @travisbrown for sharing the planning. I noticed that `0.14.0-M7` has not been released for Scala.js with Scala 3. Is there any specific reason why?

[2021-05-19 09:15] travisbrown commented on #1754
@adpi2 Which modules are you missing in 0.14.0-M7? They all should be there except for the four that are specifically mentioned in the [release notes](https://github.com/circe/circe/releases/tag/v0.14.0-M7) as not being published for Scala 3 on Scala.js (circe-extras, circe-generic, circe-refined, and circe-scodec).

The issue was that I didn't want to wait for a Scala 3.0.0 release for scala-java

[2021-05-19 11:06] adpi2 commented on #1754
Thanks for the quick reply. I was indeed looking for circe-generic.

[2021-05-19 18:31] ghostbuster91 opened #1756 "match may not be exhaustive"
Hi,

I am not sure whether it is a bug, but for sure it's quite a surprising behavior.

There is an option in the configuration called `Configuration.default.withDefaults` which allows for the derivation of non-case classes based on the fields they specify.

When combined with the following scalac options:`-Xlint:strict-unsealed-patmat` and `-Wconf:cat=other-match-analysis:error` it causes compila

[2021-05-23 07:43] catchergeese commented on #1754
Thank you @travisbrown for the plan!

I have a question regarding `circe-optics` (I hope it's fine to post it here).

Circe-optic's latest version is 0.13.0 - with support up to Scala 2.13. Are there any plans of migrating/publishing 0.14.x version with Scala 3 support anytime soon?

[2021-05-23 09:02] travisbrown commented on #1754
@catchergeese Yes, there will be 0.14.0 releases of all Circe projects once 0.14.0 is out for this repo, although the process is likely to happen lazily.

In the meantime it _should_ be safe to use circe-optics 0.13.0 with any 0.14.0 milestone, since the points of binary incompatibility are limited to some previously deprecated methods, etc. (I have confirmed that all circe-optics tests pass with

[2021-05-23 09:07] travisbrown commented on #1756
Thanks for the report! circe-generic-extras is maintained [in a separate repo](https://github.com/circe/circe-generic-extras), though, so it'd probably be best to open this issue there.

[2021-05-23 09:31] travisbrown commented on #1754
@catchergeese About the question of Scala 3 support for circe-optics: I don't have any idea what the plan is for the timing of Monocle 3.0.0, and it depends largely on that. I think it's most likely that we'll need to publish 0.14.0 for Monocle 2.x and then as soon as someone wants to open a PR with Monocle 3.0.0-Mx support we can start publishing 0.15.0 milestones.

[2021-05-23 10:59] ghostbuster91 commented on #1756
Ok, I will move it there, thanks!

[2021-05-23 10:59] #1756 closed

[2021-05-23 13:42] etspaceman commented on #1754
@travisbrown please consider supporting Scala 2.12 for a longer period of time. Spark is currently only offered in Scala 2.12, and removing support for this version means all Spark users would be unable to update Circe.

[2021-05-23 19:54] catchergeese opened #1760 "Encoder derivation fails for deeply nested classes"
I encountered what looks like a bug in circe `0.14.0-M7` and Scala `3.0.0`. Right now, I cannot come up what exactly breaks the derivation but my assumption is that breaks when class structure is slightly nested - so that more derivations need to be generated.

[code]

Derivation for `Seq[Foo]` is already mentioned [here](https://github.com/circe/circe/issues/1695).

[2021-05-24 09:16] tuures opened #1762 "Disabling fallback to default codec in `@JsonCodec` when custom codec is missing"
In other words I'd like to have some way to either allow-list or deny-list the default codecs for `@JsonCodec`.

**Use case example:** I want to provide my own codec for `Instant`, and get a compiler error (for missing implicit value) if my own codec is not properly imported. At the same time I want utilise the other default codecs. Right now if the custom codec import is missing, circe just uses

[2021-05-24 19:27] mackler commented on #1760
Maybe I'm way off, but I was just noticing that `Decoder` extends `DecoderDerivation` but `Encoder` does *not* extend `EncoderDerivation`.  Could that be related to this problem?

[2021-05-25 07:57] travisbrown commented on #1754
@etspaceman 0.15.0 probably won't drop 2.12 (I'd only consider it if it turns out to make the macro situation in circe-generic and the literal modules much easier). Even if it does, that probably won't happen for a few months, so getting close to five years after 2.12.0 was released. The 0.15.0 release is also unlikely to add many significant new features or changes, apart from the error represent

[2021-05-25 19:19] etspaceman commented on #1754
I'm glad to hear you are keeping 2.12 around for 0.15.0 😄 .

We're just heavy users of Circe at our company as well as Spark/Flink, so being unable to upgrade Circe (and thus most of the Typelevel ecosystem) is a pretty big issue for us 😅 . We _just_ got AWS support for 2.12 Flink, no more than 5 months ago.

[2021-05-26 15:31] catostrophe opened #1766 "Bincompat issues because of dependency on shapeless 2.3.6"
Shapeless 2.3.6 introduced a bincompat issue described here:
https://github.com/milessabin/shapeless/pull/1158#issuecomment-838071648

The following release 2.3.7 fixed it via https://github.com/milessabin/shapeless/pull/1162

Circe 0.14 depends on shapeless 2.3.6.

Having shapeless 2.3.7 in classpath leads to a compiletime error:
[code]

`circe-generic` can't work with shapeless 2.3.7+

cc @joroK

[2021-05-26 15:37] catostrophe commented on #1766
All circe modules dependent on shapeless should be updated and re-released :(

[2021-05-26 15:46] travisbrown commented on #1766
Ugh, this is a reminder that I probably rely on Scala Steward a little too heavily.

Are people actually confident that Shapeless 2.3.7 fixes this problem? I thought I remembered hearing the same thing about 2.3.6. I haven't been following it at all and don't want to redo more releases than I have to.

[2021-05-26 15:47] catostrophe commented on #1766
Modules dependent on shapeless that may be affected:

* inner modules:
 -`circe-generic`
 -`circe-generic-simple`
 -`circe-literal`

* external repos:
  -`circe-generic-extras`

[2021-05-26 15:51] plokhotnyuk commented on #1766
Sorry, it was my PR for updating to 2.3.6 because other transitive dependencies already depend on shapeless 2.3.6:
[code]

[2021-05-26 15:51] travisbrown commented on #1766
@catostrophe I get complaints when I try to decouple versions for the core modules, so I'll just do a general 0.14.1 if we're sure this will fix the problem. (Also circe-literal only has a test dependency on Shapeless, so it should be fine.)

[2021-05-26 15:52] catostrophe commented on #1766
@joroKr21 reverted the breaking change and released it in 2.3.7.
The original issues can't be detected with MiMa unfortunately.

I, as one who discovered the issue with circe 0.13 and shapeless 2.3.6, can confirm that it works with circe 0.13 and shapeless 2.3.7.

[2021-05-26 15:55] plokhotnyuk commented on #1766
Shouldn't we wait for a new release of `refined` to avoid bincompat issues with other users of `refined`?

https://github.com/fthomas/refined/compare/v0.9.25...master

[2021-05-26 15:55] catostrophe commented on #1766
Also it was mention in https://github.com/circe/circe/issues/1750

[2021-05-26 15:59] travisbrown commented on #1766
@plokhotnyuk My understanding of the issue here is that when Refined publishes a 0.9.26 release with Shapeless 2.3.7 that should work fine with circe-refined 0.14.1, since we don't rely on any of the Shapeless-powered macros in the circe-refined implementation. Users will just have to specify the new Refined version explicitly instead of letting 0.9.25 get pulled in transitively, which is fine wit

[2021-05-26 16:03] joroKr21 commented on #1766
FTR that's not exactly a binary compatibility issue. It's pickling issue, meaning that either it will:
 1. Not compile when mismatching versions of `Tupler`, `FnFromProduct` or `FnToProduct` are used
 2. Compile and work fine at runtime (since the type aliases are erased)

I couldn't find any usage of those in `refined` so it should be fine either way.

[2021-05-26 16:37] catostrophe commented on #1766
Yes, sorry for the wrong title. Anyway, it's a blocking issue.

[2021-05-26 17:32] travisbrown commented on #1766
Done! https://github.com/circe/circe/releases/tag/v0.14.1

[2021-05-26 17:32] #1766 closed

[2021-05-26 18:32] travisbrown commented on #1766
Also did circe-generic-extras: https://github.com/circe/circe-generic-extras/releases/tag/v0.14.1

[2021-05-30 08:51] xuwei-k commented on #1760
try

[code]

[2021-05-31 16:40] felixbr commented on #1717
I just tested that `derives Encoder.AsObject` does indeed work. A bit confusing but still awesome 🙌

Example: https://scastie.scala-lang.org/DOFqYNQATtOBADYQriVwIg

[2021-06-01 06:40] javierarrieta commented on #1754
Sorry if this has been discussed elsewhere. What are the plans for `generic-extras` and Scala 3? We are starting to support Scala 3 in our projects but a core component is `circe-generic-extras` as we use snake case attribute names in json.

[2021-06-01 10:52] vbmacher opened #1774 "Decoding fields with common prefix and dash does not work"
Hello,
I've run into peculiar issue. Imagine the following code:

[code]

When running this, I got the following exception (the code was run in scala-test so line numbers don't fit):

[code]

The problem is when there are fields with common prefix and the suffix of the longer one starts with dash. This means, for example, that if we had these case classes:

[code]

(note field `aha` without dash)

[2021-06-01 10:52] vbmacher commented on #1774
Also, plain `case class B(`a-ha`: String)` works well

[2021-06-01 11:10] travisbrown commented on #1774
@vbmacher What versions (Scala, Circe, Shapeless) are you using? This looks similar to #665, which is due to a bug in the compiler that should be fixed in the latest 2.13 (I have no idea whether the fix has been or will be backported for 2.12).

[2021-06-01 11:16] vbmacher commented on #1774
Oh I see. It could be it... I use:
- Scala 2.12.12
- circe 0.13.0
- shapeless the one embedded in circe: 2.3.4

I will try it with Scala 2.13 and let you know.

[2021-06-01 11:21] travisbrown commented on #1774
I just checked a REPL and I can reproduce it with 2.12.13 but not 2.12.14, so you might just try updating to that.

[2021-06-01 11:22] vbmacher commented on #1774
Cool! That would save me lot of time. Thanks a lot!

[2021-06-01 11:29] vbmacher commented on #1774
It works, thanks again. I suggest to close the ticket now..

[2021-06-01 11:29] #1774 closed

[2021-06-01 11:30] travisbrown commented on #1774
Sure! Thanks for reminding me of this ridiculous bug. :)

[2021-06-03 09:23] hejfelix opened #1776 "generic.auto doesn't work when used to derive another typeclass"
I am adding circe support to a project like so:

[code]

The idea is, when this given is in scope, and instances to encode and decode T are in scope, circe support should work in a transparent way.
In an application, I am using this function:

[code]

I attempt to use it like so:

[code]

but it fails with this error

[code]

If I specify the type, it does indeed work

[2021-06-03 09:39] travisbrown commented on #1776
Thanks. I can try to look at this if you can provide a complete example (preferably Scala 2, since the mechanism is different and Scala 3 support for circe-generic is experimental).

[2021-06-03 15:46] grzegorz-bielski opened #1777 "Discriminant configuration for Scala 3's `derives` syntax"
Hi!

It'd be useful to have a way of configuring how `Encoder` works for ADTs in Scala 3, in particular with the `derives` syntax.

I have an ADT like this:
[code]
which produces a JSON like this:
[code]
however, I'd like to have an output like this:
[code]
or like this:
[code]

From my understanding, this is not possible with the current mechanism so my fallback solution is a custom  ` given Enco

[2021-06-04 07:26] hejfelix commented on #1776
Seems to not be a problem in 2 -- didn't know auto was experimental in 3, though :)

[2021-06-05 11:04] heksesang commented on #1777
Hopefully it will be possible to get a configurable derivation in `circe-core` that does not depend on `given`s in Scala 3.

My suggestion is to implement the derivation in forms of traits that allow you to configure an object which exposes an extension method for `Codec`, `Decoder` and `Encoder`.

Simple conceptual illustration:
[code]

[2021-06-06 14:07] markoboger opened #1778 "Circe does not compile with some scalaOptions set"
Hi, I tried to get parsing Json data to Scala 3 to run and hit a problem. It did not compile. Eventually I tried to just copy the example from the documentation:
[code]

This resulted in the exact same error:
[code]
The solution was to remove a few flags from my settings in sbt.build, which I had inherited from a giter8 seed by devInsideYou. Removing the flags "-Yexplicit-nulls", and "-Ysafe-init"

[2021-06-10 01:16] Kevin-Lee opened #1780 "Styling in the Circe doc site is broken"
# Summary
Styling in the Circe doc site is broken. I think it's been broken for a couple of weeks.

## Details
When I access https://circe.github.io/circe, I get the site looks like
![Screen Shot 2021-06-10 at 11 07 53 am](https://user-images.githubusercontent.com/2307335/121449258-c92ba180-c9dc-11eb-9841-56b6ba7716c3.png)
***
![Screen Shot 2021-06-10 at 11 08 10 am](https://user-images.githubuser

[2021-06-10 05:27] travisbrown commented on #1780
I've been meaning to look at this but haven't had time. If anyone can help I'd appreciate it.

[2021-06-10 05:40] Kevin-Lee commented on #1780
Ah... Ok. Let me try tonight (in Sydney AU time).

[2021-06-10 13:25] Kevin-Lee commented on #1780
@travisbrown `css` folder is missing on the `gh-pages` branch so I guess the css files were not pushed to the branch somehow.
How does circe publish the doc site? I don't see any doc site publishing script or config in GitHub Actions settings.
Is it done by a manual push from someone's local machine? If so, I don't have permission to do it.

Do you mind if I add GitHub Actions workflow to publish

[2021-06-10 13:44] travisbrown commented on #1780
@Kevin-Lee The publishing is done by sbt-ghpages, which is a dependency of sbt-microsites. I run `sbt docs/clean`, `sbt docs/makeMicrosite`, and `sbt docs/ghpagesPushSite` manually after each release.

How are you getting that result? When I run the commands above locally `docs/target/site/` is indeed missing the `css` directory.

I'm inclined not to publish on every merge to `main` because in the

[2021-06-10 13:45] travisbrown commented on #1780
(@Kevin-Lee, thanks for looking into this, by the way.)

[2021-06-10 14:00] travisbrown commented on #1780
@Kevin-Lee Oh, I think this might be the issue: https://47degrees.github.io/sbt-microsites/docs/troubleshooting/

[2021-06-10 14:07] Kevin-Lee commented on #1780
@travisbrown This is what I did. It's the separate workflow for doc site build and publish.
https://github.com/Kevin-Lee/circe/blob/46573681a8fdb901294e6af9d75b9f4450bf4d4c/.github/workflows/docs.yml#L51

At first I did `docs/publishMicrosite` to publish but [it failed](https://github.com/Kevin-Lee/circe/runs/2793337860?check_suite_focus=true#step:7:207) as I don't have permission to publish it to

[2021-06-10 14:10] travisbrown commented on #1780
I think updating my local Jekyll will fix it (I'm trying now). It'd be great to have an easy way to push to a branch and have it publish from there, though.

[2021-06-10 14:38] Kevin-Lee commented on #1780
@travisbrown Sorry it's over midnight here in Sydney so I need to go to bed, so I left the PR with the GitHub Actions workflows I talked about. I don't mind declining it. 🙂

The manual build+publish would look like this.
<img width="934" alt="Screen Shot 2021-06-11 at 12 37 15 am" src="https://user-images.githubusercontent.com/2307335/121544780-50186280-ca4d-11eb-8b9d-b824c859f935.png">

[2021-06-10 14:43] travisbrown commented on #1780
@Kevin-Lee Thanks again very much! Will get it merged as soon as possible.

[2021-06-11 01:04] Kevin-Lee commented on #1780
@travisbrown Thanks! Again, as I said, if you don't need / want / like it, it doesn't have to be merged. I think it's certainly convenient and also saves time, but it's up to you. I think you're busy with many other projects so I don't want to add one more issue.

By the way, if there are any issues related to GitHub Actions and if I can help, I'm happy to.

Thanks for fixing the styling. It's fin

[2021-06-24 11:22] marko-asplund commented on #1754
Any news on Circe Scala 3 support?

[2021-06-27 17:21] barnardb opened #1786 "`derives Decoder` and `derives Codec.AsObject` fail with -Yexplicit-nulls compiler option"
Scala version 3.0.0
Circe version 0.14.1

When the `-Yexplicit-nulls` compiler flag is enabled, `Decoder` derivations like the following fail to compile:
[code]

I get the following as the first error:
[code]

As one might expect with the derivation for `Decoder` not working, the following `Codec.AsObject` derivation also fails:
[code]

## Background

Scala 3 has a [`-Yexplicit-nulls` compiler opt

[2021-06-27 17:52] barnardb commented on #1786
It looks like the fix might be as simple as changing lines [77](https://github.com/circe/circe/blob/v0.14.1/modules/core/shared/src/main/scala-3/io/circe/Derivation.scala#L77) and [160](https://github.com/circe/circe/blob/v0.14.1/modules/core/shared/src/main/scala-3/io/circe/Derivation.scala#L160) of Derivation.scala from
[code]
to
[code]

I'd be happy to make a pull request. I'm not sure about ho

[2021-06-29 07:35] majk-p opened #1787 "Publish `versionScheme`"
In 1.5.0 sbt has [introduced eviction errors](https://scala-lang.org/blog/2021/02/16/preventing-version-conflicts-with-versionscheme.html). It would be nice if circe could publish `versionScheme` to fail builds when incompatible circe versions are present in dependencies.

Can we set `versionScheme` to `early-semver` for circe?

I'd be glad to make a PR if needed.

[2021-07-02 14:58] Lasering commented on #1777
The renaming from circe-derivation could also be implemented in the Encoder/Decoder derivation using a `given` configuration class.

[2021-07-07 17:47] FabioPinheiro commented on #1760
What is the status of this regression?

I got another example of this.
It it possible that the macro is on an infinite loop?

https://scastie.scala-lang.org/QW1xKhv7QHWQBAzH3HQt5g
[code]

[2021-07-07 18:34] travisbrown commented on #1760
@FabioPinheiro As far as I know there's no regression here—this is a known issue with circe-generic's fully automatic derivation on Scala 3 (see e.g. [https://github.com/circe/circe/releases/tag/v0.14.0](here): "fully-automatic derivation does not currently support recursive case classes").

There's no timeline for this to be fixed. A fix is likely to fall out naturally from other planned improvem

[2021-07-07 22:48] FabioPinheiro commented on #1760
Thanks for the update @travisbrown

[2021-07-07 23:13] xuwei-k commented on #1760
https://github.com/argonaut-io/argonaut/commit/ae11983a34986b9d9273295aad9c09a7079f95f0
Scala 3 recursive case classes example in anothoer json library

[2021-07-22 07:59] djx314 opened #1798 "New function request."
Years ago, I wrote a circe debug tool [ohNoMyCirce](https://github.com/djx314/ohNoMyCirce). Now I rewrite it with shapeless and implicit. No macro dependencies and can use it to debug many type class generic library. I think it's mature enough to use for everyone.
But now I will no longer maintain ohNoMyCirce. So ask for embed it to circe itself. But no matter what, I will redesign the compile tim

[2021-07-22 10:12] deadshot465 opened #1799 "package io.circe.generic contains object and package with same name: auto one of them needs to be removed from classpath"
When trying to use circe with Scala 3 and importing `deriveEncoder` and `deriveDecoder`, both IntelliJ IDEA and VSCode's Metal extension show the following error:
[code]
This makes compiling impossible. Reading other issues in this repo, I figure that generic support for Scala 3 is still experimental. Is that what caused such error?
![Xnip2021-07-22_19-09-20](https://user-images.githubusercontent.

[2021-07-22 13:16] travisbrown commented on #1798
Thanks! I'd be happy for it to move into the Circe organization on GitHub, but I'd still like to have another person committed to maintenance.

[2021-07-23 02:56] djx314 commented on #1798
I can take on coding and write the documentation. But my english is bad and I can't surf some website. So I need someone to fix my documentation and help to push the jar to maven.

[2021-07-23 20:55] Lasering commented on #1777
I have a working implementation, supporting `transformNames`, `useDefaults`, and `discriminator`.

The `useDefaults` is the tricky one, see https://stackoverflow.com/questions/68421043/type-class-derivation-accessing-default-values. It requires the compiler flag `-Yretain-trees` in the build file of the users.

I can make a PR. I just need to know how to compile code in `modules/core/shared/src/ma

[2021-07-30 19:35] beneyal opened #1801 "Circe fails to decode recursive structure when running with Scala 3"
Hi everyone,

I'm trying to decode a (faily strange) JSON encoding of SQL queries. The `Sql` case class has three points of potential recursion, all of them are `Option[Sql]`, and in most cases, will be `None`, so the recursion should reach a base case rather quickly.

In Scala 3, trying to deocde `Sql` with those three `Option[Sql]` values causes the program to hang (no output at all, just hangs)

[2021-07-31 08:04] vaxilicaihouxian opened #1802 "How to use circe in idea with maven pom.xml?"
Here is my pom.xml:
[code]
and I follow the example like this :
![image](https://user-images.githubusercontent.com/8603593/127733404-ac6b46ba-b0b6-4f33-8cb4-3b5df84ae8c2.png)

but I got this:
![image](https://user-images.githubusercontent.com/8603593/127733411-45bac43a-7c77-426a-b26d-6d7c5dfabb74.png)

[2021-07-31 08:58] travisbrown commented on #1802
At a glance it looks like the problem is that you're mixing Scala 2 and 3. I'd suggest replacing `circe-generic_3`, etc. with `circe-generic_2.12` to match the other Scala dependencies.

[2021-08-08 14:58] Lasering opened #1804 "Helper functions to decode/encode Map from/to array"
Sometimes it is very useful to decode an array of objects with two fields as a Map:

[code]
To
[code]

However there isn't any decoder/encoder to help us decoding from an array of object to a map. I suggest the following:

[code]

Sometimes the json is slightly different, we have a field for the key and the rest of the json object as the value:

[code]
[code]

I suggest adding the following:

[cod

[2021-08-08 19:18] #1780 closed

[2021-08-08 19:41] SarpongAbasimi opened #1806 "Encoding value classes and mapping type fields to snakeCase"
Hey, please I came across something today that I am not sure how to get around.
Out of curiosity how will this be implemented?. The `implicit val config: Configuration = Configuration.default....` works fine when there isn't an implicit `deriveUnwrappedEncoder`.

[code]

![JTyFSYOn jpg-medium](https://user-images.githubusercontent.com/37377831/128643698-d58c87f6-39a6-46f9-879f-ca6886735627.jpeg)

[2021-08-08 19:44] SarpongAbasimi commented on #1806
I also came across this during the process of exploring.
I am guessing something needs to be enabled for this to compile.

<img width="1439" alt="Screenshot 2021-08-08 at 14 01 05" src="https://user-images.githubusercontent.com/37377831/128643862-3a65eef2-c62e-4f74-8f48-9a335d9b4d3c.png">

[2021-08-08 19:49] travisbrown commented on #1806
The issue is probably that you don't have an implicit configuration in scope for the `FooBar` encoder derivation? If that doesn't resolve it, it'd be best to open this issue over at the [circe-generic-extras](https://github.com/circe/circe-generic-extras) repo.

[2021-08-08 19:58] SarpongAbasimi commented on #1806
thanks @travisbrown , I just added a configuration for the `FooBar` encoder derivation but that didn't solve it.
I will raise an issue at the `circe-generic-extras` repo.

[2021-08-10 08:37] #1806 closed

[2021-08-16 08:22] travisbrown commented on #1754
@marko-asplund @javierarrieta There's currently work on supporting a subset of the configuration options provided by circe-generic-extras in #1800 by @Lasering. I'm hoping to publish an 0.15.0 milestone including those changes in the next week.

It's unlikely there will ever be a single 2 / 3 source-compatible version of circe-generic-extras unless someone contributes it or funds it.

[2021-08-16 09:14] javierarrieta commented on #1754
Hi @travisbrown thanks for the reference, I hadn't seen that PR, I will take a look to plan how to support that internally and if possible contribute how we are supporting it for 2/3 (maybe providing the source compatibility but cannot say I will because I need to figure that out)

[2021-08-18 10:11] skestle opened #1810 "Circe fails exhaustiveness checks for scala 2.13.4"
I've upgraded to scala 2.13.4 (to get better exhaustiveness checks when using pattern matching guards) and now a case class is no longer able to be encoded or decoded (using the generic.auto functionality)

I thought initially that it was because the sealed trait heirachy was too deep and wide, but even the following fails:
[code]
with
`match may not be exhaustive. It would fail on the following i

[2021-08-18 10:13] skestle commented on #1810
Upgrade to 2.13.5+ :).
I couldn't find an issue, so I thought it best to raise one here so that the next searcher can find the solution

[2021-08-18 10:13] #1810 closed

[2021-08-24 13:49] nartamonov opened #1813 "Can't pattern match Decoders within for-expressions with Scala 3"
Since `Decoder`s don't support `withFilter` operation, the following code isn't compiled by Scala 3 because of error `value withFilter is not a member of io.circe.Decoder[(message_store.UserId, record_viewings.VideoId)]`:

[code]

In Scala 2 this issue was solved by [better-monadic-for](https://github.com/oleg-py/better-monadic-for) plugin, but its author isn't planning to rewrite it for Scala 3.

[2021-08-24 14:37] travisbrown commented on #1813
I don't have a strong opinion about this. In general I've tried to avoid adding pieces that require arbitrary decisions or additions, but otherwise there's no real reason not to have a `withFilter` with some special `DecodingFailure`.

Personally I don't think `for`-comprehensions are generally the best way to compose decoders. It's relatively rare to have real data dependencies between decoding o

[2021-09-01 08:05] mygoalistokillbill opened #1820 "Easy way to map between snake_case and camelCase"
By default automatic derivation works like
[code]
Is there a way to do something like
[code]
but without annotations

[2021-09-01 14:36] mygoalistokillbill commented on #1820
I came up with
[code]
Also if forProductN methods would be reversed I could do even better way

[code]
for big number of field last is a lot more convenient

[2021-09-08 12:39] Lasering commented on #1820
Look at circe-derivation or circe-generic-extras. Or wait for PR #1800 to be merged and derive the encoders/decoders/codecs directly using Scala 3

[2021-09-20 17:51] esuntag opened #1829 "Scala 3 runtime lock with derives syntax and opaque types"
I've encountered an interesting bug resulting in the main thread locking up during runtime with derived codecs involving an opaque type. The following code compiles fine, but when run causes the application to freeze. I'm not entirely sure if this a Circe bug or a Scala bug.

[code]

[2021-09-24 07:53] AL333Z commented on #1754
Hi @travisbrown, any chance to have a v0.15.0-M2 with #1617 ?
Would love to start using it :)
Thanks

[2021-10-04 22:27] ShapelessCat opened #1836 "Broken link to generic-extras in the generated API document"
https://github.com/circe/circe/blob/master/modules/core/shared/src/main/scala/io/circe/package.scala

[code]
I guess this is because of #1254.

[2021-10-05 08:36] travisbrown commented on #1836
Ah, good catch. Happy to merge a fix.

[2021-10-05 23:08] ShapelessCat commented on #1836
@travisbrown Yes. I want to push the fix, but I don't know what is the right link.

[2021-10-12 13:46] brendanmaguire commented on #784
I will close this due to lack of activity. Someone can comment to reopen if required.

[2021-10-12 13:46] #784 closed

[2021-10-18 11:33] kell18 opened #1841 "Stack traces for DecodingFailure"
Hi, is there a way to show stack trace for a DecodingFailure? For example, my app is making a few requests to different services and if one of them is failing I don't even know where exactly it happened, it's just some JSON  and cryptic `DecodingFailure(C[A], List()))`
Thanks!

[2021-11-13 10:32] LLCampos opened #1853 "Contributing URL is broken"
https://circe.github.io/circe/contributing.html -> returns 404

![image](https://user-images.githubusercontent.com/12008784/141615291-ad022f95-af76-4446-8e60-15944ac4139a.png)

[2021-11-16 01:20] ktonga commented on #1829
Ohh, I was so bitten by this too! I was blaming it on Cats Effect and Tapir, I never thought of a JSON encoder as the cause for a thread lock, but after a lot of experimentation I came to the same conclusion as you did, was going to report it when I found you already did. Cheers.

[2021-11-16 01:50] s5bug commented on #1829
This is neither a circe nor a Scala bug.

Consider:
[code]

[2021-11-16 02:03] ktonga commented on #1829
Ouch. You're right, I just expect any issue related to derivation to occur at compile time, but this one is tricky.

[2021-11-16 09:36] sideeffffect commented on #1077
FYI, Scala Native support has been merged to jawn https://github.com/typelevel/jawn/pull/340

[2021-11-19 23:07] #1853 closed

[2021-11-19 23:33] zmccoy commented on #1836
Hi @ShapelessCat the link to use would be https://github.com/circe/circe-generic-extras.  If you'd like to update that I'd be happy to merge it.  I can also get that done if not.  Thank you for bringing this up!

[2021-11-20 00:05] zarthross commented on #1853
@LLCampos Thank you.  This is fixed now.

[2021-11-20 16:34] ShapelessCat commented on #1836
Hi @zmccoy I'll do it soon. Thanks!

[2021-11-20 19:04] zmccoy commented on #1836
@ShapelessCat Awesome, thank you :)

[2021-11-30 21:50] #1836 closed

[2021-12-02 21:58] gatear commented on #1074
@Slakah have you attempted to fix it ?
I would like to try to solve this bug, if it still exists.

[2021-12-02 23:18] Slakah commented on #1074
@gatear nah not done anything towards this, feel free to raise a PR.

[2021-12-06 10:07] NthPortal commented on #1829
Incidentally, you don't want to be calling the `self` method on `Int` (your `_` in this case)—it's an accidentally exposed part of `RichInt` that refers to the `Int` that the value class wraps.

[2021-12-09 15:42] armanbilge commented on #1677
I think you "closed" this as of https://github.com/circe/circe/pull/1874, but not in the spirit of this issue:

[2021-12-13 14:42] #1677 closed

[2021-12-13 22:49] zarthross commented on #1813
In Scala 3, you can add the compiler flag `-source:future` and then the code example above compiles.

[2021-12-13 22:49] #1813 closed

[2022-01-06 15:48] ChristopherDavenport commented on #304
Put out something fairly straightforward to help with this. I want to get it into circe, but I couldn't figure out how to single pass without breaking compatibility.

Should have the semantics outlined here.

https://github.com/davenverse/patchy

[2022-01-13 17:41] praateekmahajan opened #1903 "Map[Boolean, T] fails to encode with 'could not find Lazy implicit value of type DerivedAsObjectEncoder[Foo]'"
## Build Details
Circe : 0.14.0-M1
Scala : 2.12.10

### Problem

If there is a case class, with an element that is a `Map` where key is `Boolean`, the encoding fails with an unclear error message
[code]

### Code
[code]

### Scastie link

https://scastie.scala-lang.org/0PSRfw5JRASQGBEcHyWAhA

### Question

I'm wondering if this is intended behavior and if so, is there scope of improving the error

[2022-01-14 18:19] zmccoy commented on #1903
This is because of a missing `KeyEncoder` for Boolean.  The message is a bit unclear because of how Shapeless ends up working.  Something like https://scastie.scala-lang.org/eMvYNqaxSaW5yjsKU4M4uA would make it compile.  Circe provides some instances for keys that would be used here https://github.com/circe/circe/blob/main/modules/core/shared/src/main/scala/io/circe/KeyEncoder.scala.

This is curr

[2022-01-14 18:46] praateekmahajan commented on #1903
Makes sense, thanks for sharing the scalstie link, wondering why does the current `KeyEncoder.scala` not have an encoder for `Boolean`, given we have for other primitive data types (Int, Long etc) as well.

[2022-01-14 18:55] zmccoy commented on #1903
Boolean isn't a very common key for a Map.  A lot of representations would be in my opinion easier with a case class that held two optional values or some other encoding of logic.

[2022-01-14 20:03] praateekmahajan commented on #1903
Thank you for engaging in the conversation, I agree it's not common and could be better defined in a case class with two values.

For my understanding, would there be a reason to not add the Boolean encoder to `KeyEncoder`? Not common is a good reason that it isn't already there but wondering if it's a good enough reason to not include it further (assuming the time to create and merge the PR is fr

[2022-01-14 21:34] zarthross commented on #1903
@praateekmahajan I think the problem with us implementing a `Boolean` `KeyEncoder` or `KeyDecoder` is going to be choosing a canonical representation.  For all the key encoder/decoders so far there is a very clear representation to choose, including URI and UUID.  But for boolean, do we go with `TRUE`, `true`, `True`, or `1`?  We cannot choose all of them, because you could have multiple of those

[2022-01-14 21:34] #1903 closed

[2022-01-17 16:41] SemanticBeeng commented on #1222
If `avro` schema can be used instead then one can use `mu-scala` / `mu-rpc`

[Generating sources from Avro](https://higherkindness.io/mu-scala/guides/generate-sources-from-avro)
`sbt-mu-srcgen` : https://github.com/higherkindness/sbt-mu-srcgen

[2022-01-23 22:36] jmcclell opened #1910 "Autoderivation Failing with Scala 3.1: method derived is declared as erased, but is in fact used"
I've run into what appears to be an edge case and I'm having a very difficult time understanding the root cause.

Here is a repo containing the minimal use case that fails to compile: https://github.com/jmcclell/circe-scala3-autoderivation-testcase

In short, this particular arrangement of case class "shape" causes failure with auto-derivation. However, re-arranging certain argument orders within

[2022-01-24 15:49] zmccoy opened #1911 "io.circe.NoSpacesSortKeysPrinterSuite flakey spec"
On the JS run this test was seen failing.  I haven't looked into it to se if it's related to JS or affects all and is just a good input to see a failure.

`==> X io.circe.NoSpacesSortKeysPrinterSuite.Printer with sortKeys should sort the object keys 0.26s munit.FailException: /home/runner/work/circe/circe/modules/tests/shared/src/test/scala/io/circe/SortedKeysSuite.scala:30 assertion failed
29:

[2022-01-25 17:43] ruioliveiras commented on #726
After some trouble with the same issue discribed here, i found the sollution.
`import io.circe.generic.semiauto._`  !=
`import io.circe.generic.extras.semiauto._`

Example if you want to use:
`implicit lazy val config: Configuration = Configuration.default
    .withDiscriminator("type")`

You must import `import io.circe.generic.**extras**.semiauto._`
and use it like this: `implicit lazy val codec

[2022-01-26 19:01] AlexITC commented on #1910
I hit the same problem, there is a workaround in https://github.com/lampepfl/dotty/issues/13044 which can work sometimes, what I ended up doing is to declare semi-automatic codecs for most of the classes (in its companion-object) which worked.

[2022-01-28 16:49] SethTisue opened #1912 "JsonCodecMacrosSuite failing"
as of 827794b2ce4c73eae8cdc57386a2e98f2bfe7ed6

[code]

not sure when it regressed exactly

(found by the Scala 2 community build)

[2022-01-28 16:54] zmccoy commented on #1912
Thank you for the heads up @SethTisue.

[2022-01-29 03:12] #1912 closed

[2022-02-07 00:08] zmccoy opened #1919 "Flakey spec on 2.13.8 for JavaTimeCodecSuite"
Seen on https://github.com/circe/circe/pull/1918 's run where this failed to round trip.

[code]

[2022-03-01 00:33] jcallin commented on #271
Any reason why #1275 was closed and not merged? This would be super useful

[2022-03-14 11:58] DenisNovac opened #1927 "[Feature] Recursive ADTs with specific types in some of the nodes"
Scala 2.13.8
Circe 0.14.1

Hi everyone. I am wondering if there is a way to correctly derive types like this:

[code]

I am getting this error because of `EndNode` having specific types instead of `Tree`.

[code]

Example project (sorry for Tapir parts, i didn't notice it was circe' error message before): https://github.com/DenisNovac/tapir-schema-test/blob/specific-nodes-recursive-adt/src/main/sc

[2022-03-16 16:50] dseer0 commented on #1911
in my opinion there is a problem with keys starting with whitespace
tested with input:
Map("1" -> List(), "\n55" -> List(), "4" -> List())

it seems like JVM parser (JawnParser.parse) sorts this with whitespaces at beggining
the output is:
{"\n55" : [],"1" : [],"4" : []}

with JS parser (convertJsToJson(JSON.parse(input))) it outputs:
{"1" : [],"4" : [],"\n55" : []}

its the same for '\t', ' ', ''

[2022-03-16 17:27] dseer0 commented on #1911
@armanbilge is there any reason jawn isnt the default parser on JS? or there's just no point in switching to jawn?

[2022-03-16 17:44] armanbilge commented on #1911
@dseer0 The default parser on JS is [`JSON.parse`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse) which the JS runtime can provide a high-performance (native) implementation of.

Using Jawn on JS cannot be as performant because it will compile to pure JavaScript. It will also increase the size of your final JS bundle. I haven't measured these, so it ma

[2022-03-24 01:05] Lasering commented on #1927
Why not?

[code]
The Option will force you to handle the same cases as in the EndLeaf/EndNode/StringLeaf.

[2022-03-29 10:45] omerlh opened #1933 "New release?"
Look like the latest version released is almost a year old (May 2021) and since then a lot of commits have gone into master, including version bump that fix security issues:
[code]
Are there plans to release a new version soon? I saw `0.15.0-M1` but this is also pretty old...

[2022-03-29 12:43] armanbilge commented on #1933
The good news is that the security advisory actually did not affect circe.

https://github.com/typelevel/jawn/security/advisories/GHSA-vc89-hccf-rq55

[2022-03-31 10:24] majk-p commented on #1933
@zmccoy @zarthross any plans for releases?

[2022-03-31 20:56] majk-p commented on #1933
Perfect, thank you for the update!
If there's anything I can help you with, please let me know

[2022-04-02 17:13] zarthross commented on #1933
I think the CI changes are finally ready, so we should be able to do a release relatively soon.

[2022-04-05 23:45] johnynek opened #1937 "argonaut link and why"
on the circe page: https://circe.github.io/circe/

 we see this:

1. that seems pretty outdated. It made sense when circe was a new library and cats was new. But today, I don't think this a very helpful description of the motivation of the library.
2. Even if it good, the link seems to be dead and redirect somewhere unrelated.

[2022-04-07 06:24] DenisNovac commented on #1927
@Lasering
Yes, it will work, but this is just an example. There are plenty of cases where one may need some specific type. For example, it may be some external type:

[code]

In this case you'll need to derive specific codec for StringLeafWrapper first.

[2022-04-07 07:45] sergio-margale commented on #1933
@zmccoy @zarthross will this release have `circe-generic-extras` on Scala 3?

[2022-04-07 12:58] zarthross commented on #1933
@sergio-margale Its safe to say that the next release won't include Scala 3 for circe-generic-extras.  It's certainly on the todo list to get that repo updated, and volunteers are certainly welcome.

[2022-04-07 13:36] Lasering commented on #1927
[code]
Then you need to put in the implicit scope the codecs for the types you want to convert to/from Json. This will work even for external types because `Codec`/`Encoder`/`Decoder` are typeclasses. Example:
[code]

A codec for your original example can be successfully derived in Scala 3.1.1 using the PR https://github.com/circe/circe/pull/1800. But even so I still argue the way you modeled your

[2022-04-07 18:30] zarthross commented on #1937
Agreed.  We should remove that.

[2022-04-08 21:57] armanbilge opened #1941 "Consider switching to the Jawn parser on JS"
**tl;dr** The circe-jawn parser on JS has better semantics and in many cases out-performs the `JSON.parse` method currently used by circe-parser.

Benchmarks: https://armanbilge.github.io/jsoniter-scala/index-scalajs.html

Note that the above benchmark results were extracted from https://plokhotnyuk.github.io/jsoniter-scala/index-scalajs.html; all credit goes to @plokhotnyuk.

---

In https://gith

[2022-04-09 03:23] armanbilge commented on #1911
@dseer0 we finally got some benchmarks for Jawn vs `JSON.parse` on JS, and it turns out that Jawn is quite competitive actually. I think you are right, and we should make Jawn the default on JS as well.
- https://github.com/circe/circe/issues/1941

[2022-04-18 16:37] zmccoy commented on #1937
This was cleaned up with #1939.

[2022-04-18 16:37] #1937 closed

[2022-05-04 01:03] zarthross commented on #1933
@TheKinrar we've got this PR ready to go, just waiting on review: https://github.com/circe/circe/pull/1948.  Once we get that merged we will be able to cut the next release.

[2022-05-06 04:07] broman commented on #1695
Can repro, I tried to get around it temporarily by increasing max inlines but got StackOverflow.

[2022-05-13 17:24] kubukoz commented on #1933
Hey there @zarthross, that PR looks merged, can we get that release now?

Let me know if I can help :)

[2022-05-15 03:03] zarthross commented on #1933
I think we will be able to put together the release this week.

[2022-05-19 22:12] zmccoy opened #1956 "Optimize Unit Tests speed"
During release tests are taking much too long and eating up a large amount of memory.  Where are we spending our time?  Are we doing too many iterations in certain tests?

[2022-05-19 22:37] zarthross commented on #1933
v0.14.2 is going out to maven now, feel free to let us know if you have any issues.  @zmccoy is working on release notes, we'll get those published in the next few days.

[2022-05-19 22:37] #1933 closed

[2022-05-19 23:28] armanbilge commented on #1956
The Scala.js linker is notorious for eating up large amounts of memory and generally slowing things down and OOMing CI. That could be one of the issues. See:
- https://github.com/typelevel/sbt-typelevel/pull/65#issuecomment-1008422613
- https://github.com/typelevel/sbt-typelevel/pull/244

[2022-05-19 23:53] dhinojosa commented on #1956
These ones look pretty beefy, and I have a fast M1

[code]

[2022-05-20 00:15] kubukoz commented on #1933
it's up! Thanks a lot :)

[2022-05-20 12:04] armanbilge opened #1958 "circe-scodec 0.14.2 not published for Scala 3"
- https://repo1.maven.org/maven2/io/circe/circe-scodec_2.12/
- https://repo1.maven.org/maven2/io/circe/circe-scodec_2.13/
- https://repo1.maven.org/maven2/io/circe/circe-scodec_3/

h/t @ahjohannessen

[2022-05-21 23:58] armanbilge commented on #393
For anyone running into this issue, as of v0.14.2 you can use the cross-platform `circe-jawn` parser on both JVM and JS (instead of `circe-parser`). The `circe-jawn` parser does not exhibit the problem reported in this issue, and generally will have the same semantics on both the JVM and JS.

I hope this might because the default parser in the future, see:
- https://github.com/circe/circe/issues/1

[2022-05-23 05:07] slandelle opened #1960 "circe-generic-extras not published for Scala 2.13"
Hello,

Similar to #1958 I guess. See https://repo1.maven.org/maven2/io/circe/circe-generic-extras_2.13/.

[code]

[2022-05-23 08:04] jisantuc opened #1961 "Surprising 0.15.0-M1 dependency in JS 0.14.2 release"
👋🏻 I got a nice [dep upgrade PR](https://github.com/47degrees/sbt-energymonitor/pull/43) over in `sbt-energymonitor` that looks like this: https://github.com/47degrees/sbt-energymonitor/pull/43/files (only diff is 0.14.1 -> 0.14.2). I ran into a missing symbol in tests that you can see if you click into the CI run, but the more interesting thing is:

[code]

That's surprising, since 0.14.2 is the

[2022-05-23 11:31] andreamarcolin commented on #1960
Same for circe-optics apparently

[code]

[2022-05-23 14:19] #1961 closed

[2022-05-23 14:33] zmccoy commented on #1960
@armanbilge Is correct.  We're planning on doing those releases after we're confirmed in a good spot with the circe release.  We're checking out some other issues to make sure we can move forward and proliferate that onward.

[2022-05-23 14:40] zmccoy commented on #1960
I'm going to leave this open though so other folk see this as well if they come in with questions :)

[2022-05-23 14:59] zarthross commented on #1958
Thanks @armanbilge, we'll get that fixed up ASAP.  Thanks for letting us know!

[2022-05-23 15:35] armanbilge commented on #1958
Woops, seems that circe-refined has the same problem. Probably, all the modules should be audited :(

https://repo1.maven.org/maven2/io/circe/circe-refined_2.12/
https://repo1.maven.org/maven2/io/circe/circe-refined_2.13/
https://repo1.maven.org/maven2/io/circe/circe-refined_3/

[2022-05-23 15:44] zarthross commented on #1958
@armanbilge If you feel like taking the time to set that up, we'll be happy to accept it.

[2022-05-23 19:04] armanbilge commented on #1958
While I'm at it, thoughts on migrating the circe site to the sbt-typelevel-site plugin as well, which uses Laika? I laid out the arguments in https://github.com/typelevel/cats/issues/4143.

[2022-05-23 19:08] zarthross commented on #1958
Not opposed to that, but lets do that as a separate effort if we can.  I'd prefer to be able to evaluate it separately from the CI changes.

[2022-05-23 23:28] zarthross commented on #1958
`circe-scodec` and `circe-refined` for scala3 should be going out to maven now.  I'll close this after i confirm.

[2022-05-23 23:38] zarthross commented on #1958
Looks like it's out now.

[2022-05-23 23:38] #1958 closed

[2022-05-25 05:14] armanbilge opened #1965 "Scala 3 `derives Encoder.AsObject` is broken with primitive type parameters"
This program compiles:

[code]
and prints:
[code]

However, if you change the `main` function to
[code]

Then we get this compile error:

[code]

[2022-05-25 11:59] sergiojoker11 opened #1966 "Remove value from object using a json path"
I have got code and unit tests implementing a method in JsonObject that enables removing a [nested] field using a json path of this sort "a.b[4].z". Would you be interested in it? Do I bother to generate a PR?

Method definition being:
[code]

Current behaviour ignores syntactically-wrong json paths or paths pointing at a non existing location within the json. Perhaps, I could add a separate metho

[2022-05-26 20:57] zmccoy commented on #1960
This has been published, but circe-generic-extras has no guarantees that it follows the same semver since if it releases a patch it gets 1 higher than the circe-core versioning.

[2022-05-26 20:57] #1960 closed

[2022-05-26 20:59] slandelle commented on #1960
@zmccoy Thanks! Maybe it was a coincidence the version number was the same so far, how how the original author used to release. Anyway, we're now using distinct version for our build now so scala-steward can successfully push upgrades.

Thanks a lot!

[2022-06-08 22:46] rachnasha opened #1970 "Add ability to ignore default value fields in case class encoders and only serialize these defaults value fields when they are overridden"
It would be really helpful to have a way to ignore default value fields during serialization. Decoder already have a way to do the opposite i.e. fill in default value fields thats are missing via `Configuration.default.withDefaults`.

I was thinking having a configuration like `Configuration.default.dropDefaults` that can encoders can use would be so helpful.

Use case - we have case classes with

[2022-06-10 20:33] lzm0 opened #1972 "v0.14.2 introduced significant performance degradation"
We use Circe in several Scala cron jobs. Last week or so, we upgraded Circe from `v0.14.1` to `v0.14.2`, and some cron jobs took several times longer to complete.

We ran some profiling and found that https://github.com/circe/circe/pull/1617/ caused this performance reduction by introducing a new `cursorToDecodingFailure` function in `modules/core/shared/src/main/scala/io/circe/Decoder.scala` that

[2022-06-12 02:13] zarthross commented on #1972
Thanks for the report.  That is certainly concerning.  I'll look into this as soon as I can.

[2022-06-13 15:04] lzm0 commented on #1972
When `useDefaults` is set to true in the configuration, Circe is still trying to invoke `cursorToDecodingFailure`. This should not happen.

[2022-06-14 20:05] zarthross commented on #1972
@lzm0 Can you reverse the order processing for cat and dog?  Or perform 2 cats and 2 dogs taking only the 2nd number?  I'm concerned you are operating on a cold JVM and so the cat number is artificially inflated.

[2022-06-14 20:23] lzm0 commented on #1972
You are right. In `v0.14.1`, they do not perform differently.
[code]
However, the same issue persists in `v0.14.2` when parsing 10k UUIDs.
[code]

[2022-06-14 20:25] zarthross commented on #1972
👍 Thanks for re-running that.  We have some PRs in progress to hopefully help with that.  See https://github.com/circe/circe/pull/1974

[2022-06-22 20:17] djx314 opened #1977 "Compile error with `asJson` when immediately after construct a case class."
[code]

[code]

[2022-06-23 12:07] andresld opened #1978 "Wrong `NonEmptyX` decoding failure"
Hello!

I have experienced an unexpected behavior when decoding over a `NonEmptyX` type. Consider the following case:

[code]

If I try to decode a string into a `Tasks` instance in both correct and wrong ways, it behaves as expected:

[code]

But if I try to use a `NonEmptyList` (or any other `NonEmptyX` type) instead of `List`:

[code]

then the decoding failures are not the expected ones:

[cod

[2022-06-23 15:46] djx314 commented on #1965
Now it seems that case class with type parameters should use
[code]
in companion.
And case class without type parameters can use derives.

[2022-06-26 22:35] halfhp commented on #1799
I'm running into the same issue - any update?

[2022-06-26 22:38] armanbilge commented on #1799
Probably deserves a PR.

But note that if you are using Scala 3 (and only Scala 3) you don't need `circe-generic` for derivation:
[code]

[2022-06-27 04:14] halfhp commented on #1799
In my case it's for `import io.circe.generic.extras.Configuration`

[2022-06-28 16:24] luksow opened #1980 "Automatic derivation for recursive types is broken in Scala 3"
Hi,

[code]

Both `summon`s fail but with slightly different messages:
[code]
and
[code]

Probably related to https://github.com/lampepfl/dotty/issues/8183

[2022-06-28 16:32] armanbilge commented on #1980
Thanks for the report. Note that the following works.
[code]

[2022-06-28 16:37] luksow commented on #1980
@armanbilge Yes, thanks for mentoning this workaround and sorry I forgot to :smiley:

I'm also looking for a different workaround as I'm not a big fan of mixing my precious data classes with 3rd party libraries - for the sake of domain purity.

[2022-06-28 16:38] armanbilge commented on #1980
What is the "3rd party library" in this situation?

[2022-06-28 16:40] armanbilge commented on #1980
Is this what you want?
[code]

[2022-06-28 16:42] luksow commented on #1980
Oh yes, this looks much better, thanks!!!

3rd party library in that case is circe. if I have a module that consists of only data classes, I prefer to have no dependencies and keep serialization/deserialization where it belongs (ex. router).

[2022-07-08 00:34] djx314 commented on #1965
I find two more problem.
[code]
will compile success.
And
[code]
seems to compile success.
`val f = Foo(42)` is necessary sine #1977

[2022-07-08 11:11] djx314 commented on #1980
And it seems that when a lib can use 'derives AObject', it can also use
[code]
It is not the privilege of circe.

[2022-07-11 13:57] isomarcte opened #1994 "Drop Custom Arbitrary Instances For java.time"
ScalaCheck provides these out of the box in a more complete form. We have to wait until the next release of ScalaCheck, due to needing the instances for Scalajs in testing.

See discussion in: https://github.com/circe/circe/pull/1974

[2022-07-11 22:07] isomarcte commented on #1941
I'm in favor of switching to Jawn as the default parser on 0.15.x.

[2022-07-11 22:28] armanbilge commented on #1941
There's an argument to make this change in the 0.14.x line as a bug fix.

[2022-07-13 15:18] armanbilge commented on #1941
@zarthross thanks for taking a look into this!

Genuine question: do you have some specific users in mind? The reason I ask is, although I 100% agree that in some of these microbenchmarks Jawn definitely leaves something to be desired, it also makes improvements in a number of areas.

For example `ADTReading`, `ArrayOfIntsReading`, `ArrayOfBigIntsReading`, `ArrayOfLongsReading`, `StringOfAsciiChar

[2022-07-13 16:07] armanbilge commented on #1941
Thanks.

I'll see if I can look into this. Note that Chrome and Node.js both use the same V8 Javascript runtime, so I would expect the Chrome results to be representative for Node.js.

[2022-07-15 06:59] bjornakr opened #2001 "Decoding fails when only providing a decoder for the top level class in Scala 3"
In the following snippet I have only derived a decoder for the parent class B. When trying to use the decoder, it gives a DecodingFailure on runtime, unless I also provide a decoder for the child class B. This only seems to be a problem when the child class is optional. I would expect either a compilation error like you would get in Scala 2, or a working decoder for the whole structure.

Any ideas

[2022-07-15 07:06] armanbilge commented on #2001
`case class B(a: Option[A]) derives Decoder` seems to work. This is the idiomatic way to write it in Scala 3.

[2022-07-21 11:05] hartmut27 opened #2006 "value decodeEnumeration is not a member of object io.circe.Decoder (Scala 3)"
I've used an Enumeration Circe Encoder/Decoder in Scala 2; and want to _Cross Compile_ to Scala 3 _also_.
It compiles and runs nicely under Scala 2, but...
.. when heading to Scala 3 as by performing
```sbt "migrate main" ```
the process gets stuck at:

[code]
[code]
build.sbt:
[code]
project/plugins.sbt:
[code]
any ideas what I could do?

[2022-07-21 14:15] armanbilge commented on #2006
I'm not sure why the enumeration-related methods are not available in Scala 3. Perhaps they can be moved from Scala 2 only sources to shared sources? If the test suite passes in Scala 3 seems like it should be fine.

[2022-07-29 00:49] ouardateaicha opened #2008 "no implicit values were found that match type io.circe.export.Exported[io.circe.Decoder[T]]"
Hello,

I have this code and i don t understand why it not working:

[code]

When i run it, i have this error :

[code]

build.sbt:

[code]

Any idea how to solve this?

many thanks

[2022-07-30 23:32] sbuzzard commented on #1972
We saw similiar performance degradation when we moved from 0.15.0-M1 to 0.14.2 for a very large payload (list of 25k items (where it went from a few seconds well over a minute).  It was for one particular payload - still working on minimizing .  We do have some decoders that use ".or" combinators so maybe error handling overhead internally is causing?  Will post a minimization here if I can.  I mo

[2022-07-30 23:36] armanbilge commented on #1972
@sbuzzard you can try `publishLocal`ing  https://github.com/circe/circe/pull/1974, the OP said it fixed their issues in https://github.com/circe/circe/pull/1974#issuecomment-1179361889. Would be nice to setup auto-snapshotting here.

[2022-07-30 23:54] sbuzzard commented on #1972
Oh, nice - doing too many things at the same time and completely spaced on that - thanks.  Will try it out.

[2022-07-31 00:19] sbuzzard commented on #1972
yep, fixed my issue as well., thx.

[2022-08-10 00:05] amumurst commented on #2008
(I don't know how familiar you are with these concepts, so I just made an explanation which might be too low/high level)

In this code
[code]
You use the method `converteToObj` with type `Test[T]`. If we look at that method it requires a decoder for `Test[T]` to be available in scope (implicit).

Earlier in the code you have
`implicit def RcpDecoder[T: Decoder]: Decoder[Test[T]] = deriveDecoder` w

[2022-08-18 10:01] yanns opened #2014 "no v0.14.2 artifacts for circe-optics with 2.12"
circe optics was released with scala 2.12 in version 0.14.1: https://repo1.maven.org/maven2/io/circe/circe-optics_2.12/0.14.1/
But there's no artifacts for the release 0.14.2 for this scala version.

[2022-08-18 10:08] yanns commented on #2014
Actually there is also no artifacts for scala 2.13.

https://repo1.maven.org/maven2/io/circe/circe-optics_2.13/0.14.2/ is a 404.

[2022-08-18 14:22] armanbilge commented on #2014
circe-optics is publish independently with independent version numbers.

https://github.com/circe/circe-optics

[2022-08-18 16:20] yanns commented on #2014
Thanks for the quick info!

[2022-08-18 16:20] #2014 closed

[2022-08-31 12:06] ecastilla95 commented on #1695
Any updates on this?

[2022-09-05 08:29] PsyfireX commented on #1760
This issues appears to still persist in `circe-core_3` version `0.14.2`

(I was able to manually create a decoder and work around the issue.)

[2022-09-07 15:52] armanbilge commented on #1077
Scala Native support is landing in https://github.com/circe/circe/pull/2017.

[2022-09-16 10:49] augi opened #2021 "Missing circe-generic-extras in 0.14.3"
See in Maven Central: https://search.maven.org/artifact/io.circe/circe-generic-extras_2.13 The latest published version is `0.14.2`.

[2022-09-16 10:52] augi commented on #2021
https://github.com/circe/circe-generic-extras/issues/242

[2022-09-16 10:52] #2021 closed, assigned to nobody

[2022-09-24 12:10] armanbilge opened #2028 "Schism scodec and refined modules"
And maybe shapes?

Scodec and refined add new dependency liabilities. We already have a shapeless dep, so the argument to schism shapes would have to be on its own merits.

[2022-09-29 08:48] adamnfish commented on #1787
This would be great, but for it to work circe would need to move to a `1.x` release. Version schemes typically treat `0.x` versions as "development", so the standard rules of compatibility will not apply.

Here's the reference in the sbt documentation that describes the supported options, in all these cases the current circe approach will not work:
https://www.scala-sbt.org/1.x/docs/Publishing.htm

[2022-09-29 09:02] majk-p commented on #1787
Thanks for the input Adam! Can you please tell a little more about current circe approach to versionning? Is it possible that patch updates could break binary compatibility?

[2022-09-29 09:25] adamnfish commented on #1787
Version 0.14.x of circe is backwards-binary-compatible with 0.13.x versions, as you'd expect for a minor change in a mature library, but as you might not expect for a pre-release minor bump. The assumption that this works informs decisions like the choice [not to specifically publish libraries to maintain version parity](https://github.com/circe/circe-derivation/issues/346#issuecomment-910219725).

[2022-09-29 09:47] majk-p commented on #1787
I agree it would be great to have circe adopt `versionScheme`. For the time being, I'm wondering if `semver-spec` isn't something that correctly describes present behavior, quoting the [sbt versionSchem docs](https://www.scala-sbt.org/1.x/docs/Publishing.html#Version+scheme)

Do you think starting with `semver-spec` and then aiming to adopt `early-semver` makes sense? I guess this would at least s

[2022-09-29 10:02] adamnfish commented on #1787
The trouble is that right now the ecosystem [depends](https://github.com/circe/circe-derivation/issues/346#issuecomment-910219725) on compatibility between `0.13.x` and `0.14.x` but adding a `versionScheme` would explicitly instruct tools to consider these as incompatible. As far as I can see, none of the supported version schemes would treat these two versions as compatible so we'd be needing cir

[2022-09-29 12:46] armanbilge commented on #1787
@majk-p @adamnfish thanks for discussing this important topic, I only skimmed your conversation, but here are a couple pointers that might be helpful.

1. Circe publishes its version scheme. `<info.versionScheme>early-semver</info.versionScheme>`
https://repo1.maven.org/maven2/io/circe/circe-core_2.13/0.14.3/circe-core_2.13-0.14.3.pom

2. It follows the versioning rules described here:
https://typ

[2022-09-29 13:05] majk-p commented on #1787
Then I think it makes this issue basically solved :wink:

[2022-09-29 13:47] adamnfish commented on #1787
I agree it sounds like this issue is already addressed, thank you!

Thank you for sharing those links, @armanbilge. Looking back at previous pom files it seems the `versionScheme` setting was included in circe's most recent release, `0.14.3`.

This means my fears may have already come true, and I suspect that is why the bump to `0.14.3` breaks the build on projects that transitively include circe

[2022-09-29 13:56] armanbilge commented on #1787
I am not sure what you mean by "this is not the case". In case there is any doubt, the release notes for Circe 0.14.0 clearly indicate that it is mostly but not 100% binary-compatible with 0.13.x.

https://github.com/circe/circe/releases/tag/v0.14.0

Hence, the version bump is appropriate.

[2022-09-29 14:05] adamnfish commented on #1787
I've been referring to [this comment on circe-derivation](https://github.com/circe/circe-derivation/issues/346#issuecomment-910219725) that states circe core is binary compatible across those versions. This compatibility was the reason for not needing to publish versions in sync with the rest of the circe ecosystem. In any case, it sounds like circe-derivation will get a new release soon.

I am co

[2022-09-29 14:15] armanbilge commented on #1787
I see, thanks for that pointer. I was not aware that users were expected to rely on that. Although that may have been true that core 0.14.0 was binary-compatible with core 0.13.x, this relationship is not currently enforced in CI so it is not something you should count on.

Note that just because 0.14.x is binary-compatible with 0.14.0, and 0.14.0 is binary-compatible with 0.13.x, does not mean th

[2022-10-03 06:29] cipriandrei10 opened #2031 "No artifact for circe-generic-extras v0.14.3"
There is no artifact published for circe-generic-extras v0.14.3 in https://mvnrepository.com/artifact/io.circe/circe-generic-extras

[2022-10-03 06:30] cipriandrei10 opened #2032 "No artifact for circe-optics v0.14.3"
There is no artifact published for circe-optics v0.14.3 in https://mvnrepository.com/artifact/io.circe/circe-optics

[2022-10-03 12:06] armanbilge commented on #2031
circe-generic-extras is published from a different repository, with completely independent versioning of this repository. You should not count on the version numbers matching circe core :)

https://github.com/circe/circe-generic-extras/

[2022-10-03 12:06] armanbilge commented on #2032
circe-optics is published from a different repository, with completely independent versioning of this repository. You should not count on the version numbers matching circe core :)

https://github.com/circe/circe-optics

[2022-10-03 15:16] cipriandrei10 commented on #2031
oh, I see, my bad. thank you!

noticed this issue https://github.com/circe/circe-generic-extras/issues/242 as well, would be nice though to have all circe releases under same version

[2022-10-03 15:16] #2031 closed, assigned to nobody

[2022-10-03 15:16] cipriandrei10 commented on #2032
oh, I see, my bad. thank you!

[2022-10-03 15:16] #2032 closed, assigned to nobody

[2022-10-06 22:06] #1972 closed

[2022-10-09 05:26] liewhite opened #2033 "Enum singleton cases should be optionally serialized to string."
[code]

In most situations, serializing singleton cases to empty object is meaningless.  Actually, we want a string const here.

[2022-10-24 21:42] zarthross commented on #2031
https://github.com/circe/circe-generic-extras/releases/tag/v0.14.3

[2022-11-02 14:36] andreisilviudragnea opened #2051 "Slow codec automatic derivation"
When comparing codec automatic derivation with semi-automatic derivation (explicit or using `JsonCodec`), automatic derivation is very slow.

In each file which contains `import io.circe.generic.auto._`, if there is an expression like `Decoder.apply[SomeType]` (or any circe call which needs an implicit `Decoder[T]` instance), an automatically derived decoder will be generated for each implicit cal

[2022-11-22 17:14] morgen-peschke opened #2062 "Decoder.decodeAccumulating discards errors in ADTs"
The microsite shows [the standard way to write a `Decoder` for an ADT](https://circe.github.io/circe/codecs/adt.html) is to merge a list of `Decoder`s using `Decoder#or`:
[code]

This works when the JSON is correct, and produces misleading errors when the JSON structure is incorrect:
[code]
Which makes sense, as `decode` returns as single error. What makes less sense is that `decodeAccumulating` r